[Desktop Entry]
Name=Calibrate Touchscreen
Name[de]=Touchscreen Kalibrieren
Name[ja]=タッチパネルの補正
Comment=Run the touchscreen calibration tool
Comment[ja]=タッチパネルの位置補正をします
Encoding=UTF-8
Exec=gksu /usr/bin/calibrate_touchscreen
Terminal=false
Type=Application
Icon=calibrate.png
StartupNotify=true
Categories=GTK;System;Settings;
X-Ubuntu-Gettext-Domain=evtouch
