[Desktop Entry]
Name=Document Viewer
GenericName=Document Viewer
Comment=View multipage documents
TryExec=evince
Exec=evince %U
StartupNotify=true
Terminal=false
Type=Application
Icon=evince
NoDisplay=true
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evince
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.26.1
Categories=GNOME;GTK;Graphics;VectorGraphics;Viewer;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;application/x-bzdvi;application/x-gzdvi;image/vnd.djvu;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;image/*;application/vnd.sun.xml.impress;application/vnd.oasis.opendocument.presentation;
X-Ubuntu-Gettext-Domain=evince
