[Desktop Entry]
Name=Configuration Editor
Comment=Directly edit your entire configuration database
Exec=gconf-editor
Terminal=false
Type=Application
Icon=gconf-editor
StartupNotify=true
NoDisplay=true
Categories=GNOME;GTK;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gconf-editor
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.26.0
X-Ubuntu-Gettext-Domain=gconf-editor
