[Desktop Entry]
Name=Floppy Formatter
Comment=Format floppy disks
Exec=gfloppy
Terminal=false
Icon=gnome-dev-floppy
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;
NotShowIn=KDE;
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gfloppy
MimeType=x-device/floppy;
X-Ubuntu-Gettext-Domain=gnome-utils-2.0
