[Desktop Entry]
Encoding=UTF-8
Name=Sound Recorder
Comment=Record sound clips
Exec=gnome-sound-recorder
Icon=gnome-sound-recorder
StartupNotify=true
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-DocPath=grecord/grecord.xml
Categories=GNOME;GTK;AudioVideo;Audio;Recorder;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=Gnome-Sound-Recorder
X-GNOME-Bugzilla-Version=2.26.0
X-Ubuntu-Gettext-Domain=gnome-media-2.0
