[Desktop Entry]
Encoding=UTF-8
Name=Screensaver
Comment=Set your screensaver preferences
Icon=preferences-desktop-screensaver
Exec=gnome-screensaver-preferences
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
OnlyShowIn=GNOME;XFCE;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-screensaver
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=gnome-screensaver
