[Desktop Entry]
Encoding=UTF-8
Name=Volume Control
Comment=Adjust the volume level
Exec=gnome-volume-control
Icon=multimedia-volume-control
StartupNotify=true
X-Info=Gnome Mixer
Terminal=false
Type=Application
NoDisplay=true
Categories=GNOME;GTK;AudioVideo;Settings;HardwareSettings;
X-GNOME-DocPath=gst-mixer/gnome-volume-control.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gnome-volume-control
X-GNOME-Bugzilla-Version=2.26.0
X-Ubuntu-Gettext-Domain=gnome-media-2.0
