[Desktop Entry]
Name=Hardware Drivers
Name[ast]=Controladores de hardware
Name[ca]=Controladors de maquinari
Name[cs]=Ovladače hardwaru
Name[de]=Hardware-Treiber
Name[el]=Οδηγοί υλικού
Name[en_GB]=Hardware Drivers
Name[es]=Controladores de hardware
Name[eu]=Hardware-Kontrolatzaileak
Name[fi]=Laiteajurit
Name[fr]=Pilotes de périphériques
Name[gl]=Controladores de Hardware
Name[he]=מנהלי התקנים
Name[hu]=Eszközmeghajtók
Name[it]=Driver hardware
Name[ja]=ハードウェア・ドライバ
Name[ka]=მოწყობილობების დრაივერები
Name[ko]=하드웨어 드라이버
Name[lt]=Aparatinės įrangos valdyklės
Name[lv]=Aparatūras draiveri
Name[pl]=Sterowniki
Name[pt]=Controladores de Hardware
Name[pt_BR]=Drivers de hardware
Name[ro]=Drivere hardware
Name[ru]=Драйверы устройств
Name[sk]=Ovládače hardvéru
Name[sv]=Hårdvarudrivrutiner
Name[uk]=Апаратні драйвера
Name[zh_CN]=硬件驱动
Name[zh_HK]=硬體驅動程式
Name[zh_TW]=硬體驅動程式
Comment=Configure third-party and proprietary drivers
Comment[ast]=Configurar controladores privativos y de terceros
Comment[ca]=Configura els controladors de tercers i de propietat
Comment[cs]=Nastavit nesvobodné ovladače a ovladače třetích stran
Comment[de]=Drittanbieter- und proprietäre Hardware-Treiber konfigurieren
Comment[el]=Ρυθμίστε τους ιδιωτικούς οδηγούς και τους οδηγούς τρίτων
Comment[en_GB]=Configure third-party and proprietary drivers
Comment[es]=Configurar controladores privativos y de terceros
Comment[eu]='Third-party'-en kontrolatzaileak eta kontrolatzaile mugatuak konfiguratu
Comment[fi]=Muuta kolmannen osapuolen ajureiden tai suljettujen ajureiden asetuksia
Comment[fr]=Configurer les pilotes propriétaires et de tierces parties
Comment[gl]=Configurar controladores de terceiras partes e propietarios
Comment[hu]=Külső fejlesztésű és zárt meghajtók beállítása
Comment[it]=Configura driver di terze parti e proprietari
Comment[ja]=サードパーティドライバおよびプロプライエタリドライバを設定します
Comment[ka]=მესამე მხარის შეზღუდული დრაივერების გამართვა
Comment[ko]=써드파티 드라이버와 독점 드라이버 설정
Comment[lt]=Tvarkyti papildomas bei nuosavybines valdykles
Comment[lv]=Konfigurēt draiverus no citiem avotiem un īpašniekdraiverus
Comment[pl]=Konfigurowanie sterowników własnościowych oraz osób trzecich
Comment[pt_BR]=Configura drivers terceiros ou proprietários
Comment[ro]=Configurează driverele din surse terțe sau proprietare
Comment[ru]=Настройка сторонних и проприетарных драйверов
Comment[sk]=Nastavovať ovládače uzavreté a tretej strany
Comment[sv]=Konfigurera tredjeparts- och proprietära drivrutiner
Comment[zh_CN]=配置第三方和专有驱动
Comment[zh_HK]=配置第三方或專利驅動程式
Comment[zh_TW]=配置第三方或專利驅動程式
Icon=jockey
Exec=/usr/bin/jockey-gtk
Terminal=false
Type=Application
Categories=System;Settings;GTK;HardwareSettings;
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=jockey
