[Desktop Entry]
Name=Language Support
Comment=Configure multiple and native language support on your system
Exec=/usr/bin/gnome-language-selector
Icon=config-language
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
X-Ubuntu-Gettext-Domain=language-selector
NotShowIn=KDE
