[Desktop Entry]
Name=Encryption and Keyrings
Comment=Configure key servers and other encryption settings
Exec=seahorse-preferences
Terminal=false
Type=Application
Icon=seahorse-preferences
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-DocPath=seahorse/seahorse.xml
X-Ubuntu-Gettext-Domain=seahorse-plugins
