#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Sharp User's Registration
Name[ja]=シャープユーザー登録
Comment=User's Registration
Comment[ja]=ご愛用者登録をします
GenericName=Sharp User's Registration
Exec=firefox /usr/share/sharp/MitUser/user.htm
Terminal=false
Type=Application
Icon=/usr/share/icons/araneo/user128x128.png

