#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=setup a quick start button
Name[ja_JP]=クイックスタートボタンの設定
Comment=You can setup a quick start button.
Comment[ja_JP]=クイックスタートボタンの動作を設定します
Icon=/usr/share/pixmaps/QSBSetting.png
Icon[ja_JP]=/usr/share/pixmaps/QSBSetting.png
Exec=/usr/bin/tdsetting
Terminal=false
Type=Application
Categories=Applications;Settings;
