[Desktop Entry]
Name=Movie Player (Gstreamer)
Name[ar]=مشغل الأفلام (Gstreamer)
Name[as]=মুভি প্লেয়াৰ (Gstreamer)
Name[ast]=Reproductor de películes (Gstreamer)
Name[be]=Відэаплэер (Gstreamer)
Name[be@latin]=Videaplayer Totem (Gstreamer)
Name[bg]=Изпълнение на филми (Gstreamer)
Name[bn]=মুভি প্লেয়ার (Gstreamer)
Name[bn_IN]=মুভি প্লেয়ার (Gstreamer)
Name[br]=Lenner filmoù (Gstreamer)
Name[ca]=Reproductor de pel·lícules (Gstreamer)
Name[cs]=Přehrávač filmů (Gstreamer)
Name[cy]=Chwaraewr Ffilmiau (Gstreamer)
Name[da]=Filmafspiller (Gstreamer)
Name[de]=Video-Player (Gstreamer)
Name[dz]=ཊོ་ཊེམ་གློག་བརྙན་གཏང་འཕྲུལ། (Gstreamer)
Name[el]=Αναπαραγωγή ταινιών (Gstreamer)
Name[en_CA]=Movie Player (Gstreamer)
Name[en_GB]=Movie Player (Gstreamer)
Name[es]=Reproductor de películas (Gstreamer)
Name[et]=Filmiesitaja (Gstreamer)
Name[eu]=Film-erreproduzitzailea (Gstreamer)
Name[fi]=Elokuvasoitin (Gstreamer)
Name[fr]=Lecteur vidéo (Gstreamer)
Name[ga]=Seinnteoir Scannán (Gstreamer)
Name[gl]=Reprodutor de filmes (Gstreamer)
Name[gu]=ચિત્રપટ પ્લેયર (Gstreamer)
Name[he]=נגן סרטים (Gstreamer)
Name[hi]=मूवी प्लेयर (Gstreamer)
Name[hr]=Preglednik filmova (Gstreamer)
Name[hu]=Médialejátszó (Gstreamer)
Name[id]=Pemutar Film (Gstreamer)
Name[it]=Riproduttore di filmati (Gstreamer)
Name[ja]=動画プレイヤー (Gstreamer)
Name[ka]=ტოტემ ფილმის გამშვები (Gstreamer)
Name[kn]=ಚಲನಚಿತ್ರ ಚಾಲಕ (Gstreamer)
Name[ko]=동영상 플레이어 (Gstreamer)
Name[lt]=Filmų leistuvas (Gstreamer)
Name[lv]=Filmu atskaņotājs (Gstreamer)
Name[mai]=मूवी प्लेयर (Gstreamer)
Name[mg]=Mpandefa sarimihetsika (Gstreamer)
Name[mk]=Пуштач на филмови (Gstreamer)
Name[ml]=മൂവി പ്ലേയര്‍ (Gstreamer)
Name[mr]=चित्रपट वादक (Gstreamer)
Name[nb]=Filmavspiller (Gstreamer)
Name[ne]=चलचित्र प्लेयर (Gstreamer)
Name[nl]=Totem mediaspeler (Gstreamer)
Name[nn]=Filmspelar (Gstreamer)
Name[or]=ସିନେମା ଚାଳକ (Gstreamer)
Name[pa]=ਮੂਵੀ ਪਲੇਅਰ (Gstreamer)
Name[pl]=Odtwarzacz filmów Totem (Gstreamer)
Name[ps]=فلم غږونکی (Gstreamer)
Name[pt]=Reprodutor de Filmes (Gstreamer)
Name[pt_BR]=Reprodutor de filmes (Gstreamer)
Name[ro]=Player pentru filme (Gstreamer)
Name[ru]=Видеопроигрыватель (Gstreamer)
Name[si]=සළරූ ධාවකය (Gstreamer)
Name[sk]=Prehrávač filmov (Gstreamer)
Name[sl]=Predvajalnik posnetkov (Gstreamer)
Name[sq]=Luajtës filmash (Gstreamer)
Name[sr]=Гномов биоскоп и музичка кутија (Gstreamer)
Name[sr@latin]=Gnomov bioskop i muzička kutija (Gstreamer)
Name[sv]=Filmuppspelare (Gstreamer)
Name[ta]=திரைப்பட இயக்கி (Gstreamer)
Name[te]=చలనచిత్రములు చూపునది (మూవీ ప్లేయర్) (Gstreamer)
Name[th]=โปรแกรมเล่นภาพยนตร์ (Gstreamer)
Name[tr]=Film Oynatıcı (Gstreamer)
Name[uk]=Відеопрогравач (Gstreamer)
Name[vi]=Bộ phát phim (Gstreamer)
Name[zh_CN]=电影播放机 (Gstreamer)
Name[zh_HK]=影片播放器 (Gstreamer)
Name[zh_TW]=影片播放器 (Gstreamer)
Comment=Play movies and songs
Comment[ar]=شغِّل الأفلام و الموسيقى
Comment[as]=চলচ্চিত্ৰ আৰু সংগীত পৰিবেশন
Comment[ast]=Reproducir películes y sones
Comment[az]=Film və mahnlıarı seyr edin və dinləyin
Comment[be]=Грае фільмы і песьні
Comment[be@latin]=Hraje filmy j pieśni
Comment[bg]=Гледане на филми и слушане на песни
Comment[bn]=চলচ্চিত্র ও সঙ্গীত পরিবেশন
Comment[bn_IN]=চলচ্চিত্র ও সংগীত পরিবেশন
Comment[br]=Lenn filmoù ha sonennoù
Comment[ca]=Reproduïu vídeos i cançons
Comment[cs]=Přehrávání filmů a písniček
Comment[cy]=Chwarae ffilmiau a chaneuon
Comment[da]=Afspil film og sange
Comment[de]=Filme und Musik wiedergeben
Comment[dz]=གློག་བརྙན་དང་ ཞབས་ཁྲ་གཏང་།
Comment[el]=Αναπαραγωγή τραγουδιών και ταινιών
Comment[en_CA]=Play movies and songs
Comment[en_GB]=Play movies and songs
Comment[es]=Reproduzca películas y canciones
Comment[et]=Filmide ja muusika esitamine
Comment[eu]=Erreproduzitu filmak eta kantak
Comment[fa]=پخش فیلم و آهنگ
Comment[fi]=Toista elokuvia ja musiikkia
Comment[fr]=Lire les films et la musique
Comment[ga]=Seinn scannáin agus amhráin
Comment[gl]=Reproducir filmes e cancións
Comment[gu]=ફિલ્મો અને ગીતો વગાડો
Comment[he]=מנגן סרטים ושירים
Comment[hi]=बजाएँ मूवी और गीत
Comment[hr]=Reproducira filmove i pjesme
Comment[hu]=Filmek és dalok lejátszása
Comment[id]=Mainkan film dan lagu
Comment[is]=Leika kvikmyndir og tónlist
Comment[it]=Riproduce filmati e musica
Comment[ja]=動画や楽曲を再生します
Comment[ka]=ფილმების ან სიმღერების დაკვრა
Comment[kn]=ಚಲನಚಿತ್ರಗಳನ್ನು ಹಾಗು ಹಾಡುಗಳನ್ನು ಚಲಾಯಿಸಿ
Comment[ko]=동영상과 음악 재생
Comment[lt]=Žiūrėkite filmus ir klausykitės muzikos
Comment[lv]=Atskaņot filmas un dziesmas
Comment[mai]=चलाउ मूवी आओर गाना
Comment[mg]=Mandefa sarimihetsika sy hira
Comment[mk]=Пушти филмови и песни
Comment[ml]=സിനിമയും പാട്ടുകളും പ്രവര്‍ത്തിപ്പിക്കുന്നു
Comment[mr]=चित्रपट आणि गाणी चालवा
Comment[ms]=Mainkan cereka dan lagu
Comment[nb]=Spill av filmer og sanger
Comment[ne]=चलचित्र र गीत बजाउनुहोस्
Comment[nl]=Films en muziek afspelen
Comment[nn]=Spel filmar og musikk
Comment[or]=ସିମେମା ଏବଂ ସଙ୍ଗୀତ ଚଳାନ୍ତୁ
Comment[pa]=ਵੀਡਿਓ ਅਤੇ ਗਾਣੇ ਚਲਾਓ
Comment[pl]=Odtwarza filmy i muzykę
Comment[ps]=فلمونه او سندرې لګول
Comment[pt]=Reproduzir filmes e músicas
Comment[pt_BR]=Reproduza filmes e músicas
Comment[ro]=Redă filme și melodii
Comment[ru]=Воспроизводит фильмы и песни
Comment[si]=චිත්‍රපට සහ ගීත ධාවනය කරන්න
Comment[sk]=Prehrávať filmy a hudbu
Comment[sl]=Predvajanje filmov in glasbe
Comment[sq]=Luan filma dhe muzikë
Comment[sr]=Пуштање филмова и песама
Comment[sr@latin]=Puštanje filmova i pesama
Comment[sv]=Spela upp filmer och låtar
Comment[ta]=திரைப்படங்கள் மற்றும் பாடல்களை இயக்கு
Comment[te]=చలనచిత్రములను మరియు పాటలను ఆడించునది
Comment[th]=เล่นภาพยนตร์และเพลง
Comment[tr]=Filmleri ve şarkıları çal
Comment[ug]=كىنو ۋە ناخشىلارنى قويۇش
Comment[uk]=Відтворення відео і звуку
Comment[vi]=Phát phim và nhạc
Comment[wa]=Djouwer des videyos et des tchansons
Comment[xh]=Dlala imifanekiso-bhanyabhanya neengoma
Comment[zh_CN]=播放电影和歌曲
Comment[zh_HK]=播放影片及音樂
Comment[zh_TW]=播放影片及音樂
Exec=totem-gstreamer %U
Icon=totem
Terminal=false
Type=Application
Categories=GTK;GNOME;AudioVideo;Player;Video;
X-GNOME-DocPath=totem/totem.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=totem
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.26.1
X-GNOME-Bugzilla-OtherBinaries=totem-video-indexer;totem-video-thumbnailer;totem-audio-preview;
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/totem/gstreamer/totem/totem-bugreport.py
StartupNotify=true
X-Ubuntu-Gettext-Domain=totem
NoDisplay=true
