[Desktop Entry]
Encoding=UTF-8
Name=Cosmos
Comment=Display a slideshow of pictures of the cosmos
Exec=slideshow --location=/usr/share/pixmaps/backgrounds/cosmos
TryExec=slideshow
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Screensaver;
OnlyShowIn=GNOME;X-Ubuntu-Gettext-Domain=gnome-screensaver
