<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
   
  <vendor>Screen Resolution Extra</vendor>
  <vendor_url>https://launchpad.net/screen-resolution-extra</vendor_url>

  <action id="com.ubuntu.screenresolution.mechanism.configure">
    <description>Change Screen Resolution Configuration</description>
    <message>Changing the Screen Resolution configuration requires privileges.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep_always</allow_active>
    </defaults>
  </action>

  <action id="com.ubuntu.screenresolution.mechanism.dontzap">
    <description>Change the effect of Ctrl+Alt+Backspace</description>
    <message>Changing the effect of Ctrl+Alt+Backspace requires privileges.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep_always</allow_active>
    </defaults>
  </action>

</policyconfig>