<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <action id="org.freedesktop.systemtoolsbackends.set">
    <description>Manage system configuration</description>
    <description xml:lang="bg">Управление на системна конфигурация</description>
    <description xml:lang="de">Systemkonfiguration verwalten</description>
    <description xml:lang="es">Gestionar la configuración del sistema</description>
    <description xml:lang="fi">Hallitse järjestelmäasetuksia</description>
    <description xml:lang="fr">Gérer la configuration du système</description>
    <description xml:lang="hu">Rendszerbeállítások kezelése</description>
    <description xml:lang="pl">Zarządzanie konfiguracją systemu</description>
    <description xml:lang="pt_BR">Gerenciar configuração do sistema</description>
    <description xml:lang="ro">Administrează configurația sistemului</description>
    <description xml:lang="sv">Hantera systemkonfiguration</description>
    <description xml:lang="tr">Sistem ayarlarına bakma</description>
    <message>System policy prevents modifying the configuration</message>
    <message xml:lang="bg">Системна политика пречи на промяна на конфигурацията</message>
    <message xml:lang="de">Die Systemrichtlinien verhindern eine Änderung der Konfiguration</message>
    <message xml:lang="es">La política del sistema impide modificar la configuración</message>
    <message xml:lang="fi">Järjestelmän valtuutusasetus estää asetusten muuttamisen</message>
    <message xml:lang="fr">Une politique système empêche la modification de la configuration</message>
    <message xml:lang="hu">A rendszer házirendje megakadályozza a beállítások módosítását</message>
    <message xml:lang="pl">Polityka systemowa blokuje modyfikowanie konfiguracji</message>
    <message xml:lang="pt_BR">Política do sistema que impede modificação de configuração</message>
    <message xml:lang="ro">Politica sistemului impiedică modificarea configurației</message>
    <message xml:lang="sv">Systemets policy förhindrar ändring av konfigurationen</message>
    <message xml:lang="tr">Sistem kuralları ayarların değiştirilmesini engelliyor</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.systemtoolsbackends.self.set">
    <description>Change user configuration</description>
    <description xml:lang="bg">Промяна на потребителска конфигурация</description>
    <description xml:lang="de">Benutzereinstellungen ändern</description>
    <description xml:lang="es">Cambiar la configuración del usuario</description>
    <description xml:lang="fi">Muuta käyttäjäasetuksia</description>
    <description xml:lang="fr">Modifier la configuration de l'utilisateur</description>
    <description xml:lang="hu">Felhasználói információk módosítása</description>
    <description xml:lang="pl">Zmiana konfiguracji użytkownika</description>
    <description xml:lang="pt_BR">Alterar configuração do usuário</description>
    <description xml:lang="ro">Modifică configurația utilizatorului</description>
    <description xml:lang="sv">Ändra användarkonfiguration</description>
    <description xml:lang="tr">Kullanıcı ayarlarının değişimi</description>
    <message>System policy prevents modifying the user configuration</message>
    <message xml:lang="bg">Системна политика пречи на промяна на потребителската конфигурация</message>
    <message xml:lang="de">Die Systemrichtlinien verhindern eine Änderung der Benutzereinstellungen</message>
    <message xml:lang="es">La política del sistema impide modificar la configuración de usuario</message>
    <message xml:lang="fi">Järjestelmän valtuutusasetus estää käyttäjäasetusten muuttamisen</message>
    <message xml:lang="fr">Une politique système empêche la modification de la configuration de l'utilisateur</message>
    <message xml:lang="hu">A rendszer házirendje megakadályozza a felhasználói beállítások módosítását</message>
    <message xml:lang="pl">Polityka systemowa blokuje modyfikowanie konfiguracji użytkownika</message>
    <message xml:lang="pt_BR">Política do sistema que impede modificação de configuração do usuário</message>
    <message xml:lang="ro">Politica sistemului impiedică modificarea configurației utilizatorului</message>
    <message xml:lang="sv">Systemets policy förhindrar ändring av användarkonfigurationen</message>
    <message xml:lang="tr">Sistem kuralları kullanıcı ayarlarının değiştirilmesini engelliyor</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>