#!/bin/sh

# Debconf config script for gnome-applets
prog=/usr/bin/cpufreq-selector

test -e $prog || exit 0

# Load Debconf
. /usr/share/debconf/confmodule
db_version 2.0

# Set default value to match current state of file
if [ -u $prog ]; then
	db_set gnome-applets/cpufreq_SUID_bit true
else 
	db_set gnome-applets/cpufreq_SUID_bit false
fi

# Prompt for user input
db_input low gnome-applets/cpufreq_SUID_bit || true
db_go

# Update statoverrides as necessary
db_get gnome-applets/cpufreq_SUID_bit
if [ "$RET" = "true" ]; then
	if ! dpkg-statoverride --list $prog > /dev/null; then
		dpkg-statoverride --add --update	\
			root root 4755 $prog > /dev/null 2>&1
	fi;
else
	if dpkg-statoverride --list $prog > /dev/null; then
		dpkg-statoverride --remove $prog
	fi;
fi;
