[Desktop Entry]
X-AppInstall-Package=abrowser-3.5-branding
X-AppInstall-Popcon=14
X-AppInstall-Section=universe

Version=1.0
Name=A Web Browser 3.5
Comment=Browse the World Wide Web
GenericName=Web Browser 3.5
Exec=abrowser-3.5 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=abrowser-3.5
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
