[Desktop Entry]
X-AppInstall-Package=abuse
X-AppInstall-Popcon=197
X-AppInstall-Section=universe

Version=1.0
Name=Abuse
Type=Application
GenericName=abuse
Comment=Play a clone of the classic Abuse shooter
Exec=abuse
Icon=abuse
Terminal=false
Hidden=false
Categories=Game;ActionGame;
X-Ubuntu-Gettext-Domain=app-install-data
