[Desktop Entry]
Encoding=UTF-8
Name=Adblock Plus extension for Firefox
Comment=Advertisement blocking extension
GenericName=Firefox extension
Type=Application
Icon=adblock-plus
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=adblock-plus
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
