[Desktop Entry]
X-AppInstall-Package=aeolus
X-AppInstall-Popcon=449
X-AppInstall-Section=universe

Name=Aeolus
Comment=Organ Emulator
Exec=/usr/bin/aeolus
Terminal=false
Type=Application
Icon=audio-x-generic
Categories=Application;AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
