[Desktop Entry]
X-AppInstall-Package=alexandria
X-AppInstall-Popcon=191
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Alexandria Book Collection Manager
GenericName=Book Collection Manager
Comment=Manage your book collection
Exec=/usr/bin/alexandria
Terminal=false
Categories=GNOME;GTK;Office;Database;
Icon=alexandria
X-Ubuntu-Gettext-Domain=app-install-data
