[Desktop Entry]
Encoding=UTF-8
Name=All in one Sidebar extension for Firefox
Comment=A sidebar extension for Firefox
GenericName=Firefox extension
Type=Application
Icon=all-in-one-sidebar
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=all-in-one-sidebar
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
