[Desktop Entry]
X-AppInstall-Package=amide
X-AppInstall-Popcon=41
X-AppInstall-Section=universe

GenericName=Medical Image Examiner
Name=Amide
Comment=A Medical Image Data Examiner
Exec=amide
Icon=amide_logo.png
Terminal=false
Type=Application
Categories=Graphics;


X-Ubuntu-Gettext-Domain=app-install-data
