[Desktop Entry]
X-AppInstall-Package=ams
X-AppInstall-Popcon=141
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Alsa Modular Synth
Comment=Modular Software Synth
Exec=ams
Icon=_usr_share_pixmaps_ams
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;Audio;Synthesis;
X-Ubuntu-Gettext-Domain=app-install-data
