[Desktop Entry]
X-AppInstall-Package=aqualung
X-AppInstall-Popcon=123
X-AppInstall-Section=universe

Name=Aqualung
Comment=Gapless audio player
Exec=aqualung
Icon=aqualung.xpm
Categories=GTK;AudioVideo;Audio;Player;
Terminal=false
Type=Application
Encoding=UTF-8
X-Ubuntu-Gettext-Domain=app-install-data
