[Desktop Entry]
X-AppInstall-Package=ardour
X-AppInstall-Popcon=873
X-AppInstall-Section=universe

Version=1.0
Name=Ardour GTK2
Comment=Ardour Digital Audio Workstation (GTK2 Interface)
Exec=/usr/bin/ardour2
Terminal=false
Type=Application
Icon=_usr_share_ardour2_icons_ardour_icon_22px
Categories=AudioVideo;Audio;
X-AppInstall-Architectures=i386
X-Ubuntu-Gettext-Domain=app-install-data
