[Desktop Entry]
X-AppInstall-Package=babytrans
X-AppInstall-Popcon=38
X-AppInstall-Section=multiverse

Name=Babytrans
Comment=An interface for babylon translator
Exec=babytrans
Terminal=0
Type=Application
Icon=
Categories=Application;
X-Ubuntu-Gettext-Domain=app-install-data
