[Desktop Entry]
X-AppInstall-Package=ballz
X-AppInstall-Popcon=6
X-AppInstall-Section=universe

Encoding=UTF-8
Name=B.A.L.L.Z.
Comment=Platform game with some puzzle elements
Exec=ballz
Icon=ballz.png
Terminal=false
Type=Application
Categories=Game;ActionGame;
X-Ubuntu-Gettext-Domain=app-install-data
