[Desktop Entry]
X-AppInstall-Package=balsa
X-AppInstall-Popcon=220
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Balsa
Comment=E-Mail utility
TryExec=balsa
Exec=balsa
Icon=gnome-balsa2
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Network;Email
X-Ubuntu-Gettext-Domain=app-install-data
