[Desktop Entry]
X-AppInstall-Package=bacula-console-qt
X-AppInstall-Popcon=30
X-AppInstall-Section=universe

Name=Bacula Administration Tool
Comment=Bacula Director Console
Icon=_usr_share_pixmaps_bat_icon
Exec=/usr/sbin/bat -c /etc/bacula/bat.conf
Terminal=false
Type=Application
Encoding=UTF-8
StartupNotify=true
X-Desktop-File-Install-Version=0.3
Categories=System;Application;Utility;X-Red-Hat-Base;
X-Ubuntu-Gettext-Domain=app-install-data
