[Desktop Entry]
X-AppInstall-Package=batmon.app
X-AppInstall-Popcon=36
X-AppInstall-Section=universe

Name=BatMon
Comment=Monitor battery status
Type=Application
Version=0.94
Categories=System;Monitor;
Exec=BatMon
X-Ubuntu-Gettext-Domain=app-install-data
