[Desktop Entry]
X-AppInstall-Package=bzr-gtk
X-AppInstall-Popcon=344
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Bazaar Preferences
Comment=Configure Bazaar settings
Icon=bzr-icon-64
Exec=bzr gpreferences
Terminal=false
Type=Application
Categories=Settings;
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=app-install-data
