[Desktop Entry]
X-AppInstall-Package=beast
X-AppInstall-Popcon=593
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Name=BEAST
GenericName=Music Composer
Comment=MIDI Tracker, Music Composition and Modular Synthesis Application
Icon=beast.png
TryExec=beast
Exec=beast
Terminal=false
Categories=GTK;GNOME;AudioVideo;AudioVideoEditing;Music;Player;Sequencer;
MimeType=audio/x-bse;audio/x-bsewave;
X-Ubuntu-Gettext-Domain=app-install-data
