[Desktop Entry]
X-AppInstall-Package=biblememorizer
X-AppInstall-Popcon=57
X-AppInstall-Section=universe

Encoding=UTF-8
Name=BibleMemorizer
Exec=biblememorizer
Icon=biblememorizer
Type=Application
Comment=A Bible Verses Memorizer for KDE
GenericName=Bible Verses Memorizer
Categories=Religion;Bible;Application;KDE;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
