[Desktop Entry]
X-AppInstall-Package=bibledit
X-AppInstall-Popcon=46
X-AppInstall-Section=universe

Name=Bibledit
Comment=Bible Editor
Icon=bibledit.xpm
Exec=bibledit
Type=Application
Categories=Application;Office;

X-Ubuntu-Gettext-Domain=app-install-data
