[Desktop Entry]
X-AppInstall-Package=blam
X-AppInstall-Popcon=56
X-AppInstall-Section=universe

Version=1.0
Name=Blam Feed Reader
Comment=Feed reader
Exec=blam
Icon=blam.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=blam
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=1.8.6

X-Ubuntu-Gettext-Domain=app-install-data
