[Desktop Entry]
X-AppInstall-Package=bleachbit
X-AppInstall-Popcon=116
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=BleachBit
GenericName=Unnecessary file cleaner
Comment=Free space and maintain privacy
TryExec=bleachbit
Exec=bleachbit
Icon=bleachbit
Categories=GTK;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
