[Desktop Entry]
X-AppInstall-Package=blobwars
X-AppInstall-Popcon=159
X-AppInstall-Section=universe

Encoding=UTF-8
Categories=ArcadeGame;Game;
X-Desktop-File-Install-Version=1.0
Name=Metal Blob Solid
Icon=blobwars
Exec=blobwars
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
