[Desktop Entry]
X-AppInstall-Package=bluez-gnome
X-AppInstall-Popcon=53588
X-AppInstall-Section=main

Encoding=UTF-8
Name=Bluetooth Analyzer
Comment=Analyze Bluetooth traces
Icon=bluetooth
Exec=bluetooth-analyzer
Terminal=false
MimeType=application/x-hcidump;application/x-btsnoop;application/x-pktlog;
Type=Application
Categories=System;Monitor;
OnlyShowIn=GNOME;XFCE;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
