[Desktop Entry]
X-AppInstall-Package=bluez-gnome
X-AppInstall-Popcon=53588
X-AppInstall-Section=main

Encoding=UTF-8
Name=Bluetooth
Comment=Configure Bluetooth settings
Icon=bluetooth
Exec=bluetooth-properties
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;HardwareSettings;
OnlyShowIn=GNOME;XFCE;

X-Ubuntu-Gettext-Domain=app-install-data
