[Desktop Entry]
X-AppInstall-Package=bookmarkbridge
X-AppInstall-Popcon=89
X-AppInstall-Section=universe

Name=Bookmarkbridge
Comment=Synchronize bookmarks between browsers
Exec=bookmarkbridge
Icon=bookmarkbridge
Type=Application
Categories=Utility;
X-Ubuntu-Gettext-Domain=app-install-data
