[Desktop Entry]
X-AppInstall-Package=bsc
X-AppInstall-Popcon=111
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=bsc
Comment=File manager with two panels
GenericName=File manager with two panels
TryExec=/usr/bin/bsc
Exec=/usr/bin/bsc
Categories=Utility;FileManager;Qt
Icon=_usr_share_pixmaps_bsc
X-Ubuntu-Gettext-Domain=app-install-data
