[Desktop Entry]
X-AppInstall-Package=burgerspace
X-AppInstall-Popcon=128
X-AppInstall-Section=universe

Name=BurgerSpace
Categories=Game;ArcadeGame;
Comment=BurgerTime clone
Exec=burgerspace
Icon=burgerspace
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
