[Desktop Entry]
X-AppInstall-Package=avahi-ui-utils
X-AppInstall-Popcon=75
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Avahi VNC Server Browser
Comment=Browse for Zeroconf-enabled VNC Servers
Exec=/usr/bin/bvnc
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;Application;Network;
StartupNotify=false
GenericName=
X-Ubuntu-Gettext-Domain=app-install-data
