[Desktop Entry]
X-AppInstall-Package=bygfoot
X-AppInstall-Popcon=95
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Version=1.4
Name=Bygfoot
Exec=bygfoot
Terminal=false
Categories=Game;SportsGame;
Comment=A football manager
Icon=_usr_share_games_bygfoot_support_files_pixmaps_bygfoot_icon
X-Ubuntu-Gettext-Domain=app-install-data
