[Desktop Entry]
X-AppInstall-Package=bzr-gtk
X-AppInstall-Popcon=344
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Version=0.1
Name=Bazaar Notification
GenericName=
Comment=Notification Area Icon for Bazaar
Icon=bzr-icon-64
Exec=bzr-notify
Categories=Application;Development;RevisionControl;
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
