[Desktop Entry]
X-AppInstall-Package=xserver-xorg-input-evtouch
X-AppInstall-Popcon=60
X-AppInstall-Section=universe

Name=Calibrate Touchscreen
Comment=Run the touchscreen calibration tool
Encoding=UTF-8
Exec=gksu /usr/bin/calibrate_touchscreen
Terminal=false
Type=Application
Icon=calibrate.png
StartupNotify=true
Categories=GTK;System;Settings;

X-Ubuntu-Gettext-Domain=app-install-data
