[Desktop Entry]
X-AppInstall-Package=carmetal
X-AppInstall-Popcon=42
X-AppInstall-Section=multiverse

Encoding=UTF-8
Name=CaRMetal
Comment=CaRMetal interactive geometry
Exec=carmetal
Icon=CaRMetal.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Education;Math;
MimeType=application/x-carmetal
X-Ubuntu-Gettext-Domain=app-install-data
