[Desktop Entry]
Encoding=UTF-8
Name=Advanced Desktop Effects Settings (ccsm)
Comment=Configure Compiz with CompizConfig 
Icon=ccsm
Exec=ccsm
Terminal=false
Type=Application
Categories=Application;Settings;
X-AppInstall-Package=compizconfig-settings-manager
X-AppInstall-Popcon=7307
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
