[Desktop Entry]
X-AppInstall-Package=cecilia
X-AppInstall-Popcon=44
X-AppInstall-Section=universe

Type=Application
Name=Cecilia
GenericName=
Comment=Graphical editor for CSound
Icon=cecilia
Exec=cecilia
Terminal=false
Categories=AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
