[Desktop Entry]
X-AppInstall-Package=seamonkey-chatzilla
X-AppInstall-Popcon=45
X-AppInstall-Section=universe

Name=Chatzilla
GenericName=IRC Chat
Exec=seamonkey -chat
Terminal=false
Type=Application
Categories=GTK;Network;IRCClient;
Icon=chatzilla
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
