[Desktop Entry]
X-AppInstall-Package=cheese
X-AppInstall-Popcon=3087
X-AppInstall-Section=universe

Name=Cheese Webcam Booth
Comment=Take photos and videos with your webcam, with fun graphical effects
Exec=cheese
Terminal=false
Type=Application
StartupNotify=true
Icon=cheese
Categories=Graphics;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=cheese
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.26.0
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/cheese/cheese/cheese-bugreport.sh

X-Ubuntu-Gettext-Domain=app-install-data
