[Desktop Entry]
X-AppInstall-Package=childsplay
X-AppInstall-Popcon=770
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Childsplay
GenericName=Childsplay
Comment=Suite of educational games for young children
Icon=logo_cp_48x48.xpm

FilePattern=childsplay
Exec=childsplay
Terminal=false
StartupNotify=false

Categories=Application;Game;Education;KidsGame;2DGraphics;
X-Ubuntu-Gettext-Domain=app-install-data
