[Desktop Entry]
X-AppInstall-Package=chmsee
X-AppInstall-Popcon=406
X-AppInstall-Section=universe

Version=1.0
Name=ChmSee
Comment=HTML Help(CHM) viewer
Exec=chmsee %f
Terminal=false
Type=Application
Icon=chmsee-icon
StartupNotify=true
Categories=Utility;
MimeType=application/x-chm;
X-Ubuntu-Gettext-Domain=app-install-data
