[Desktop Entry]
X-AppInstall-Package=clamtk
X-AppInstall-Popcon=2285
X-AppInstall-Section=universe

Name=Virus Scanner
Exec=clamtk %F
Icon=clamtk
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/exe;application/x-exe;application/dos-exe;vms/exe;application/x-winexe;application/msdos-windows;application/x-msdos-program;application/x-extension-vqf;application/vnd.ms-excel;application/vnd.ms-access;
Type=Application
Terminal=false
Categories=System;
StartupNotify=false
Comment=Scan for viruses...
X-Ubuntu-Gettext-Domain=app-install-data
