[Desktop Entry]
X-AppInstall-Package=computer-janitor-gtk
X-AppInstall-Popcon=1496
X-AppInstall-Section=main

Encoding=UTF-8
Name=Computer Janitor
Comment=Clean up a system so it's more like a freshly installed one
Exec=gksu --desktop /usr/share/applications/computer-janitor-gtk.desktop computer-janitor-gtk
Terminal=false
Type=Application
Icon=computerjanitor
Categories=System;Settings;PackageManager;GTK;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
