[Desktop Entry]
X-AppInstall-Package=conduit
X-AppInstall-Popcon=800
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=Conduit Synchronizer
GenericName=Conduit Synchronizer
Comment=Synchronization for GNOME
Icon=conduit
Exec=/usr/bin/conduit
Categories=GNOME;GTK;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
