[Desktop Entry]
X-AppInstall-Package=connman-gnome
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Connection Management
Comment=Configure connection management
Icon=stock_internet
Exec=connman-properties
Terminal=false
Type=Application
Categories=Settings;
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=app-install-data
