[Desktop Entry]
X-AppInstall-Package=controlaula
X-AppInstall-Popcon=0
X-AppInstall-Section=multiverse

Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/controlaula.gambas -teacher
Icon=_usr_share_pixmaps_CA2pp
Terminal=false
Name= Classrooom control
Comment=Teacher tool to control classroom computers
Categories=Application;Education;
X-Ubuntu-Gettext-Domain=app-install-data
