[Desktop Entry]
X-AppInstall-Package=cournol
X-AppInstall-Popcon=20
X-AppInstall-Section=universe

Encoding=UTF-8
Name=cournol
Comment=economic program
Exec=cournol
Icon=cournol.png
Terminal=false
Type=Application
Categories=Application;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
