[Desktop Entry]
X-AppInstall-Package=criawips
X-AppInstall-Popcon=26
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Criawips Presentations
GenericName=Presentations
Comment=Create, modify or show Presentations 
Exec=criawips %F
Icon=criawips
Terminal=false
Type=Application

Categories=Application;Office;Presentation;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=criawips
X-GNOME-Bugzilla-Component=general
MimeType=application/x-criawips

X-Ubuntu-Gettext-Domain=app-install-data
