[Desktop Entry]
X-AppInstall-Package=cuyo
X-AppInstall-Popcon=160
X-AppInstall-Section=universe

Name=Cuyo
Icon=cuyo
Type=Application
Terminal=false
MimeType=application/x-executable;
Categories=Game;BlocksGame;
Comment=Play a tetris like game with many levels
Exec=cuyo
X-Ubuntu-Gettext-Domain=app-install-data
