[Desktop Entry]
X-AppInstall-Package=d4x
X-AppInstall-Popcon=595
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Downloader for X
GenericName=File Downloading Program
Comment=Manage your downloads
TryExec=nt
Exec=nt -a %U
Icon=nt.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Network;
X-Ubuntu-Gettext-Domain=app-install-data
