[Desktop Entry]
X-AppInstall-Package=deb-gview
X-AppInstall-Popcon=310
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Debian Package Viewer
Comment=Debian package file viewer
Exec=deb-gview
Icon=deb-gview.xpm
Terminal=false
Categories=Development;Building;GNOME;
Type=Application
StartupNotify=false
X-SingleInstance=false
X-Ubuntu-Gettext-Domain=app-install-data
