[Desktop Entry]
X-AppInstall-Package=deja-dup
X-AppInstall-Popcon=49
X-AppInstall-Section=universe

Version=1.0

Name=Déjà Dup Backup Utility
Comment=Backup your files

Icon=deja-dup
TryExec=deja-dup
Exec=deja-dup
Terminal=false

StartupNotify=true

Type=Application
Categories=GNOME;GTK;Utility;Archiving;

X-Ubuntu-Gettext-Domain=app-install-data
