[Desktop Entry]
X-AppInstall-Package=denemo
X-AppInstall-Popcon=645
X-AppInstall-Section=universe

Encoding=UTF-8
Exec=denemo
Icon=denemo.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Audio;AudioVideo;

Name=GNU Denemo

GenericName=Score Editor

Comment=Edit musical scores
X-Ubuntu-Gettext-Domain=app-install-data
