[Desktop Entry]
X-AppInstall-Package=devede
X-AppInstall-Popcon=1621
X-AppInstall-Section=multiverse

X-MultipleArgs=false
Type=Application
Name=DeVeDe
GenericName=DVD/CD Video Creator
Comment=Allows to create video CDs and DVDs, suitable to be reproduced in home DVD players
TryExec=devede
Exec=devede
Categories=AudioVideo;
Icon=devede
X-Ubuntu-Gettext-Domain=app-install-data
