[Desktop Entry]
X-AppInstall-Package=dia
X-AppInstall-Popcon=2931
X-AppInstall-Section=main

Encoding=UTF-8
Name=Dia Diagram Editor
Comment=Edit your Diagrams
Type=Application
Exec=dia
Icon=dia_gnome_icon.png
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true
MimeType=application/x-dia-diagram;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dia
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=@0.96.1@

X-Ubuntu-Gettext-Domain=app-install-data
