[Desktop Entry]
X-AppInstall-Package=dillo
X-AppInstall-Popcon=695
X-AppInstall-Section=universe

GenericName=Web Browser
Name=Dillo
Comment=Lightweight browser
MimeType=text/html;text/xml;application/xhtml+xml;
Exec=dillo
Terminal=false
Type=Application
Categories=Application;Network;
Icon=dillo
X-Ubuntu-Gettext-Domain=app-install-data
