[Desktop Entry]
X-AppInstall-Package=displaycalibrator.app
X-AppInstall-Popcon=33
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=Settings;Utility;
Name=DisplayCalibrator
Comment=Frontend to xgamma
Icon=gammascrew.png
Exec=DisplayCalibrator
X-Ubuntu-Gettext-Domain=app-install-data
