[Desktop Entry]
X-AppInstall-Package=drapes
X-AppInstall-Popcon=649
X-AppInstall-Section=universe

Name=Desktop Drapes
Comment=Manage your desktop wallpapers
Exec=drapes --tray
Type=Application
Icon=drapes
StartupNotify=false
Categories=Settings;DesktopSettings;GNOME

X-Ubuntu-Gettext-Domain=app-install-data
