[Desktop Entry]
X-AppInstall-Package=dreamchess
X-AppInstall-Popcon=219
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Dreamchess
GenericName=Chess game
Comment=a 3D chess game
Icon=dreamchess
Exec=dreamchess
Categories=Game;BoardGame;
X-Ubuntu-Gettext-Domain=app-install-data
