[Desktop Entry]
X-AppInstall-Package=ecawave
X-AppInstall-Popcon=93
X-AppInstall-Section=universe

Encoding=UTF-8
Name=ecawave
Comment=Graphical sound file editor
Exec=/usr/bin/ecawave
Icon=ecawave.xpm
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;AudioVideo;
X-Ubuntu-Gettext-Domain=app-install-data
