[Desktop Entry]
X-AppInstall-Package=gpe-contacts
X-AppInstall-Popcon=34
X-AppInstall-Section=universe

Encoding=UTF-8
Name=My VCard
Comment=Edit personal vcard
Exec=gpe-contacts -v
Terminal=false
Type=Application
Icon=gpe-contacts.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
X-Ubuntu-Gettext-Domain=app-install-data
