[Desktop Entry]
X-AppInstall-Package=elisa
X-AppInstall-Popcon=783
X-AppInstall-Section=universe

Version=1.0
Name=Elisa Media Center
Comment=Play movies and songs on TV with remote
Exec=elisa %U
StartupNotify=true
StartupWMClass=elisa
Icon=elisa
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Player;X-Ximian-Main;X-Red-Hat-Base;
X-Osso-Service=com.fluendo.elisa
X-Ubuntu-Gettext-Domain=app-install-data
