[Desktop Entry]
X-AppInstall-Package=emacs-snapshot
X-AppInstall-Popcon=291
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Emacs Snapshot (GTK)
GenericName=Emacs
Comment=GNU Emacs Snapshot Text Editor
Exec=/usr/bin/emacs-snapshot-gtk
TryExec=emacs-snapshot
Terminal=false
Type=Application
Icon=emacs-snapshot
Categories=Development;Utility;TextEditor;
MimeType=text/plain
X-Ubuntu-Gettext-Domain=app-install-data
