[Desktop Entry]
X-AppInstall-Package=epdfview
X-AppInstall-Popcon=405
X-AppInstall-Section=universe

Categories=Viewer;Office;GTK
Comment=Lightweight PDF document viewer
Encoding=UTF-8
Exec=epdfview %f
GenericName=PDF Viewer
Icon=postscript-viewer.png
Name=ePDFViewer
MimeType=application/pdf
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
