[Desktop Entry]
X-AppInstall-Package=epiphany-browser
X-AppInstall-Popcon=2218
X-AppInstall-Section=main

Name=Epiphany Web Browser
GenericName=Web Browser
Comment=Browse the web
Exec=epiphany-browser %U
TryExec=/usr/bin/epiphany-browser
StartupNotify=true
Terminal=false
Type=Application
Icon=gnome-web-browser
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=epiphany
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.26.1
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
X-Ubuntu-Gettext-Domain=app-install-data
