[Desktop Entry]
X-AppInstall-Package=etherape
X-AppInstall-Popcon=490
X-AppInstall-Section=universe

Name=EtherApe (as root)
Type=Application
TryExec=ethereal
BinaryPattern=ethereal
Categories=GNOME;Application;Network;
Comment=Graphical Network Monitor
TryExec=gksu
Exec=gksu -u root /usr/bin/etherape
Icon=etherape.png
Terminal=0
X-Ubuntu-Gettext-Domain=app-install-data
