[Desktop Entry]
X-AppInstall-Package=euler
X-AppInstall-Popcon=167
X-AppInstall-Section=universe

Type=Application
Version=1.0
Exec=euler
Icon=euler-32.xpm
Categories=Education;Science;Math;
Name=Euler
GenericName=Computer Algebra System
Comment=An interactive mathematical program
X-Ubuntu-Gettext-Domain=app-install-data
