[Desktop Entry]
X-AppInstall-Package=evolution
X-AppInstall-Popcon=70730
X-AppInstall-Section=main

Encoding=UTF-8
Name=Evolution Mail and Calendar
GenericName=Groupware Suite
Comment=Manage your email, contacts and schedule
Exec=evolution
Icon=evolution
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Email;Calendar;ContactManagement;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.26.x
X-GNOME-Bugzilla-OtherBinaries=evolution-data-server-2.26;evolution-exchange-storage;evolution-alarm-notify;


X-Ubuntu-Gettext-Domain=app-install-data
