[Desktop Entry]
X-AppInstall-Package=faumachine
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=FAUmachine
GenericName=Virtual Machine
Comment=run the virtual machine FAUmachine
TryExec=faum
Exec=faum
Icon=faumachine
Categories=System;Emulator;
X-Ubuntu-Gettext-Domain=app-install-data
