[Desktop Entry]
X-AppInstall-Package=filezilla-locales
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=FileZilla FTP client
Comment=Download and upload files via ftp, sftp and ftps
Exec=filezilla
Terminal=false
Icon=filezilla
Type=Application
Categories=Network;FileTransfer;
Version=1.0
X-AppInstall-Architectures=
X-Ubuntu-Gettext-Domain=app-install-data
