[Desktop Entry]
X-AppInstall-Package=firefox-3.5-branding
X-AppInstall-Popcon=251
X-AppInstall-Section=universe

Version=1.0
Name=Shiretoko Web Browser
Comment=Firefox 3.5 Beta
GenericName=Preview Browser
Exec=firefox-3.5 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-3.5
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
