[Desktop Entry]
X-AppInstall-Package=firestarter
X-AppInstall-Popcon=2253
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Firestarter
Comment=Desktop Firewall Tool
Exec=su-to-root -X -c /usr/sbin/firestarter
Icon=firestarter.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;GNOME;Network;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=firestarter
X-Ubuntu-Gettext-Domain=app-install-data
