[Desktop Entry]
Encoding=UTF-8
Name=Ubuntu-it menu extension for Firefox
Comment=Firefox extension for a quick browse of Ubuntu-it community
GenericName=Firefox extension
Type=Application
Icon=firefox-ubuntu-it-menu
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=firefox-ubuntu-it-menu
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
