[Desktop Entry]
Encoding=UTF-8
Name=Firefox Showcase extension for Firefox/Iceweasel
Comment= Showcase provides a new way to manage your Firefox tabs and windows
GenericName=Firefox/Iceweasel extension
Type=Application
Icon=firefox-showcase
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox;application/x-debian-xul-extension-firefox-2
StartupNotify=true

X-AppInstall-Package=firefox-showcase
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
