[Desktop Entry]
Encoding=UTF-8
Name=Firebug extension for Firefox
Comment=Powerful web devlopment extension
GenericName=Firefox extension
Type=Application
Icon=firebug
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=firebug
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
