[Desktop Entry]
Encoding=UTF-8
Name=Web Developer toolbar for Firefox
Comment=Web developer extension for the Firefox web browser
GenericName=Firefox toolbar
Type=Application
Icon=firefox-webdeveloper
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=firefox-webdeveloper
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
