[Desktop Entry]
X-AppInstall-Package=flumotion
X-AppInstall-Popcon=180
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Flumotion Streaming Server Administration
GenericName=Streaming Server Administration
Comment=Manage the Flumotion Streaming Server
Exec=flumotion-admin
Terminal=false
Type=Application
Icon=flumotion.png
Categories=GNOME;Application;AudioVideo;Player;X-Ximian-Main;X-Red-Hat-Base;
X-Ubuntu-Gettext-Domain=app-install-data
