[Desktop Entry]
X-AppInstall-Package=foff
X-AppInstall-Popcon=5
X-AppInstall-Section=universe

Version=1.0
Name=FOFF
Comment=Lightweight graphical FTP client
Type=Application
Exec=foff
Icon=foff
Categories=Network;FileTransfer;
Terminal=false
StartupNotify=false
X-Ubuntu-Gettext-Domain=app-install-data
