[Desktop Entry]
X-AppInstall-Package=fontypython
X-AppInstall-Popcon=159
X-AppInstall-Section=universe

Name=Fonty Python
Comment=Manage and view all kinds of fonts.

Version=1.0

Type=Application
Categories=Graphics;

Exec=fontypython
TryExec=fontypython
Terminal=false
StartupNotify=true

Icon=fontypython.png
X-Ubuntu-Gettext-Domain=app-install-data
