[Desktop Entry]
Encoding=UTF-8
Name=Foxyproxy extension for Firefox
Comment=Advanced proxy management tool for Firefox
GenericName=Firefox extension
Type=Application
Icon=foxyproxy
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=foxyproxy
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
