[Desktop Entry]
X-AppInstall-Package=freecycle
X-AppInstall-Popcon=28
X-AppInstall-Section=universe

MimeType=text/plain
GenericName=Plastic surgery for your audio loops
Exec=freecycle
Icon=freecycle
Path=
Type=Application
Terminal=false
Name=Freecycle
Categories=Qt;AudioVideo;Audio;Recorder;
X-Ubuntu-Gettext-Domain=app-install-data
