[Desktop Entry]
X-AppInstall-Package=freedm
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Free DM
GenericName=Multiplayer-only Clone of the first person shooter Doom
Comment=First Person Shooter Game
Exec=doom -iwad /usr/share/games/freedoom/freedm.wad
Icon=freedm.xpm
Terminal=false
Type=Application
Categories=Game
X-Ubuntu-Gettext-Domain=app-install-data
