[Desktop Entry]
X-AppInstall-Package=freemind
X-AppInstall-Popcon=1066
X-AppInstall-Section=multiverse

Type=Application
Name=Freemind
Comment=Visual mind mapping tool
Exec=freemind
Categories=Office;
Terminal=false
Icon=FreeMindWindowIcon
X-Ubuntu-Gettext-Domain=app-install-data
