[Desktop Entry]
X-AppInstall-Package=fretsonfire-game
X-AppInstall-Popcon=192
X-AppInstall-Section=universe

Name=Frets on Fire
Comment=Rock out with your keyboard
Exec=/usr/games/fretsonfire
Icon=fretsonfire
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
