[Desktop Entry]
X-AppInstall-Package=fslview
X-AppInstall-Popcon=23
X-AppInstall-Section=universe

Encoding=UTF-8
GenericName=MRI Image Viewer
Name=FSLView
Exec=fslview %F
TryExec=fslview
Type=Application
Terminal=false
Comment=This program is part of FSL
Categories=Graphics;Science;MedicalSoftware;Qt;Viewer;
Icon=fslview.xpm
X-Ubuntu-Gettext-Domain=app-install-data
