[Desktop Entry]
X-AppInstall-Package=funguloids
X-AppInstall-Popcon=7
X-AppInstall-Section=multiverse

Name=Funguloids
Comment=space-flying-mushroom-picking-simulator
Icon=funguloids
Exec=/usr/games/funguloids >/dev/null 2>&1
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
