[Desktop Entry]
X-AppInstall-Package=gadmin-dhcpd
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Encoding=UTF-8
Name=GADMIN-DHCPD
GenericName=GADMIN-DHCPD
Comment=DHCPD DHCP server administration
Exec=su-to-root -X -c /usr/sbin/gadmin-dhcpd
Icon=gadmin-dhcpd
Terminal=false
Type=Application
Categories=GTK;System;
X-Ubuntu-Gettext-Domain=app-install-data
