[Desktop Entry]
X-AppInstall-Package=gafix
X-AppInstall-Popcon=5
X-AppInstall-Section=universe

Name=Gafix
Comment=Communication with Casio Calculators
Exec=gafix
Icon=_usr_share_pixmaps_gafix
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
