[Desktop Entry]
X-AppInstall-Package=galan
X-AppInstall-Popcon=46
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=gAlan
GenericName=gAlan
Comment=
Icon=galan.xpm
Exec=/usr/bin/galan
Terminal=false
Categories=Application;AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
