[Desktop Entry]
X-AppInstall-Package=galeon
X-AppInstall-Popcon=1966
X-AppInstall-Section=universe

StartupNotify=true
Name=Galeon Web Browser
GenericName=Web Browser
Comment=Browse the web
Exec=galeon %U
Terminal=false
Type=Application
Icon=galeon
Categories=Application;Network;GNOME;GTK;WebBrowser;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=galeon
X-GNOME-Bugzilla-Component=general
MimeType=application/html+xml;application/xml;text/html;text/xml;

X-Ubuntu-Gettext-Domain=app-install-data
