[Desktop Entry]
X-AppInstall-Package=gambit
X-AppInstall-Popcon=28
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Gambit Game Analysis
Comment=Construction and analysis of finite extensive and normal form games
Exec=gambit
Icon=gambit
Type=Application
Categories=Math;Science;
X-Ubuntu-Gettext-Domain=app-install-data
