[Desktop Entry]
X-AppInstall-Package=gapti
X-AppInstall-Popcon=39
X-AppInstall-Section=universe

Encoding=UTF-8
Name=GAptI Remote Software Installer
GenericName=Remote Software Installer
Comment=Installs Apt software packages
Exec=gapti
Icon=gdebi
Terminal=false
Type=Application
Categories=Application;System;
MimeType=application/x-apt;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
