[Desktop Entry]
X-AppInstall-Package=gcalctool
X-AppInstall-Popcon=29699
X-AppInstall-Section=main

Encoding=UTF-8
Name=Calculator
Comment=Perform arithmetic, scientific or financial calculations
Exec=gcalctool
Icon=accessories-calculator
NotShowIn=KDE;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Calculator
X-GNOME-DocPath=gcalctool/gcalctool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gcalctool
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-OtherBinaries=gnome-calculator

X-Ubuntu-Gettext-Domain=app-install-data
