[Desktop Entry]
X-AppInstall-Package=gchempaint
X-AppInstall-Popcon=97
X-AppInstall-Section=universe

Name=GChemPaint Chemical Structures Editor
Comment=Edit chemical 2D structures
Exec=gchempaint %U
Terminal=false
Type=Application
Icon=gchempaint
Categories=GTK;GNOME;Education;Science;Chemistry;
MimeType=application/x-gchempaint;chemical/x-cml;chemical/x-mdl-molfile;chemical/x-mdl-sdfile;chemical/x-pdb;
X-Ubuntu-Gettext-Domain=app-install-data
