[Desktop Entry]
X-AppInstall-Package=gddccontrol
X-AppInstall-Popcon=740
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Monitor Settings
Comment=Set your monitor preferences (contrast, brightness,...) and manage your profiles
Exec=gksu gddccontrol
Icon=gddccontrol
Terminal=false
Type=Application
Categories=GNOME;Application;Settings;
X-Ubuntu-Gettext-Domain=app-install-data
