[Desktop Entry]
X-AppInstall-Package=geekast-binary
X-AppInstall-Popcon=80
X-AppInstall-Section=universe

Name=Geekast
GenericName=GNOME peercast client
Comment=Graphic client using peercast P2P streaming network and gnome interface.
Exec=geekast
Icon=geekast.xpm
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Video;Player;

X-Ubuntu-Gettext-Domain=app-install-data
