[Desktop Entry]
X-AppInstall-Package=gftp-gtk
X-AppInstall-Popcon=3763
X-AppInstall-Section=main

Version=1.0
Encoding=UTF-8
Name=gFTP
GenericName=gFTP
Comment=Download and upload files using multiple file transfer protocols
Exec=gftp-gtk %u
TryExec=gftp-gtk
Icon=gftp.png
Terminal=0
Type=Application
Categories=GTK;GNOME;Network;FileTransfer;

X-Ubuntu-Gettext-Domain=app-install-data
