[Desktop Entry]
X-AppInstall-Package=google-gadgets-qt
X-AppInstall-Popcon=27
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Google Gadgets (Qt)
Comment=Run Google Gadgets in KDE/Qt environment
TryExec=/usr/bin/ggl-qt
Exec=/usr/bin/ggl-qt %F
Icon=google-gadgets
Terminal=false
StartupNotify=true
Type=Application
Categories=KDE;Qt;Network;News;
MimeType=application/x-google-gadget;app/gg;
X-Ubuntu-Gettext-Domain=app-install-data
