[Desktop Entry]
X-AppInstall-Package=google-gadgets-gtk
X-AppInstall-Popcon=33
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Google Gadget Designer
Comment=Google Gadget Designer
TryExec=/usr/bin/ggl-gtk
Exec=/usr/bin/ggl-gtk -sa -nd -gp /usr/share/google-gadgets/designer.gg
Icon=google-gadgets
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Development;GUIDesigner;
X-Ubuntu-Gettext-Domain=app-install-data
