[Desktop Entry]
X-AppInstall-Package=giftoxic
X-AppInstall-Popcon=33
X-AppInstall-Section=universe

Name=giFToxic
Comment=A GTK+2 based GUI for the filesharing tool giFT
Exec=giFToxic
StartupNotify=true
Terminal=0
Type=Application
Icon=_usr_share_pixmaps_giFToxic-48
Categories=Application;Network;
X-Ubuntu-Gettext-Domain=app-install-data
