[Desktop Entry]
X-AppInstall-Package=gimmix
X-AppInstall-Popcon=40
X-AppInstall-Section=universe

Name=Gimmix
Comment=Gimmix is a graphical music player daemon (MPD) client written in C.
Exec=gimmix
Terminal=false
Type=Application
StartupNotify=true
Icon=gimmix.png
Categories=Audio;GTK;AudioVideo;
MimeType=
X-Ubuntu-Gettext-Domain=app-install-data
