[Desktop Entry]
X-AppInstall-Package=gkbd-capplet
X-AppInstall-Popcon=20
X-AppInstall-Section=main

Encoding=UTF-8
Name=Keyboard Indicator plugins
Comment=Enable/disable installed plugins
Exec=gkbd-indicator-plugins-capplet
Icon=input-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;DesktopSettings;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=libgnomekbd
X-GNOME-Bugzilla-Component=Capplet 
X-GNOME-Bugzilla-Version=2.26.0

X-Ubuntu-Gettext-Domain=app-install-data
