[Desktop Entry]
X-AppInstall-Package=glade-gnome-2
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Glade Interface Designer
Comment=Create or open user interface designs for GTK+ or GNOME applications
Exec=glade-2 %F
Terminal=false
Type=Application
Icon=glade-2.png
Categories=Application;Development;
MimeType=application/x-glade
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=glade
X-GNOME-Bugzilla-Component=general

X-Ubuntu-Gettext-Domain=app-install-data
