[Desktop Entry]
X-AppInstall-Package=glife
X-AppInstall-Popcon=5
X-AppInstall-Section=universe

Name=gLife
Comment=An Artificial Life implementation in GNOME
Exec=glife
Icon=gnome-life.png
Terminal=0
Type=Application
Categories=GNOME;Application;Game;
X-Ubuntu-Gettext-Domain=app-install-data
