[Desktop Entry]
X-AppInstall-Package=gnash
X-AppInstall-Popcon=3348
X-AppInstall-Section=universe

Type=Application
Name=Gnash SWF Viewer
GenericName=SWF Viewer
Comment=View SWF (Flash) files
NoDisplay=true
Icon=gnash
Exec=gnash %U
Terminal=false
Categories=Application;AudioVideo;
MimeType=application/x-shockwave-flash;
X-Ubuntu-Gettext-Domain=app-install-data
