[Desktop Entry]
X-AppInstall-Package=gnochm
X-AppInstall-Popcon=971
X-AppInstall-Section=universe

Name=CHM Viewer
Comment=Read CHM files
Exec=gnochm %F
Icon=gnochm.png
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-DocPath=gnochm/gnochm.xml
Categories=Application;Utility;X-Red-Hat-Extra;
MimeType=application/x-chm

X-Ubuntu-Gettext-Domain=app-install-data
