
[Desktop Entry]
X-AppInstall-Package=gnomesword
X-AppInstall-Popcon=241
X-AppInstall-Section=universe

Name=GnomeSword2 Bible Guide
Comment=Study the Bible
Exec=gnomesword2
Icon=_usr_share_pixmaps_gnomesword_gs2-48x48
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Utility;X-Red-Hat-Extra;
StartupNotify=true
Encoding=UTF-8
X-Desktop-File-Install-Version=0.3

X-Ubuntu-Gettext-Domain=app-install-data
