[Desktop Entry]
X-AppInstall-Package=gnome-apt
X-AppInstall-Popcon=282
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Gnome Apt Software Manager
Comment=Manage the installed software packages on your Debian system
TryExec=gnome-apt
Exec=gksudo -m 'GNOME Apt needs superuser priviledges to manage software.' -t 'Enter root password' gnome-apt
Icon=gnome-apt.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;System;
X-Ubuntu-Gettext-Domain=app-install-data
