[Desktop Entry]
X-AppInstall-Package=gnome-art
X-AppInstall-Popcon=1446
X-AppInstall-Section=universe

Name=Art Manager
Comment=Install themes from art.gnome.org website
Exec=gnome-art
Icon=gnome-graphics
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=app-install-data
