[Desktop Entry]
X-AppInstall-Package=gnome-terminal
X-AppInstall-Popcon=44867
X-AppInstall-Section=main

Name=Terminal
Comment=Use the command line
TryExec=gnome-terminal
Exec=gnome-terminal
Icon=utilities-terminal
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.26.0
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true
NotShowIn=XFCE;

X-Ubuntu-Gettext-Domain=app-install-data
