[Desktop Entry]
X-AppInstall-Package=gnomekiss
X-AppInstall-Popcon=32
X-AppInstall-Section=universe

Name=GnomeKiSS
Comment=Gnome's KiSSeake dolls viewer
TryExec=gnomekiss
Exec=gnomekiss
Icon=gnomekiss_gnomekiss
Terminal=false
Type=Application
Categories=Game;
X-Ubuntu-Gettext-Domain=app-install-data
