[Desktop Entry]
X-AppInstall-Package=gnome-volume-control-pulse
X-AppInstall-Popcon=78
X-AppInstall-Section=universe

Name=Sound
Comment=Change sound volume and associate sounds with events
Exec=gnome-volume-control-settings
Icon=gnome-volume-control
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gnome-volume-control
X-GNOME-Bugzilla-Version=2.26.0

X-Ubuntu-Gettext-Domain=app-install-data
