[Desktop Entry]
X-AppInstall-Package=gnome-app-install
X-AppInstall-Popcon=42731
X-AppInstall-Section=main

Encoding=UTF-8
Name=Add/Remove...
GenericName=Package Manager
Comment=Install and remove applications
Exec=/usr/bin/gnome-app-install
Icon=gnome-app-install
Terminal=false
Type=Application
Categories=PackageManager;GTK;
StartupNotify=true
X-KDE-SubstituteUID=true
OnlyShowIn=GNOME;

X-Ubuntu-Gettext-Domain=app-install-data
