[Desktop Entry]
X-AppInstall-Package=gnome-splashscreen-manager
X-AppInstall-Popcon=2343
X-AppInstall-Section=universe

Name=Splash Screen
Comment=Select a splash screen image
Exec=gnome-splashscreen-manager
Icon=gnome-graphics
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=app-install-data
