[Desktop Entry]
X-AppInstall-Package=gnomebaker
X-AppInstall-Popcon=1593
X-AppInstall-Section=universe

Name=GnomeBaker CD/DVD Writer
Comment=Write/Copy CD and DVD
GenericName=CD/DVD Writer
Exec=gnomebaker
Icon=gnomebaker-48
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;DiscBurning;
StartupNotify=true


X-Ubuntu-Gettext-Domain=app-install-data
