[Desktop Entry]
X-AppInstall-Package=gnome-volume-manager
X-AppInstall-Popcon=53617
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Removable Drives and Media
Comment=Configure management of removable drives and media
Icon=drive-optical
Exec=gnome-volume-properties
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;GNOME;GTK;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-volume-manager
X-GNOME-Bugzilla-Component=general

X-Ubuntu-Gettext-Domain=app-install-data
