[Desktop Entry]
X-AppInstall-Package=eggcups
X-AppInstall-Popcon=136
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Default Printer
Comment=Select default printer
Exec=gnome-default-printer
Icon=stock_print
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=eggcups
X-GNOME-Bugzilla-Component=gnome-default-printer

X-Ubuntu-Gettext-Domain=app-install-data
