[Desktop Entry]
X-AppInstall-Package=gopchop
X-AppInstall-Popcon=178
X-AppInstall-Section=universe

Name=GOPchop

Comment=MPEG2 GOP-accurate editor

Version=1.0

Type=Application
Categories=Graphics;AudioVideo;GTK;

MimeType=video/mpeg

Exec=gopchop %F
TryExec=gopchop
Terminal=false
StartupNotify=true

Icon=gopchop.png
X-Ubuntu-Gettext-Domain=app-install-data
