[Desktop Entry]
X-AppInstall-Package=gossip
X-AppInstall-Popcon=183
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Gossip Instant Messenger
Comment=Instant Messenger
Exec=gossip
Icon=gossip
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gossip
X-GNOME-Bugzilla-Component=@BUGZILLA_COMPONENT@
X-GNOME-Bugzilla-Version=0.31

X-Ubuntu-Gettext-Domain=app-install-data
