[Desktop Entry]
X-AppInstall-Package=gourmet
X-AppInstall-Popcon=111
X-AppInstall-Section=universe

Name=Gourmet Recipe Manager
Comment=Manage recipes and create shopping lists.
Exec=gourmet
Terminal=false
Type=Application
Categories=GNOME;Application;Utility;
StartupNotify=true
Icon=recbox.png
X-Ubuntu-Gettext-Domain=app-install-data
