[Desktop Entry]
X-AppInstall-Package=gpa
X-AppInstall-Popcon=119
X-AppInstall-Section=universe

Name=GNU Privacy Assistant
Exec=gpa
Icon=gpa.png
Terminal=false
Encoding=UTF-8
Type=Application
Categories=GTK;Application;Security;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
