[Desktop Entry]
Encoding=UTF-8
Name=Gnome Partition Editor
Comment=Gnome Partition Editor
Icon=gparted.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;System;
X-KDE-SubstituteUID=true

X-AppInstall-Package=gparted
X-AppInstall-Popcon=8644
X-AppInstall-Section=main
X-Ubuntu-Gettext-Domain=app-install-data
