[Desktop Entry]
X-AppInstall-Package=gpass
X-AppInstall-Popcon=140
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Password Manager
Comment=Manages your password collection
Exec=/usr/bin/gpass
Terminal=false
Type=Application
StartupNotify=false
#MimeType=text/plain;
Icon=gpass-icon.png
Categories=Application;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
