[Desktop Entry]
X-AppInstall-Package=gperiodic
X-AppInstall-Popcon=166
X-AppInstall-Section=universe

Categories=Education;Science;Chemistry;Physics;
Comment=A program for looking up data of elements from the periodic table.
Exec=gperiodic
Icon=gperiodic
Name=GPeriodic
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-Ubuntu-Gettext-Domain=app-install-data
