[Desktop Entry]
X-AppInstall-Package=gpppon
X-AppInstall-Popcon=51
X-AppInstall-Section=universe

Name=Gnome PPPon
Categories=Network;
Comment=Start a PPP connection
Exec=gpppon
Icon=gnome-modem-monitor-applet
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
