[Desktop Entry]
X-AppInstall-Package=gquilt
X-AppInstall-Popcon=24
X-AppInstall-Section=universe

Encoding=UTF-8
Name=gquilt Patch Manager
Exec=gquilt
Terminal=false
Type=Application
Icon=gquilt.xpm
Categories=Development;RevisionControl;
X-Ubuntu-Gettext-Domain=app-install-data
