[Desktop Entry]
X-AppInstall-Package=grande
X-AppInstall-Popcon=26
X-AppInstall-Section=universe

Name=Grande
GenericName=grande
Comment=Target the Renegade or Gunhed
Type=Application
Exec=grande
Icon=grande
Terminal=false
Categories=Game;ActionGame;

X-Ubuntu-Gettext-Domain=app-install-data
