[Desktop Entry]
X-AppInstall-Package=gravitywars
X-AppInstall-Popcon=42
X-AppInstall-Section=universe

Name=gravitywars
Comment=clone of Gravity Force
Type=Application
Exec=gravitywars
Icon=gravitywars
Categories=Game;
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
