[Desktop Entry]
X-AppInstall-Package=gravitation
X-AppInstall-Popcon=15
X-AppInstall-Section=universe

Type=Application
Name=Gravitation
Icon=gravitation
Exec=gravitation
Terminal=false
Categories=Game;AdventureGame;
X-Ubuntu-Gettext-Domain=app-install-data
