[Desktop Entry]
X-AppInstall-Package=gresistor
X-AppInstall-Popcon=11
X-AppInstall-Section=universe

Version=0.1.2
Name=gResistor
Comment=Resistor color code calculator
Icon=_usr_share_gresistor_icon
Exec=/usr/bin/gresistor
Terminal=false
Type=Application
Categories=Utility;Science;Electronics;
X-Ubuntu-Gettext-Domain=app-install-data
