[Desktop Entry]
X-AppInstall-Package=rssreader.app
X-AppInstall-Popcon=11
X-AppInstall-Section=universe

Name=Grr Feed Reader
Comment=Günther's RSS Reader
Type=Application
Version=0.94
Categories=Network;News;
Icon=_usr_share_GNUstep_Grr.app_rssreader
Exec=Grr
X-Ubuntu-Gettext-Domain=app-install-data
