[Desktop Entry]
X-AppInstall-Package=gscan2pdf
X-AppInstall-Popcon=541
X-AppInstall-Section=universe

Name=gscan2pdf
Comment=A GUI to aid the scan-to-PDF process
Exec=gscan2pdf
Icon=_usr_share_gscan2pdf_gscan2pdf
Terminal=false
Type=Application
Categories=GTK;Graphics;RasterGraphics;Scanning;
X-Ubuntu-Gettext-Domain=app-install-data
