[Desktop Entry]
Comment=Fluendo codecs to decode mpeg streams
Name=GStreamer fluendo MPEG2 demuxing plugin
Encoding=UTF-8
Terminal=false
Type=Application
Categories=GNOME;Application;Multimedia;AudioVideo
X-AppInstall-Package=gstreamer0.10-fluendo-mpegdemux
X-AppInstall-Popcon=5311
X-AppInstall-Section=universe
X-AppInstall-PatentBadness=true
X-AppInstall-Codecs=0.10:decoder-video/mpeg, mpegversion=(int){ 1, 2 }, systemstream=(boolean)true;0.10:element-flutsdemux;0.10:decoder-video/mpegts;0.10:element-flupsdemux
X-Ubuntu-Gettext-Domain=app-install-data
