[Desktop Entry]
X-AppInstall-Package=gtimelog
X-AppInstall-Popcon=54
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Time Tracker
Comment=Track and time daily activities
Exec=gtimelog
Terminal=false
Type=Application
StartupNotify=true
Icon=gnome-week.png
Categories=Application;Utility
X-Ubuntu-Gettext-Domain=app-install-data
