[Desktop Entry]
X-AppInstall-Package=gtk-recordmydesktop
X-AppInstall-Popcon=680
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=gtk-recordMyDesktop
Comment=Frontend for recordMyDesktop
Exec=gtk-recordMyDesktop
Terminal=false
Type=Application
Icon=gtk-recordmydesktop.png
Categories=AudioVideo;Recorder;
StartupNotify=false
X-Ubuntu-Gettext-Domain=app-install-data
