
[Desktop Entry]
X-AppInstall-Package=gtk-imonc
X-AppInstall-Popcon=25
X-AppInstall-Section=universe

Name=GTK-Imonc
Comment=fli4l-admin-tool
Exec=gtk-imonc
Icon=_usr_share_pixmaps_gtk-imonc
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Network
X-Ubuntu-Gettext-Domain=app-install-data
