[Desktop Entry]
X-AppInstall-Package=gtkedit
X-AppInstall-Popcon=30
X-AppInstall-Section=universe

Version=0.9.4
Type=Application
Encoding=UTF-8
Name=GTKEdit
GenericName=Lightweight Text-Editor
Comment=Edit Text
Exec=gtkedit
Path=$HOME
Terminal=false
MimeType=text/plain; text/x-csrc; text/x-chdr; text/x-copying; text/x-makefile; application/x-shellscript; text/xml; text/x-patch; text/x-python; text/html; text/x-authors; text/x-install; application/x-php; text/css; text/x-sql
X-Ubuntu-Gettext-Domain=app-install-data
