[Desktop Entry]
X-AppInstall-Package=gtkpod-aac
X-AppInstall-Popcon=587
X-AppInstall-Section=multiverse

Name=gtkpod
Icon=gtkpod
Comment=Manage songs and playlists on your Apple iPod
Exec=gtkpod
Terminal=false
Type=Application
Categories=GTK;AudioVideo;
X-Ubuntu-Gettext-Domain=app-install-data
