[Desktop Entry]
X-AppInstall-Package=gtorrent-viewer
X-AppInstall-Popcon=84
X-AppInstall-Section=universe

Name=Torrent Metainfo Viewer
GenericName=Torrent Viewer
Comment=Viewer and Editor for .torrent files
Exec=gtorrentviewer %U
Icon=gtorrentviewer.png
StartupNotify=false
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Network;
MimeType=application/x-bittorrent;
Version=0.2
X-Ubuntu-Gettext-Domain=app-install-data
