[Desktop Entry]
X-AppInstall-Package=gtweakui
X-AppInstall-Popcon=312
X-AppInstall-Section=universe

Name=gTweakUI - Session
Comment=Extra session preferences
Exec=gtweakui-session
Icon=_usr_share_gtweakui_g
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;
X-Desktop-File-Install-Version=0.3
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=app-install-data
