[Desktop Entry]
X-AppInstall-Package=gtwitter
X-AppInstall-Popcon=112
X-AppInstall-Section=universe

Name=gTwitter
GenericName=Twitter client
Comment=Read and post to Twitter
Exec=gtwitter
Icon=gtwitter-menu
Terminal=false
Type=Application
Categories=Network;

X-Ubuntu-Gettext-Domain=app-install-data
