[Desktop Entry]
X-AppInstall-Package=gufw
X-AppInstall-Popcon=883
X-AppInstall-Section=universe

Version=1.0
Type=Application
Terminal=false
Exec=gksudo --preserve-env --description /usr/share/applications/gufw.desktop /usr/share/gufw/gufw.py
Name=Firewall configuration
Comment=Allows you to configure ufw firewall
Icon=_usr_share_icons_hicolor_32x32_apps_gufw_menu
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=app-install-data
