# KDE Config File  
[Desktop Entry]
X-AppInstall-Package=guidedog
X-AppInstall-Popcon=53
X-AppInstall-Section=universe

Type=Application
Exec=guidedog -caption "%c" %i %m  
Icon=guidedog.png
DocPath=guidedog/index.html
Comment=
Terminal=0
Name=Guidedog
X-KDE-RootOnly=true
X-KDE-SubstituteUID=true
X-KDE-Username=root
X-Ubuntu-Gettext-Domain=app-install-data
