[Desktop Entry]
X-AppInstall-Package=gunroar
X-AppInstall-Popcon=57
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Gunroar
GenericName=
Comment=Kenta Cho's Gunroar
Icon=gunroar.xpm
Exec=/usr/games/gunroar
Terminal=false
Categories=Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
