[Desktop Entry]
X-AppInstall-Package=gweled
X-AppInstall-Popcon=477
X-AppInstall-Section=universe

Version=1.0
Name=Gweled
Comment=Play a puzzle game similar to "Diamond Mine"
Exec=gweled
Icon=gweled
Terminal=false
Type=Application
Categories=Game;BlocksGame;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
