[Desktop Entry]
X-AppInstall-Package=gwget
X-AppInstall-Popcon=920
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Gwget Download Manager
GenericName=Download Manager
Comment=Download files from the Internet
Exec=gwget
StartupNotify=true
Icon=gwget.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;FileTransfer;GNOME;GTK
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gwget
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.99

X-Ubuntu-Gettext-Domain=app-install-data
