[Desktop Entry]
X-AppInstall-Package=gwibber
X-AppInstall-Popcon=121
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Gwibber Microblogging Client
Type=Application
Comment=Microblogging client for GNOME
Exec=gwibber
Icon=gwibber
Categories=Network
GenericName=Microblogging Client
X-Ubuntu-Gettext-Domain=app-install-data
