[Desktop Entry]
X-AppInstall-Package=happydigger
X-AppInstall-Popcon=9
X-AppInstall-Section=universe

Encoding=UTF-8
Name=happydigger
Comment=Program for cataloging archaeological finds
Exec=happydigger
Icon=happydigger.png
Terminal=false
Type=Application
Categories=Utility;Database;GTK
X-Ubuntu-Gettext-Domain=app-install-data
