[Desktop Entry]
X-AppInstall-Package=hugin
X-AppInstall-Popcon=716
X-AppInstall-Section=universe

Name=Hugin panorama creator
Comment=Stitch photographs together
GenericName=Panorama stitcher
Categories=Application;Graphics;
Exec=hugin
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
X-Ubuntu-Gettext-Domain=app-install-data
