[Desktop Entry]
X-AppInstall-Package=hydrogen
X-AppInstall-Popcon=1017
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Hydrogen
Comment=Advanced drum machine
TryExec=hydrogen
Exec=hydrogen
Icon=_usr_share_hydrogen_data_img_gray_icon24
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
