[Desktop Entry]
X-AppInstall-Package=ibus
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

Encoding=UTF-8
Name=iBus Preferences
GenericName=iBus Preferences
Comment=Setup utility for iBus
Exec=ibus-setup
Icon=ibus-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
X-Ubuntu-Gettext-Domain=app-install-data
