[Desktop Entry]
X-AppInstall-Package=ibus
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

Encoding=UTF-8
Name=iBus
GenericName=Intelligent Input Bus
Comment=Intellignent Input Bus
Exec=ibus
Icon=ibus
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility;
X-Ubuntu-Gettext-Domain=app-install-data
