[Desktop Entry]
X-AppInstall-Package=idle3
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=IDLE 3
Comment=Integrated DeveLopment Environment for Python3
Exec=/usr/bin/idle3 -n
Icon=_usr_share_pixmaps_idle3
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
