[Desktop Entry]
X-AppInstall-Package=inkblot
X-AppInstall-Popcon=153
X-AppInstall-Section=universe

Name=Inkblot
GenericName=Printer Ink Level Monitor
Comment=Check your printer ink cartridge levels
Exec=inkblot
Terminal=false
Type=Application
Icon=inkblot
StartupNotify=false
Categories=GNOME;GTK;System;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
