[Desktop Entry]
X-AppInstall-Package=ipe
X-AppInstall-Popcon=117
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=IPE drawing editor
GenericName=PDF Figure Editor
Comment=Create your drawings in PDF or PS formats
Exec=ipe
Icon=ipe
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
