[Desktop Entry]
X-AppInstall-Package=jackbeat
X-AppInstall-Popcon=463
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Jackbeat
GenericName=Audio Sequencer
Comment=drummachine-like audio sequencer
Icon=jackbeat
Type=Application
Categories=AudioVideo;Sequencer;
Exec=jackbeat
Terminal=false
MimeType=application/jab;audio/basic
X-Ubuntu-Gettext-Domain=app-install-data
