[Desktop Entry]
X-AppInstall-Package=jajuk
X-AppInstall-Popcon=20
X-AppInstall-Section=universe

Name=Jajuk
Comment=Jajuk Advanced Jukebox
Exec=jajuk
Icon=jajuk.png
Terminal=false
Type=Application
Categories=AudioVideo
X-Ubuntu-Gettext-Domain=app-install-data
