[Desktop Entry]
X-AppInstall-Package=jamin
X-AppInstall-Popcon=951
X-AppInstall-Section=universe

Encoding=UTF-8
Name=JAMin
GenericName=
Comment=JACK Audio Mastering interface
Categories=Application;AudioVideo;
Exec=jamin
Icon=jamin.svg
MimeType=application/x-jamin;
StartupNotify=true
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
