[Desktop Entry]
X-AppInstall-Package=jclic
X-AppInstall-Popcon=34
X-AppInstall-Section=universe

Encoding=UTF-8
Name=JClic Author
Comment=Tool to create and modify JClic projects
Icon=jclicauthor.png
Exec=jclicauthor
Terminal=false
Type=Application
Categories=Application;Education;
StartupNotify=true
TryExec=java
X-Ubuntu-Gettext-Domain=app-install-data
