[Desktop Entry]
X-AppInstall-Package=jscalibrator
X-AppInstall-Popcon=164
X-AppInstall-Section=universe

Type=Application
Name=Joystick Calibration
GenericName=Joystick Calibration
Comment=Calibrate your joystick
Icon=jscalibrator
Exec=/usr/bin/jscalibrator
Terminal=false
Categories=Utility;
X-Ubuntu-Gettext-Domain=app-install-data
