[Desktop Entry]
X-AppInstall-Package=k3d
X-AppInstall-Popcon=240
X-AppInstall-Section=universe

Encoding=UTF-8
Name=K-3D
Comment=3D modeling and animation
Exec=/usr/bin/k3d
Icon=_usr_share_k3d_icons_k3d2
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Graphics;3DGraphics;
X-Ubuntu-Gettext-Domain=app-install-data
