[Desktop Entry]
X-AppInstall-Package=ggz-kde-client
X-AppInstall-Popcon=118
X-AppInstall-Section=universe

Encoding=UTF-8

Name=GGZ Gaming Zone
Comment=Setup your game server and user name preferences

Type=Application
Exec=kcmshell Network/kcmggz
Icon=ggz

X-KDE-Library=ggz
X-KDE-ModuleType=Library
Keywords=GGZ,Games,Multiplayer
Keywords[de]=GGZ,Spiele,Multiplayer
Categories=Qt;KDE;X-KDE-settings-network
X-Ubuntu-Gettext-Domain=app-install-data
