[Desktop Entry]
X-AppInstall-Package=adept
X-AppInstall-Popcon=1650
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Adept Manager
GenericName=Package Manager
Comment=Manage installed and available software
Icon=applications-other
# necessary because X-KDE-SubsituteUID is not processed by XFCE/GNOME
OnlyShowIn=KDE;
TryExec=adept
Exec=adept manager
Terminal=false
Categories=Qt;KDE;System;PackageManager;
X-KDE-SubstituteUID=true

X-Ubuntu-Gettext-Domain=app-install-data
