[Desktop Entry]
X-AppInstall-Package=choqok
X-AppInstall-Popcon=19
X-AppInstall-Section=universe

Name=choqoK
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Network;
GenericName=A KDE4 Twitter Client
Terminal=false
X-DBUS-StartupType=Unique

X-Ubuntu-Gettext-Domain=app-install-data
