[Desktop Entry]
X-AppInstall-Package=kblocks
X-AppInstall-Popcon=228
X-AppInstall-Section=main

Name=KBlocks
Icon=kblocks
Exec=kblocks -caption "%c"
Type=Application
X-DocPath=kblocks/index.html
GenericName=Falling blocks game
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
