[Desktop Entry]
X-AppInstall-Package=kbattleship
X-AppInstall-Popcon=520
X-AppInstall-Section=main

Name=KBattleship
Exec=kbattleship -caption "%c"
Icon=kbattleship
Type=Application
X-DocPath=kbattleship/index.html
GenericName=Battleship Game
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;

X-Ubuntu-Gettext-Domain=app-install-data
