[Desktop Entry]
X-AppInstall-Package=okular-extra-backends
X-AppInstall-Popcon=587
X-AppInstall-Section=main

MimeType=image/fax-g3;image/g3fax;
Terminal=false
Name=Okular
GenericName=Document Viewer
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
InitialPreference=1
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
