[Desktop Entry]
X-AppInstall-Package=mailody-kde4
X-AppInstall-Popcon=13
X-AppInstall-Section=universe

Type=Application
Categories=Qt;KDE;Network;
Exec=mailody
Name=Mailody
Icon=mailody
GenericName=Mail Client

X-Ubuntu-Gettext-Domain=app-install-data
