[Desktop Entry]
X-AppInstall-Package=adept
X-AppInstall-Popcon=1650
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Adept Installer
GenericName=Add/Remove Software
Icon=applications-other
# necessary because X-KDE-SubsituteUID is not processed by XFCE/GNOME
OnlyShowIn=KDE;
TryExec=adept
Exec=adept installer
Terminal=false
Categories=Qt;KDE;Core;
X-KDE-SubstituteUID=true

X-Ubuntu-Gettext-Domain=app-install-data
