# KDE Config File
[Desktop Entry]
X-AppInstall-Package=kile
X-AppInstall-Popcon=1398
X-AppInstall-Section=universe

Type=Application
Exec=kile
Icon=kile
DocPath=kile/index.html
Comment=(La)TeX development environment
Terminal=false
Name=Kile
GenericName=LaTeX Frontend
MimeType=text/x-tex;text/x-kilepr;
Categories=Qt;KDE;Office;Publishing;
Encoding=UTF-8

X-Ubuntu-Gettext-Domain=app-install-data
