# KDE Config File  
[Desktop Entry]
X-AppInstall-Package=rkward
X-AppInstall-Popcon=150
X-AppInstall-Section=universe

Encoding=UTF-8
Name=RKWard
Comment=GUI for the R-project
Icon=rkward
Exec=rkward -caption "%c" %i %m  
Terminal=false
Type=Application
DocPath=rkward/index.html
Categories=Education;Science;Math;
# vi: encoding=utf-8
X-Ubuntu-Gettext-Domain=app-install-data
