[Desktop Entry]
X-AppInstall-Package=akonadi-kde
X-AppInstall-Popcon=2679
X-AppInstall-Section=main

Type=Application
Categories=Qt;KDE;Network;
Exec=akonaditray
Icon=akonadi
Name=Akonaditray
GenericName=Akonadi Tray Utility

X-Ubuntu-Gettext-Domain=app-install-data
