[Desktop Entry]
X-AppInstall-Package=kspread-kde4
X-AppInstall-Popcon=126
X-AppInstall-Section=universe

Name=KSpread
Exec=kspread %u
GenericName=Spreadsheet
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/x-kspread;application/vnd.ms-excel;text/csv;application/x-quattropro;
Type=Application
Icon=kspread
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.spreadsheet
X-DBUS-StartupType=multi
X-DBUS-ServiceName=org.koffice.kspread
X-DocPath=kspread/index.html
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;

X-Ubuntu-Gettext-Domain=app-install-data
