[Desktop Entry]
X-AppInstall-Package=ksame
X-AppInstall-Popcon=381
X-AppInstall-Section=main

Name=SameGame
Exec=ksame -caption "%c"
Type=Application
X-DocPath=ksame/index.html
GenericName=Board Game
Icon=ksame
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;

X-Ubuntu-Gettext-Domain=app-install-data
