[Desktop Entry]
X-AppInstall-Package=kfind
X-AppInstall-Popcon=5059
X-AppInstall-Section=main

Exec=kfind %u
Icon=system-search
X-DocPath=kfind/index.html
Type=Application
Terminal=false
Name=Find Files/Folders
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Core;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
