[Desktop Entry]
X-AppInstall-Package=kpovmodeler
X-AppInstall-Popcon=256
X-AppInstall-Section=multiverse

Type=Application
DocPath=kpovmodeler/index.html
Exec=kpovmodeler -caption "%c" %f
Icon=kpovmodeler
MimeType=application/x-kpovmodeler;
Name=KPovModeler
GenericName=Povray Modeler
Path=
Categories=Qt;KDE;Graphics;
Encoding=UTF-8

X-Ubuntu-Gettext-Domain=app-install-data
