[Desktop Entry]
X-AppInstall-Package=kdebluetooth
X-AppInstall-Popcon=8528
X-AppInstall-Section=main

Name=Kdebluetooth4
Exec=kbluetooth4
Icon=kbluetooth4
Type=Application
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;
Comment=Kdebluetooth - KDE4 Bluetooth Framework
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
