[Desktop Entry]
X-AppInstall-Package=kwalletmanager
X-AppInstall-Popcon=5760
X-AppInstall-Section=main

Name=Wallet Management Tool
Exec=kwalletmanager --kwalletd
Icon=kwalletmanager
Type=Application
Terminal=false
X-KDE-StartupNotify=false
NoDisplay=true
X-DocPath=kwallet/index.html


X-Ubuntu-Gettext-Domain=app-install-data
