[Desktop Entry]
X-AppInstall-Package=akregator
X-AppInstall-Popcon=4024
X-AppInstall-Section=main

Name=Akregator
Exec=akregator %i -caption "%c"
Icon=akregator
Type=Application
X-DocPath=akregator/index.html
GenericName=Feed Reader
Comment=A Feed Reader for KDE
Terminal=false
Categories=Qt;KDE;Network;
X-DBUS-StartupType=Unique

X-Ubuntu-Gettext-Domain=app-install-data
