[Desktop Entry]
X-AppInstall-Package=bomber
X-AppInstall-Popcon=152
X-AppInstall-Section=main

Name=Bomber
Exec=bomber -caption "%c"
Icon=bomber
Type=Application
Terminal=false
GenericName=Arcade bombing game
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=bomber/index.html
X-DBUS-StartupType=Multi

X-Ubuntu-Gettext-Domain=app-install-data
