[Desktop Entry]
X-AppInstall-Package=koffice-data
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Type=Application
Name=KOffice
NoDisplay=true
X-DocPath=koffice/index.html
Categories=Qt;KDE;Office;

X-Ubuntu-Gettext-Domain=app-install-data
