[Desktop Entry]
X-AppInstall-Package=karbon-kde4
X-AppInstall-Popcon=128
X-AppInstall-Section=universe

Name=Karbon14
Exec=karbon %u
GenericName=Scalable Graphics
MimeType=application/vnd.oasis.opendocument.graphics;application/x-karbon;application/illustrator;image/x-eps;application/postscript;
# kghostview has 6 for application/postscript, we need to be under that...
InitialPreference=5
Type=Application
Icon=karbon
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.graphics
Categories=Qt;KDE;Office;Graphics;
Comment=Create scalable vector drawings
X-DocPath=karbon/index.html

X-Ubuntu-Gettext-Domain=app-install-data
