[Desktop Entry]
X-AppInstall-Package=kteatime
X-AppInstall-Popcon=586
X-AppInstall-Section=universe

Name=KTeaTime
GenericName=Tea Cooker
Exec=kteatime
Icon=kteatime
Type=Application
Terminal=false
X-DocPath=kteatime/index.html
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Amusement;
OnlyShowIn=KDE;

X-Ubuntu-Gettext-Domain=app-install-data
