[Desktop Entry]
X-AppInstall-Package=system-config-printer-kde
X-AppInstall-Popcon=6282
X-AppInstall-Section=main

Exec=kcmshell4 kcm-scpk
Icon=printer
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/colors/index.html

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=system-config-printer-kde/kcm-scpk.py

X-KDE-System-Settings-Parent-Category=system
X-KDE-Weight=60

Name=Printer Configuration

Comment=Configure local and remote Printers

X-KDE-Keywords=python kcm

Categories=Qt;KDE;System;

X-Ubuntu-Gettext-Domain=app-install-data
