[Desktop Entry]
X-AppInstall-Package=korganizer
X-AppInstall-Popcon=6145
X-AppInstall-Section=main

MimeType=text/calendar;
Comment=Calendar and Scheduling Program
Exec=korganizer %U
Icon=korganizer
X-DocPath=korganizer/index.html
Type=Application
Terminal=false
Name=KOrganizer
GenericName=Personal Organizer
X-KDE-ServiceTypes=Browser/View,DBUS/Organizer
X-KDE-Library=korganizerpart
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.korganizer
Categories=Qt;KDE;Office;

X-Ubuntu-Gettext-Domain=app-install-data
