# KDE Config File
[Desktop Entry]
X-AppInstall-Package=kpilot
X-AppInstall-Popcon=324
X-AppInstall-Section=universe

Name=KPilot
GenericName=PalmPilot Tool
Exec=kpilot
Icon=kpilot
Type=Application
X-DocPath=kpilot/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-ServiceType=Unique
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;

X-Ubuntu-Gettext-Domain=app-install-data
