[Desktop Entry]
X-AppInstall-Package=kdebase-runtime
X-AppInstall-Popcon=35450
X-AppInstall-Section=main

Name=KNetAttach
GenericName=Network Folder Wizard
Exec=knetattach
InitialPreference=6
Icon=folder-new
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network;
X-DocPath=knetattach/index.html
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
