[Desktop Entry]
X-AppInstall-Package=lokalize
X-AppInstall-Popcon=180
X-AppInstall-Section=main

Name=Lokalize
Exec=lokalize %i -caption "%c"
Icon=lokalize
Type=Application
Categories=Qt;KDE;Translation;Development;
X-DocPath=lokalize/index.html
GenericName=Computer-aided translation system
Terminal=false


X-Ubuntu-Gettext-Domain=app-install-data
