# KDE Config File
[Desktop Entry]
X-AppInstall-Package=kmplayer
X-AppInstall-Popcon=1319
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=kmplayer -caption "%c" %i %m %U
Icon=kmplayer.png
DocPath=kmplayer/index.html
Comment=KDE interface for MPlayer
Terminal=false
Name=KMPlayer
MimeType=application/ogg;application/smil;application/vnd.ms-asf;application/vnd.rn-realmedia;application/x-kmplayer;application/x-mplayer2;application/x-ogg;application/xspf+xml;video/avi;video/flv;video/mediaplayer;video/mp4;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-flic;video/x-matroska;video/x-ms-asf;video/x-flv;video/x-msvideo;video/x-ms-wmp;video/x-ms-wmv;video/x-ogm;video/x-theora;uri/mms;uri/pnm;uri/rtspt;uri/rtspu;
InitialPreference=7
Categories=Qt;KDE;AudioVideo;
GenericName=Media Player

X-Ubuntu-Gettext-Domain=app-install-data
