[Desktop Entry]
X-AppInstall-Package=kiten
X-AppInstall-Popcon=232
X-AppInstall-Section=universe

GenericName=Japanese Reference/Study Tool
Comment=Japanese Reference and Study Tool
X-DocPath=kiten/index.html
X-DBUS-StartupType=Unique
Exec=kiten -caption "%c" %i
Name=Kiten
Terminal=false
Type=Application
Icon=kiten
Categories=Qt;KDE;Education;X-KDE-Edu-Language;

X-Ubuntu-Gettext-Domain=app-install-data
