[Desktop Entry]
X-AppInstall-Package=k9copy
X-AppInstall-Popcon=1584
X-AppInstall-Section=multiverse

Encoding=UTF-8
Type=Application
Name=k9copy assistant
Exec=k9copy --assistant -caption "%c" %i %m  %u
Comment=DVD9 to DVD5 backup tool
GenericName=Video DVD Backup
MimeTypes=
Terminal=false
Icon=k9copy
X-DocPath=k9copy/index.html
Categories=Qt;KDE;AudioVideo;DiscBurning;
X-KDE-StartupNotify=trueX-Ubuntu-Gettext-Domain=desktop_k9copy
X-Ubuntu-Gettext-Domain=app-install-data
