[Desktop Entry]
X-AppInstall-Package=kxsldbg-kde4
X-AppInstall-Popcon=11
X-AppInstall-Section=universe

Name=KXSLDbg
GenericName=XSLT Debugger
Exec=kxsldbg %i -caption "%c"
Icon=kxsldbg
Type=Application
X-DocPath=kxsldbg/index.html
Terminal=false
Categories=Qt;KDE;Development;WebDevelopment;

X-Ubuntu-Gettext-Domain=app-install-data
