[Desktop Entry]
X-AppInstall-Package=lemonpos
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Name=squeeze
Exec=squeeze %i -caption "%c"
Icon=squeeze
Type=Application
Categories=Qt;KDE;Office;
DocPath=squeeze/squeeze.html
GenericName=lemonPOS administration module
Terminal=false

X-Ubuntu-Gettext-Domain=app-install-data
