[Desktop Entry]
X-AppInstall-Package=kimagemapeditor-kde4
X-AppInstall-Popcon=304
X-AppInstall-Section=universe

Type=Application
MimeType=text/html;
Exec=kimagemapeditor -caption "%c" %i
Icon=kimagemapeditor
Terminal=false
Name=KImageMapEditor
GenericName=HTML Image Map Editor
Categories=Qt;KDE;Development;WebDevelopment;

X-Ubuntu-Gettext-Domain=app-install-data
