# KDE Config File
[Desktop Entry]
X-AppInstall-Package=kpilot
X-AppInstall-Popcon=324
X-AppInstall-Section=universe

Name=KPilotDaemon
Exec=kpilotDaemon
NoDisplay=true
Icon=kpilot
Type=Application
Terminal=false
X-DBUS-ServiceType=Unique
Categories=Qt;KDE;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
