[Desktop Entry]
X-AppInstall-Package=gwenview
X-AppInstall-Popcon=7708
X-AppInstall-Section=main

Name=Gwenview
GenericName=Image Viewer
Comment=A simple image viewer
Exec=gwenview %u -caption "%c" %i
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Graphics;
# TODO: what is image/x-krl? Please register this mimetype at freedesktop.org if you need it
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
X-DocPath=gwenview/index.html
InitialPreference=12

X-Ubuntu-Gettext-Domain=app-install-data
