[Desktop Entry]
X-AppInstall-Package=kmobiletools
X-AppInstall-Popcon=342
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KMobileTools
Exec=kmobiletools
Icon=kmobiletools
Type=Application
Comment=Mobile Phone Tool
GenericName=Mobile phone tool
Categories=Qt;KDE;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
