[Desktop Entry]
X-AppInstall-Package=kflickr
X-AppInstall-Popcon=180
X-AppInstall-Section=universe

Encoding=UTF-8
Name=kFlickr
Comment=A standalone Flickr uploader for KDE
Exec=kflickr
Icon=kflickr
Type=Application
Categories=KDE;Graphics;Photography;Network;FileTransfer;
X-Ubuntu-Gettext-Domain=app-install-data
