[Desktop Entry]
X-AppInstall-Package=kboincspy
X-AppInstall-Popcon=96
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KBoincSpy
Exec=kboincspy %i %m -caption "%c"
Icon=kboincspy
Type=Application
Categories=Science;Monitor;Utility;KDE;Qt
DocPath=kboincspy/index.html
GenericName=A BOINC monitoring tool for KDE
X-Ubuntu-Gettext-Domain=app-install-data
