[Desktop Entry]
X-AppInstall-Package=mailody
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Type=Application
Categories=Qt;KDE;Network;
Exec=mailody
Name=Mailody
Icon=mailody
GenericName=Mail Client
X-Ubuntu-Gettext-Domain=app-install-data
