[Desktop Entry]
X-AppInstall-Package=konversation
X-AppInstall-Popcon=2257
X-AppInstall-Section=main

Type=Application
Exec=konversation -caption "%c" %i
Icon=konversation
X-DocPath=konversation/index.html
GenericName=IRC Client
Terminal=false
Name=Konversation
Categories=Qt;KDE;Network;IRCClient;
ServiceTypes=DCOP/InstantMessenger;DCOP/Unique
X-DCOP-ServiceName=konversation
X-DCOP-ServiceType=Unique
X-Ubuntu-Gettext-Domain=app-install-data
