# KDE Config File  
[Desktop Entry]
X-AppInstall-Package=kradio
X-AppInstall-Popcon=103
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=kradio -caption "%c" %i %m  
Icon=kradio.png
DocPath=kradio/index.html
Comment=
Terminal=false
Name=KRadio
Categories=Qt;KDE;AudioVideo;
X-Ubuntu-Gettext-Domain=app-install-data
