[Desktop Entry]
X-AppInstall-Package=kde-hal-device-manager
X-AppInstall-Popcon=285
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=kde-hal-device-manager
Icon=kde-hal-device-manager
Terminal=false
X-KDE-StartupNotify=true

Name=Device Manager
GenericName=Hardware Viewing
Categories=Qt;KDE;System;
X-Ubuntu-Gettext-Domain=app-install-data
