[Desktop Entry]
X-AppInstall-Package=icecc-monitor
X-AppInstall-Popcon=17
X-AppInstall-Section=universe

Encoding=UTF-8
GenericName=Icecream Monitor
Name=Icemon
Comment=A monitor for an Icecream compilation network
Exec=icemon
DocPath=icemon/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Development;
X-Ubuntu-Gettext-Domain=app-install-data
