[Desktop Entry]
X-AppInstall-Package=kbarcode
X-AppInstall-Popcon=115
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=kbarcode --batch
Icon=kbarcode.png
DocPath=kbarcode/index.html
Comment=Barcode and label printing tool (batch printing mode)
Terminal=false
Name=KBarcode Batch Printing
Categories=Qt;KDE;Office;
X-Ubuntu-Gettext-Domain=app-install-data
