[Desktop Entry]
X-AppInstall-Package=datakiosk
X-AppInstall-Popcon=20
X-AppInstall-Section=universe

Encoding=UTF-8
Name=DataKiosk
Type=Application
Exec=datakiosk
Icon=datakiosk
Terminal=false
GenericName=Database Interface
Comment=A Database Interface Tool
Categories=Qt;KDE;Office;Database;Development;
X-Ubuntu-Gettext-Domain=app-install-data
