[Desktop Entry]
X-AppInstall-Package=ksniffer
X-AppInstall-Popcon=178
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KSniffer
GenericName=Network Analyzer
Exec=ksniffer
Icon=ksniffer.png
Type=Application
DocPath=ksniffer/index.html
X-KDE-SubstituteUID=true
X-KDE-RootOnly=true
Categories=Qt;KDE;Network;
Comment=A KDE application for sniffing your network
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
