[Desktop Entry]
X-AppInstall-Package=keep
X-AppInstall-Popcon=5365
X-AppInstall-Section=universe

Type=Application
Exec=keep
Icon=keep
GenericName=Backup System
Terminal=false
Name=Keep
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Application;System;
Encoding=UTF-8

X-Ubuntu-Gettext-Domain=app-install-data
