[Desktop Entry]
X-AppInstall-Package=eva
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

Type=Application
Name=Eva
Exec=eva -caption "%c" %i %m %u
GenericName=Instant Messenger
Comment=Instant Messenger
Icon=eva
Categories=Qt;KDE;Network;InstantMessaging;
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
