[Desktop Entry]
X-AppInstall-Package=klear
X-AppInstall-Popcon=101
X-AppInstall-Section=universe

Name=Klear
GenericName=DVB-TV/Harddiskrecorder
Exec=klear
Icon=klear
Type=Application
Terminal=false
X-KDE-StartupNotify=false
Categories=Qt;KDE;AudioVideo;Recorder;
X-Ubuntu-Gettext-Domain=app-install-data
