[Desktop Entry]
X-AppInstall-Package=soundkonverter
X-AppInstall-Popcon=688
X-AppInstall-Section=universe

Categories=Qt;KDE;AudioVideo;AudioVideoEditing
Encoding=UTF-8
Name=soundKonverter
Exec=soundkonverter
Icon=soundkonverter
Type=Application
X-DCOP-ServiceType=Unique
Comment=An audio converter and CD ripper
GenericName=Audio files converter and CD ripper
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
