[Desktop Entry]
X-AppInstall-Package=earth3d
X-AppInstall-Popcon=323
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Icon=earth
Exec=earth3d
DocPath=
Comment=eart3d - 3D Model of the earth
Name=earth3d
Categories=Qt;Education;Science
X-Ubuntu-Gettext-Domain=app-install-data
