[Desktop Entry]
X-AppInstall-Package=kmyfirewall
X-AppInstall-Popcon=146
X-AppInstall-Section=universe

Type=Application
MimeType=application/x-kmyfirewall;application/x-kmyfirewall-kmfrs;application/x-kmyfirewall-kmfgrs;application/x-kmyfirewall-kmfnet;
Icon=kmyfirewall
Exec=kmyfirewall %u
Terminal=false
Categories=Qt;KDE;System;
Name=KMyFirewall
GenericName=Firewall Configuration Tool
Comment=Firewall Configuration Tool
X-Ubuntu-Gettext-Domain=app-install-data
