# KDE Config File  
[Desktop Entry]
X-AppInstall-Package=kallery
X-AppInstall-Popcon=58
X-AppInstall-Section=universe

Type=Application
Exec=kallery -caption "%c" %i %m  
Icon=kallery.png
MiniIcon=kallery.png
DocPath=kallery/index.html
Comment=
Terminal=0
Name=Kallery
GenericName=Image Gallery Generator
Categories=Qt;KDE;Graphics
X-Ubuntu-Gettext-Domain=app-install-data
