[Desktop Entry]
X-AppInstall-Package=klinkstatus
X-AppInstall-Popcon=986
X-AppInstall-Section=universe

Name=KLinkStatus
Exec=klinkstatus %i %m -caption "%c"
Icon=klinkstatus
Type=Application
DocPath=klinkstatus/index.html
Terminal=false
GenericName=Link Checker
Categories=Qt;KDE;Development;WebDevelopment;

X-Ubuntu-Gettext-Domain=app-install-data
