[Desktop Entry]
X-AppInstall-Package=codeine
X-AppInstall-Popcon=134
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Codeine
Exec=codeine %u
Icon=codeine
Type=Application
Terminal=false
MimeType=video/x-theora;video/x-ogm;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;
Categories=Qt;KDE;AudioVideo;Player
Comment=Video player for KDE designed to be as simple as possible
GenericName=Media Player
X-Ubuntu-Gettext-Domain=app-install-data
