[Desktop Entry]
X-AppInstall-Package=knmap
X-AppInstall-Popcon=164
X-AppInstall-Section=universe

Name=knmap
Exec=knmap
Icon=knmap
Type=Application
Comment=A simple KDE Application
GenericName=nmap Graphical User Interface
Categories=Qt;KDE;Utility
X-Ubuntu-Gettext-Domain=app-install-data
