[Desktop Entry]
X-AppInstall-Package=mateedit
X-AppInstall-Popcon=13
X-AppInstall-Section=universe

Encoding=UTF-8
Name=MateEdit
Exec=mateedit
Icon=mateedit
Type=Application
Comment=Multiuser editor
GenericName=Collaborative Editor
Categories=Qt;KDE;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
