[Desktop Entry]
X-AppInstall-Package=kbarcode
X-AppInstall-Popcon=115
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=kbarcode --label
Icon=kbarcode.png
DocPath=kbarcode/index.html
Comment=Barcode and label printing tool (editor)
Terminal=false
Name=KBarcode Label Editor
Categories=Qt;KDE;Office;


X-Ubuntu-Gettext-Domain=app-install-data
