[Desktop Entry]
X-AppInstall-Package=kinstaller
X-AppInstall-Popcon=64
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KInstaller
Exec=kinstaller %i %m -caption "%c"
Icon=kinstaller
Type=Application
DocPath=kinstaller/kinstaller.html
Comment=A KDE KPart Application
Terminal=0

X-Ubuntu-Gettext-Domain=app-install-data
