[Desktop Entry]
X-AppInstall-Package=kivio
X-AppInstall-Popcon=983
X-AppInstall-Section=main

Name=Kivio
Exec=kivio %u
GenericName=Flowchart & Diagram Editing
MimeType=application/x-kivio
Type=Application
Icon=kivio
X-KDE-NativeMimeType=application/x-kivio
DocPath=kivio/index.html
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Office;
X-Ubuntu-Gettext-Domain=app-install-data
