[Desktop Entry]
X-AppInstall-Package=k3b
X-AppInstall-Popcon=8968
X-AppInstall-Section=main

Type=Application
Exec=k3b %U
Icon=k3b
DocPath=k3b/index.html
GenericName=CD & DVD Burning
Comment=CD writing program
Terminal=false
Name=K3b
MimeType=application/x-k3b;application/x-iso;application/x-cue
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;application/x-iso;application/x-cue
Categories=KDE;Application;AudioVideo;DiscBurning;
X-DCOP-ServiceType=Unique
X-Ubuntu-Gettext-Domain=app-install-data
