[Desktop Entry]
X-AppInstall-Package=kde-pwmanager
X-AppInstall-Popcon=69
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=pwmanager -caption "%c" %i %m
Icon=pwmanager
Comment=The convenient way of managing passwords
GenericName=Password Manager
Name=PwManager
Categories=Qt;KDE;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
