# KDE Config File  
[Desktop Entry]
X-AppInstall-Package=ksimus
X-AppInstall-Popcon=145
X-AppInstall-Section=universe

Version=1.0
Type=Application
TryExec=ksimus
Exec=ksimus -caption "%c" %i %u
Icon=ksimus
X-DocPath=ksimus/index.html
Comment=Simulate and visualize digital electronic circuits
Terminal=false
Name=KSimus Circuit Simulator
MimeType=application/x-ksimus;
InitialPreference=100
Categories=Electronics;Education;KDE;Science;
X-Ubuntu-Gettext-Domain=app-install-data
