[Desktop Entry]
X-AppInstall-Package=kaffeine
X-AppInstall-Popcon=6619
X-AppInstall-Section=universe

Categories=Qt;KDE;AudioVideo;Player;
X-KDE-Protocols=file,http,audiocd,smb
DocPath=kaffeine/index.html
Exec=kaffeine %U
GenericName=Media Player
Icon=kaffeine
MimeType=application/x-ogg;video/x-matroska;audio/x-matroska;video/mpeg;video/msvideo;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-fli;video/x-flic;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;application/x-mplayer2;application/smil;application/x-kaffeine;audio/x-musepack;
Name=Kaffeine
Terminal=false
Type=Application
X-KDE-HasTempFileOption=true
X-Ubuntu-Gettext-Domain=app-install-data
