[Desktop Entry]
X-AppInstall-Package=kplato
X-AppInstall-Popcon=322
X-AppInstall-Section=main

Name=KPlato
GenericName=Project Management
Exec=kplato %u
MimeType=application/x-vnd.kde.kplato
Type=Application
Icon=kplato
X-KDE-NativeMimeType=application/x-vnd.kde.kplato
DocPath=kplato/index.html
Categories=Qt;KDE;Office;
X-KDE-StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
