[Desktop Entry]
X-AppInstall-Package=kxsldbg
X-AppInstall-Popcon=731
X-AppInstall-Section=universe

Name=KXSLDbg
GenericName=XSLT Debugger
Exec=kxsldbg %i %m -caption "%c"
Icon=kxsldbg
Type=Application
DocPath=kxsldbg/index.html
Terminal=false
Categories=Qt;KDE;Development;WebDevelopment;
X-Ubuntu-Gettext-Domain=app-install-data
