[Desktop Entry]
X-AppInstall-Package=kphotoalbum
X-AppInstall-Popcon=103
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KPhotoAlbum
Exec=kphotoalbum
GenericName=Photo Album
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
X-Ubuntu-Gettext-Domain=app-install-data
