[Desktop Entry]
X-AppInstall-Package=kformula
X-AppInstall-Popcon=688
X-AppInstall-Section=main

Name=KFormula
Exec=kformula %u
GenericName=Formula Editor
MimeType=application/vnd.oasis.opendocument.formula;application/x-kformula
Type=Application
Icon=kformula
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.formula
X-DCOP-ServiceType=Multi
DocPath=kformula/index.html
Categories=Qt;KDE;Office;X-KDE-More;
X-Ubuntu-Gettext-Domain=app-install-data
