[Desktop Entry]
X-AppInstall-Package=kyamo
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Name=Kyamo
Exec=kyamo
TryExec=kyamo
Icon=kyamo
Type=Application
GenericName=Music collection organizer
Comment=Music collection organizer
Categories=Qt;KDE;AudioVideo;

X-Ubuntu-Gettext-Domain=app-install-data
