[Desktop Entry]
X-AppInstall-Package=kxneur
X-AppInstall-Popcon=20
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KXNeur
Exec=kxneur
Type=Application
Icon=kxneur
Comment=KDE X Neural Keyboard Switcher
Terminal=0
Categories=Qt;KDE;Utility;Accessibility
X-Ubuntu-Gettext-Domain=app-install-data
