[Desktop Entry]
X-AppInstall-Package=ktranslator
X-AppInstall-Popcon=75
X-AppInstall-Section=universe

Encoding=UTF-8
Name=ktranslator
Exec=ktranslator
Icon=ktranslator
Type=Application
Comment=A KDE Translation Application
GenericName=Translation Application
Categories=Qt;KDE;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
