[Desktop Entry]
X-AppInstall-Package=kiso
X-AppInstall-Popcon=181
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Kiso
Exec=kiso
Actions=openimage;
ServiceTypes=application/x-iso,application/x-nrg
X-KDE-NativeMimeType=application/x-nrg
Icon=kiso.png
Type=Application
Comment=An application to modify ISO-Images.
Categories=Qt;KDE;Utility;

[Desktop Action openimage]
Name=Open image...
Icon=kiso.png
Exec=kiso %F
X-Ubuntu-Gettext-Domain=app-install-data
