[Desktop Entry]
X-AppInstall-Package=kuickshow
X-AppInstall-Popcon=375
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Kuickshow
Exec=kuickshow %i %m -caption "%c" %U
Icon=kuickshow
Type=Application
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-psd;image/x-eim;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;
DocPath=kuickshow/index.html
Terminal=false
InitialPreference=6

GenericName=Image Viewer
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics;

X-Ubuntu-Gettext-Domain=app-install-data
