[Desktop Entry]
X-AppInstall-Package=kbarcode
X-AppInstall-Popcon=115
X-AppInstall-Section=universe

Type=MimeType
Comment=KBarcode Label
Encoding=UTF-8
Icon=kbarcode
MimeType=application/kbarcode-label
Patterns=*.kbarcode;*.KBARCODE;

X-Ubuntu-Gettext-Domain=app-install-data
