# KDE Config File
[Desktop Entry]
X-AppInstall-Package=kdenlive
X-AppInstall-Popcon=615
X-AppInstall-Section=universe

GenericName=Video Editor
Type=Application
Exec=kdenlive -caption "%c" %i %m
Icon=kdenlive.png
DocPath=kdenlive/index.html
Comment=Nonlinear video editor for KDE
Terminal=0
Name=Kdenlive
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;

X-Ubuntu-Gettext-Domain=app-install-data
