[Desktop Entry]
X-AppInstall-Package=krita
X-AppInstall-Popcon=1560
X-AppInstall-Section=main

Name=Krita
Exec=krita %U
DocPath=krita/index.html
Comment=Edit and paint images
GenericName=Painting and Image Editing
MimeType=application/x-krita
Type=Application
Icon=krita
Categories=Qt;KDE;Graphics;
X-KDE-NativeMimeType=application/x-krita
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
X-Krita-Version=2
X-Ubuntu-Gettext-Domain=app-install-data
