[Desktop Entry]
X-AppInstall-Package=kbarcode
X-AppInstall-Popcon=115
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=kbarcode -caption "%c" %i %m %f
Icon=kbarcode.png
MimeType=application/kbarcode-label
DocPath=kbarcode/index.html
Comment=Barcode and label printing tool
Terminal=0
Name=KBarcode
Categories=Qt;KDE;Office;
X-Ubuntu-Gettext-Domain=app-install-data
