[Desktop Entry]
X-AppInstall-Package=koshell
X-AppInstall-Popcon=270
X-AppInstall-Section=main

Name=KOffice Workspace
DocPath=koshell/index.html
Exec=koshell
GenericName=Office Suite
Type=Application
Icon=koshell
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Office;
X-Ubuntu-Gettext-Domain=app-install-data
