[Desktop Entry]
X-AppInstall-Package=kalcul
X-AppInstall-Popcon=37
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Kalcul
GenericName=Mental Calculation Tutor
Exec=kalcul %i %m -caption "%c"
Icon=kalcul
Type=Application
DocPath=kalcul/kalcul.html
Comment=A KDE KPart Application
Terminal=false
Categories=Qt;KDE;Education;Math;

X-Ubuntu-Gettext-Domain=app-install-data
