[Desktop Entry]
X-AppInstall-Package=koverartist
X-AppInstall-Popcon=74
X-AppInstall-Section=universe

Name=KoverArtist
GenericName=CD/DVD Cover Creator
Comment=Design and print covers for CD/DVD cases
Exec=koverartist
Icon=koverartist
Type=Application
Terminal=false
Categories=Qt;KDE;Graphics;
X-Ubuntu-Gettext-Domain=app-install-data
