[Desktop Entry]
X-AppInstall-Package=klamav
X-AppInstall-Popcon=384
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KlamAV
Exec=klamav %i %m -caption "%c"
Icon=klamav
Type=Application
DocPath=klamav/klamav.html
Comment=An Anti-Virus Manager
Terminal=0
GenericName=Anti-Virus Manager
Categories=Qt;KDE;Application;System;
X-Ubuntu-Gettext-Domain=app-install-data
