[Desktop Entry]
X-AppInstall-Package=kdevelop
X-AppInstall-Popcon=1594
X-AppInstall-Section=universe

Type=Application
Exec=kdevelop %u
MimeType=application/x-kdevelop;
Icon=kdevelop
X-DocPath=kdevelop/index.html
Terminal=false
Name=KDevelop: Multilanguage
GenericName=IDE
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;IDE;X-KDE-KDevelopIDE;

X-Ubuntu-Gettext-Domain=app-install-data
