# KDE Config File  
[Desktop Entry]
X-AppInstall-Package=knowit
X-AppInstall-Popcon=29
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=knowit -caption "%c" %i %m  
MimeType=application/x-knowit
Icon=knowit.png
DocPath=knowit/index.html
Comment=
Terminal=0
Name=KnowIt
X-Ubuntu-Gettext-Domain=app-install-data
