[Desktop Entry]
X-AppInstall-Package=komparator
X-AppInstall-Popcon=115
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Komparator
Exec=komparator %U
Icon=komparator
Type=Application
Comment=A KDE Directory Synchronization Application
Terminal=false
Categories=Qt;KDE;Utility;Archiving;
DocPath=komparator/index.html

X-Ubuntu-Gettext-Domain=app-install-data
