[Desktop Entry]
X-AppInstall-Package=kfolding
X-AppInstall-Popcon=7
X-AppInstall-Section=multiverse

Encoding=UTF-8
Icon=kfolding
Name=Folding@home

Comment=A panel applet for $NAME$


X-KDE-Library=kfolding_panelapplet
X-KDE-UniqueApplet=false
X-Ubuntu-Gettext-Domain=app-install-data
