[Desktop Entry]
X-AppInstall-Package=ggz-kde-client
X-AppInstall-Popcon=118
X-AppInstall-Section=universe

Encoding=UTF-8

Name=KGGZ
GenericName=Internet gaming center for KDE
Comment=GGZ Core Client

Type=Application
Exec=kggz
Icon=kggz
DocPath=kggz/index.docbook
Terminal=false
Categories=X-GGZ;Network;KDE;Qt;
X-Ubuntu-Gettext-Domain=app-install-data
