[Desktop Entry]
X-AppInstall-Package=kgmailnotifier
X-AppInstall-Popcon=75
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KGmailNotifier
Exec=kgmailnotifier
Icon=kgmailnotifier
Type=Application
Comment=A simple KDE Application

X-KDE-autostart-condition=kgmailnotifierrc:Advanced:Autostart:true
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Network;X-KDE-Internet;
X-Ubuntu-Gettext-Domain=app-install-data
