[Desktop Entry]
X-AppInstall-Package=ggz-kde-client
X-AppInstall-Popcon=118
X-AppInstall-Section=universe

Encoding=UTF-8

Name=KGrubby
GenericName=Chatbot configuration
Comment=Configuration of Grubby, the GGZ chatbot

Type=Application
Exec=kgrubby
Icon=kgrubby
Terminal=false
Categories=X-GGZ;DesktopSettings;KDE;Qt;
X-Ubuntu-Gettext-Domain=app-install-data
