[Desktop Entry]
X-AppInstall-Package=kino
X-AppInstall-Popcon=2822
X-AppInstall-Section=main

Name=Kino
GenericName=Video Editor
Comment=Edit DV video
Encoding=UTF-8
TryExec=kino
Exec=kino %F
Icon=kino.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;AudioVideo;
MimeType=video/dv;application/smil
X-Ubuntu-Gettext-Domain=app-install-data
