[Desktop Entry]
X-AppInstall-Package=klogshow
X-AppInstall-Popcon=8
X-AppInstall-Section=universe

Name=klogshow
GenericName=LogViewer
Exec=klogshow
Icon=klogshow
Type=Application
Comment=Klogshow - Klogshow displays the last few lines of a text files on your desktop.
Categories=Qt;KDE;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
