[Desktop Entry]
X-AppInstall-Package=kmidimon
X-AppInstall-Popcon=36
X-AppInstall-Section=universe

Encoding=UTF-8
Name=kmidimon
Exec=kmidimon
Icon=kmidimon
Type=Application
Comment=ALSA Sequencer MIDI monitor
X-Ubuntu-Gettext-Domain=app-install-data
