[Desktop Entry]
X-AppInstall-Package=kphotobymail
X-AppInstall-Popcon=10
X-AppInstall-Section=universe

Type=Application
Name=Kphotobymail
GenericName=A photo uploader
Comment=A flickr photo uploader by mail
Icon=kphotobymail.png
TryExec=kphotobymail
Exec=kphotobymail
Terminal=false
Categories=Network;Qt;
X-Ubuntu-Gettext-Domain=app-install-data
