[Desktop Entry]
X-AppInstall-Package=keysafe
X-AppInstall-Popcon=17
X-AppInstall-Section=universe

Version=1.0
Name=KeySafe Config
Comment=KeySafe configuration tool
Exec=/usr/bin/ksed
Type=Application
Terminal=false
Categories=Settings;Security
X-Ubuntu-Gettext-Domain=app-install-data
