[Desktop Entry]
X-AppInstall-Package=kstreamripper
X-AppInstall-Popcon=220
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=KStreamRipper
Comment=Streamripper Frontend
Exec=kstreamripper
Icon=kstreamripper
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Tuner;Recorder;
X-Ubuntu-Gettext-Domain=app-install-data
