[Desktop Entry]
X-AppInstall-Package=ggz-kde-games
X-AppInstall-Popcon=108
X-AppInstall-Section=universe

Encoding=UTF-8

Name=KTicTacTux
GenericName=TicTacToe game for KDE
Comment=GGZ TicTacToe game

Type=Application
Exec=/usr/lib/ggz/ktictactux_client
Icon=ktictactux
Terminal=false
Categories=X-GGZ-Games;BoardGame;Game;KDE;Qt;
X-Ubuntu-Gettext-Domain=app-install-data
