[Desktop Entry]
X-AppInstall-Package=kwlan
X-AppInstall-Popcon=27
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Kwlan
Exec=kwlan %i %m -caption "%c"
Icon=kwlan
Type=Application
DocPath=kwlan/kwlan.html
Comment=KDE network manager
Categories=Qt;KDE;Network;
GenericName= Wireless Lan Manager
X-DCOP-ServiceType=Unique
X-Ubuntu-Gettext-Domain=app-install-data
