[Desktop Entry]
X-AppInstall-Package=labyrinth
X-AppInstall-Popcon=235
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Labyrinth Mind-mapping
GenericName=Mind-mapping
Comment=Map your mind
Exec=labyrinth
Icon=labyrinth
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Office;

X-Ubuntu-Gettext-Domain=app-install-data
