[Desktop Entry]
X-AppInstall-Package=last-exit
X-AppInstall-Popcon=167
X-AppInstall-Section=universe

Version=1.0
Name=Last-Exit
Comment=Last.fm player
Exec=last-exit
Icon=last-exit
Terminal=false
Type=Application
Encoding=UTF-8
StartupNotify=true
Categories=GTK;Application;AudioVideo;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=last-exit
X-GNOME-Bugzilla-Component=General


X-Ubuntu-Gettext-Domain=app-install-data
