[Desktop Entry]
X-AppInstall-Package=lazarus-ide
X-AppInstall-Popcon=153
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Lazarus
Comment=Lazarus IDE
Exec=startlazarus %f
Terminal=false
Type=Application
Icon=lazarus.png
Categories=Application;IDE;Development;GTK;GUIDesigner;
StartupWMClass=Lazarus
MimeType=text/x-pascal;text/lazarus-project-source;text/lazarus-project-information;text/lazarus-form;text/lazarus-resource;text/lazarus-package;text/lazarus-package-link;text/lazarus-code-inlay;
X-Ubuntu-Gettext-Domain=app-install-data
