[Desktop Entry]
X-AppInstall-Package=lbreakout2
X-AppInstall-Popcon=855
X-AppInstall-Section=universe

Name=lbreakout2
Version=2.5.2
Comment=A ball-and-paddle game with nice graphics.
Encoding=UTF-8
Exec=/usr/games/lbreakout2
Icon=lbreakout2.xpm
Type=Application
Categories=Application;Game;
X-Ubuntu-Gettext-Domain=app-install-data
