[Desktop Entry]
X-AppInstall-Package=leafpad
X-AppInstall-Popcon=411
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Leafpad
Comment=Simple text editor
Exec=leafpad %f
Icon=leafpad
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;

X-Ubuntu-Gettext-Domain=app-install-data
