[Desktop Entry]
X-AppInstall-Package=likewise-open5-gui
X-AppInstall-Popcon=4
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Active Directory membership
Comment=Join or leave an Active Directory domain using Likewise-Open
Exec=/usr/bin/gksu /usr/bin/domainjoin-gui
Terminal=false
Type=Application
Icon=_usr_share_likewise-open5_domainjoin-logo
Categories=System;Settings;
OnlyShowIn=GNOME;XFCE;
X-Ubuntu-Gettext-Domain=app-install-data
