[Desktop Entry]
X-AppInstall-Package=love
X-AppInstall-Popcon=5
X-AppInstall-Section=universe

Name=Löve Game
Type=Application
Exec=love %f
Icon=love-app-64.png
Encoding=UTF-8
Comment=Run Löve game
Terminal=false
MimeType=application/x-love-game
Categories=Game;
X-Ubuntu-Gettext-Domain=app-install-data
