[Desktop Entry]
X-AppInstall-Package=calibre
X-AppInstall-Popcon=10
X-AppInstall-Section=universe

Type=Application
Name=LRF Viewer
Comment=Viewer for LRF files (SONY ebook format files)
TryExec=lrfviewer
Exec=lrfviewer %F
Icon=lrfviewer
MimeType=application/x-sony-bbeb;
Categories=Graphics;Viewer;
X-Ubuntu-Gettext-Domain=app-install-data
