[Desktop Entry]
X-AppInstall-Package=lsr
X-AppInstall-Popcon=27
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Linux Screen Reader
Comment=Run LSR under the default user profile
GenericName=Screen Reader
Terminal=false
Type=Application
Exec=/usr/bin/lsr
StartupNotify=false
Categories=GNOME;GTK;Settings;Accessibility;X-Red-Hat-Base;
OnlyShowIn=GNOME;
Icon=lsr
MimeType=application/x-screen-reader;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=lsr
X-GNOME-Bugzilla-Component=core
X-Ubuntu-Gettext-Domain=app-install-data
