[Desktop Entry]
X-AppInstall-Package=lxde
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Shutdown
Comment=Shutdown or Reboot
Icon=stock_exit
Exec=lxde-logout
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
