[Desktop Entry]
X-AppInstall-Package=lxrandr
X-AppInstall-Popcon=77
X-AppInstall-Section=universe

Name=Monitor Settings
Comment=Change screen resolution and configure external monitors
Exec=lxrandr
Encoding=UTF-8
Type=Applications
Categories=Settings;
X-Ubuntu-Gettext-Domain=app-install-data
