[Desktop Entry]
X-AppInstall-Package=lxterminal
X-AppInstall-Popcon=101
X-AppInstall-Section=universe

Encoding=UTF-8
Name=LXTerminal
GenericName=Terminal
Comment=Use the command line
TryExec=lxterminal
Exec=lxterminal
Icon=lxterminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
X-Ubuntu-Gettext-Domain=app-install-data
