[Desktop Entry]
X-AppInstall-Package=lynkeos.app
X-AppInstall-Popcon=63
X-AppInstall-Section=universe

Name=Lynkeos Image Processor
Comment=Filtering of astronomical images
Type=Application
Version=0.94
Categories=Graphics;Photography;Astronomy;
Icon=_usr_lib_GNUstep_Applications_Lynkeos.app_Resources_Lynkeos
Exec=Lynkeos
X-Ubuntu-Gettext-Domain=app-install-data
