[Desktop Entry]
X-AppInstall-Package=maelstrom
X-AppInstall-Popcon=305
X-AppInstall-Section=multiverse

Type=Application
Name=Maelstrom
GenericName=Ambrosia Maelstrom
Comment=Play an Asteroids like game
Icon=maelstrom.xpm
Exec=/usr/games/maelstrom
Terminal=false
Categories=Application;Game;ArcadeGame
X-Ubuntu-Gettext-Domain=app-install-data
