[Desktop Entry]
X-AppInstall-Package=mathwar
X-AppInstall-Popcon=35
X-AppInstall-Section=universe

Name=MathWar
Comment=A simple math game for kids
Exec=mathwar
Icon=mathwar
Terminal=false
Type=Education;Math;
X-Ubuntu-Gettext-Domain=app-install-data
