[Desktop Entry]
X-AppInstall-Package=deskscribe
X-AppInstall-Popcon=48
X-AppInstall-Section=universe

Name=Mausgrapher
GenericName=Mouse Click Grapher
Comment=Mouse click graphing tool
Exec=mausgrapher
Icon=mausgrapher
Terminal=false
Type=Application
MimeType=text/x-mouse-log
Categories=GNOME;GTK;Development;GUIDesigner;
StartupNotify=true
OnlyShowIn=GNOME;
X-SuSE-translate=true

X-Ubuntu-Gettext-Domain=app-install-data
