[Desktop Entry]
X-AppInstall-Package=meld
X-AppInstall-Popcon=1098
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Meld Diff Viewer
Comment=Compare and merge your files.
Exec=meld
Terminal=false
Type=Application
Icon=meld
Categories=GNOME;Application;Development;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=meld
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=app-install-data
