[Desktop Entry]
X-AppInstall-Package=mergeant
X-AppInstall-Popcon=227
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Mergeant Database Administration
GenericName=Database Administration
Comment=Maintain and query a SQL database
Exec=mergeant
Icon=mergeant
Terminal=false
Type=Application
Categories=Office;Database;
StartupNotify=true
MimeType=application/x-mergeant;

X-Ubuntu-Gettext-Domain=app-install-data
