[Desktop Entry]
X-AppInstall-Package=midori
X-AppInstall-Popcon=496
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Midori
GenericName=Web Browser
Comment=Lightweight web browser
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;
Exec=midori %u
Icon=midori
Terminal=false
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
