[Desktop Entry]
X-AppInstall-Package=mkvtoolnix-gui
X-AppInstall-Popcon=409
X-AppInstall-Section=universe

Encoding=UTF-8
Name=MKV files creator
Exec=mmg
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;
Icon=matroskalogo.xpm
X-Ubuntu-Gettext-Domain=app-install-data
