[Desktop Entry]
X-AppInstall-Package=mlterm
X-AppInstall-Popcon=44
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Multilingual Terminal
GenericName=
Comment=Use Multi-Lingual Command Line
Icon=mlterm-icon-24colors-1.xpm
Exec=mlterm
Terminal=false
Categories=Application;Utility;TerminalEmulator;
X-Ubuntu-Gettext-Domain=app-install-data
