[Desktop Entry]
X-AppInstall-Package=monkey-bubble
X-AppInstall-Popcon=218
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Monkey Bubble
Comment=Monkey Bubble Arcade Game
Exec=monkey-bubble
Icon=monkey-bubble-icon.png
Terminal=false
Type=Application
Categories=GNOME;Application;Game;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
