[Desktop Entry]
X-AppInstall-Package=monster-masher
X-AppInstall-Popcon=33
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Monster Masher
Comment=Mash monsters and save the gnomes
Exec=monster-masher
Icon=monster-masher.png
Terminal=false
Type=Application
Categories=GNOME;Game;ArcadeGame;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
