[Desktop Entry]
Encoding=UTF-8
Name=Beagle extension for Firefox
Comment=Extension that allows Beagle indexing webpages visited by the user.
GenericName=Firefox indexing extension
Type=Application
Icon=mozilla-beagle
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=mozilla-beagle
X-AppInstall-Popcon=101
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
