[Desktop Entry]
Encoding=UTF-8
Name=bidiui extension for Thunderbird/Icedove
Comment=BiDirectional support for Thunderbird/Icedove
GenericName=Thunderbird/Icedove language extension
Type=Application
Icon=mozilla-thunderbird-bidiui
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-thunderbird
StartupNotify=true

X-AppInstall-Package=mozilla-thunderbird-bidiui
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
