[Desktop Entry]
Encoding=UTF-8
Name=No Script extension for Firefox
Comment=Javascript/plugins permissions manager for Firefox
GenericName=Firefox extension
Type=Application
Icon=mozilla-noscript
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=mozilla-noscript
X-AppInstall-Popcon=793
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
