[Desktop Entry]
Encoding=UTF-8
Name=Context Menu extensions for Firefox
Comment=Extends the context menu of Firefox by adding useful features, user-defined scripts, external applications and so on.
GenericName=Firefox user-script extension
Type=Application
Icon=
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=mozilla-ctxextensions
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
