[Desktop Entry]
Encoding=UTF-8
Name=Stumbleupon extension for Firefox
Comment=Firefox extension for sharing interesting websites
GenericName=Firefox toolbar extension
Type=Application
Icon=mozilla-stumbleupon
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=mozilla-stumbleupon
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
