[Desktop Entry]
Encoding=UTF-8
Name=Biofox extension for Firefox
Comment=Extension of bioinformatics tools to Firefox browsers
GenericName=Firefox bioinformatics extension
Type=Application
Icon=mozilla-biofox
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=mozilla-biofox
X-AppInstall-Popcon=13
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
