[Desktop Entry]
X-AppInstall-Package=mono-profiler
X-AppInstall-Popcon=3
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Name=heap-snapshot-viewer
Exec=heap-snapshot-viewer
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
