[Desktop Entry]
Name=Microsoft Core Fonts 
Comment=Installer for Microsoft TrueType core fonts such as Times New Roman and Arial
Encoding=UTF-8
Terminal=false
Type=Application
Categories=GNOME;Application;Graphics;
X-AppInstall-Package=msttcorefonts
X-AppInstall-Popcon=17
X-AppInstall-Section=multiverse
X-Ubuntu-Gettext-Domain=app-install-data
