[Desktop Entry]
X-AppInstall-Package=mu-cade
X-AppInstall-Popcon=29
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Mu-cade
GenericName=
Comment=Kenta Cho's Mu-cade
Icon=mu-cade.xpm
Exec=/usr/games/mu-cade
Terminal=false
Categories=Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
