[Desktop Entry]
X-AppInstall-Package=ggz-kde-games
X-AppInstall-Popcon=108
X-AppInstall-Section=universe

Encoding=UTF-8

Name=Muehle
GenericName=Nine Men's Morris game for KDE
Comment=GGZ Muehle game

Type=Application
Exec=/usr/lib/ggz/muehle
Icon=muehle
DocPath=muehle/index.docbook
Terminal=false
Categories=X-GGZ-Games;BoardGame;Game;KDE;Qt;

NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
