[Desktop Entry]
X-AppInstall-Package=multisync
X-AppInstall-Popcon=560
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Multisync
Comment=Synchronization program for personal information such as calendars, addressbooks etc.
Exec=/usr/bin/multisync
Terminal=false
Type=Application
Icon=_usr_share_multisync_pixmaps_multisync
StartupWMClass=multisync
X-Desktop-File-Install-Version=0.3
Categories=Application;Utility;X-Red-Hat-Base;
X-Ubuntu-Gettext-Domain=app-install-data
