[Desktop Entry]
X-AppInstall-Package=multisync0.90
X-AppInstall-Popcon=260
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Multisync-gui
Comment=Synchronization program for personal information such as calendars, addressbooks etc.
Exec=/usr/bin/multisync0.90
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_multisync-gui_multisync
StartupWMClass=multisync
X-Desktop-File-Install-Version=0.3
Categories=Application;Utility;X-Red-Hat-Base;
X-Ubuntu-Gettext-Domain=app-install-data
