[Desktop Entry]
X-AppInstall-Package=mythbuntu-control-centre
X-AppInstall-Popcon=276
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Mythbuntu Control Centre
Comment=Configure a Mythbuntu Appliance
Icon=_usr_share_mythbuntu-control-centre_glade_mythbuntu-control-centre
Exec=/usr/bin/mythbuntu-control-centre
Terminal=false
Type=Application
Categories=GTK;System;Settings

X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=app-install-data
