[Desktop Entry]
X-AppInstall-Package=mythtv-frontend
X-AppInstall-Popcon=5
X-AppInstall-Section=multiverse

Name=MythTV Frontend
Comment=A frontend for all content on a mythtv-backend
GenericName=MythTV Viewer
Exec=mythfrontend --service
Type=Application
Encoding=UTF-8
Icon=_usr_share_mythtv_themes_blue_myth_tv_logo
Categories=GNOME;Application;AudioVideo;Audio;Video
X-AppInstall-Package=mythtv
X-AppInstall-Popcon=5
X-Ubuntu-Gettext-Domain=app-install-data
