[Desktop Entry]
X-AppInstall-Package=nemiver
X-AppInstall-Popcon=107
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Nemiver Debugger
GenericName=C/C++ Debugger
Comment=Debug Applications
Icon=nemiver
Exec=nemiver
Categories=GNOME;Development;Debugger;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
