[Desktop Entry]
X-AppInstall-Package=nessus
X-AppInstall-Popcon=340
X-AppInstall-Section=universe

# The format of this file is specified at
# http://freedesktop.org/Standards/desktop-entry-spec/
# The entries are in the order they are listed in version 0.9.4
Type=Application
Version=1.0
Encoding=UTF-8
Name=Nessus
GenericName=Vulnerability Scanner
Comment=Network vulnerability scanner
Icon=nessus.xpm
TryExec=nessus
Exec=nessus
Path=
Terminal=false
MimeType=
Categories=GNOME;Application;Network;
X-Ubuntu-Gettext-Domain=app-install-data
