[Desktop Entry]
X-AppInstall-Package=netbeans
X-AppInstall-Popcon=597
X-AppInstall-Section=universe

Name=NetBeans IDE 6.5
Comment=Integrated Development Environment
TryExec=/usr/bin/netbeans
Exec=/usr/bin/netbeans
Icon=_usr_share_netbeans_6.5_nb6.5_netbeans
Categories=Development;Java;IDE;
Terminal=false
Type=Application
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
