[Desktop Entry]
X-AppInstall-Package=nfoview
X-AppInstall-Popcon=9
X-AppInstall-Section=universe

Name=NFO Viewer
Comment=View NFO files
Exec=nfoview %F
Terminal=false
StartupNotify=true
Icon=dialog-information
Type=Application
MimeType=text/x-nfo;
Categories=GTK;Utility;Viewer;
X-Ubuntu-Gettext-Domain=app-install-data
