[Desktop Entry]
X-AppInstall-Package=nip2
X-AppInstall-Popcon=62
X-AppInstall-Section=universe

Encoding=UTF-8
Name=nip2
Comment=Image manipulation program based on VIPS
Exec=/usr/bin/nip2
Icon=_usr_share_nip2_data_vips-128
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NIP2
StartupNotify=true
MimeType=image/x-vips
X-Ubuntu-Gettext-Domain=app-install-data
