[Desktop Entry]
X-AppInstall-Package=network-manager-pptp
X-AppInstall-Popcon=1168
X-AppInstall-Section=universe

Encoding=UTF-8
Name=PPTP VPN Connection Manager
GenericName=PPTP VPN Connection Manager
Comment=Add, Remove, and Edit PPTP VPN Connections
Exec=nm-vpn-properties --import-service org.freedesktop.NetworkManager.pptp --import-file %f
Icon=gnome-mime-application-x-pptp-settings
Terminal=false
Type=Application
DocPath=
Categories=GNOME;Application;Network;
MimeType=application/x-ppp-settings
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
