[Desktop Entry]
X-AppInstall-Package=network-manager-vpnc
X-AppInstall-Popcon=854
X-AppInstall-Section=universe

Encoding=UTF-8
Name=VPN Connection Manager (vpnc)
GenericName=VPN Connection Manager (vpnc)
Comment=Add, Remove, and Edit VPN Connections
Exec=nm-vpn-properties --import-service org.freedesktop.NetworkManager.vpnc --import-file %f
Icon=gnome-mime-application-x-cisco-vpn-settings
Terminal=false
Type=Application
DocPath=
Categories=GNOME;Application;Network;
MimeType=application/x-cisco-vpn-settings
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
