[Desktop Entry]
X-AppInstall-Package=noteedit
X-AppInstall-Popcon=227
X-AppInstall-Section=universe

Name=NoteEdit
Exec=noteedit %i -caption "%c"
MimeType=audio/x-notes;
Type=Application
Comment=Note editor
Terminal=false
Icon=noteedit
ServiceTypes=Browser/View
X-KDE-Library=libnoteedit
Categories=Qt;KDE;AudioVideo;
X-Ubuntu-Gettext-Domain=app-install-data
