[Desktop Entry]
X-AppInstall-Package=ntfs-config
X-AppInstall-Popcon=1443
X-AppInstall-Section=universe

Encoding=UTF-8
Name=NTFS Configuration Tool
Comment=Enable/disable write support for NTFS with a simple click.
Exec=gksu ntfs-config
Terminal=false
Type=Application
Icon=gnome-dev-harddisk
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=app-install-data
