[Desktop Entry]
X-AppInstall-Package=nvidia-settings
X-AppInstall-Popcon=6437
X-AppInstall-Section=main

Type=Application
Encoding=UTF-8
Name=NVIDIA X Server Settings
Comment=Configure NVIDIA X Server Settings
Exec=/usr/bin/nvidia-settings
Icon=_usr_share_pixmaps_nvidia-settings
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=app-install-data
