
[Desktop Entry]
X-AppInstall-Package=octave3.0
X-AppInstall-Popcon=1253
X-AppInstall-Section=universe

Name=GNU Octave
Comment=Scientific Computing using GNU Octave
TryExec=/usr/bin/octave-3.0.1
Exec=/usr/bin/octave-3.0.1
Icon=_usr_share_octave_3.0.1_imagelib_octave-sombrero
Terminal=true
Type=Application
Categories=Education;Science;Math;
StartupNotify=false
X-Desktop-File-Install-Version=0.15
X-Ubuntu-Gettext-Domain=app-install-data
