[Desktop Entry]
X-AppInstall-Package=oleo
X-AppInstall-Popcon=38
X-AppInstall-Section=universe

Version=1.0
Name=Oleo Spreadsheet Program
Comment=Spreadsheet program
Exec=oleo
Icon=oleo
Type=Application
Terminal=false
Categories=Math;Science;
X-Ubuntu-Gettext-Domain=app-install-data
