[Desktop Entry]
X-AppInstall-Package=onboard
X-AppInstall-Popcon=11305
X-AppInstall-Section=main

Name=onBoard
GenericName= onBoard onscreen keyboard
Comment=Flexible onscreen keyboard for gnome
Exec=onboard
Terminal=false
Type=Application
#Categories=Application;Accessibility;
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;Accessibility;
NoDisplay=true
MimeType=application/x-onboard;
Icon = /usr/share/onboard/data/onboard.svg
X-Ubuntu-Gettext-Domain=app-install-data
