[Desktop Entry]
X-AppInstall-Package=oolite
X-AppInstall-Popcon=99
X-AppInstall-Section=multiverse

Type=Application
Encoding=UTF-8
Name=Oolite
GenericName=
Comment=A space simulation game
Icon=_usr_share_pixmaps_oolite-logo1
Exec=/usr/games/oolite
Terminal=false
Categories=Game;Simulation;
X-Ubuntu-Gettext-Domain=app-install-data
