[Desktop Entry]
X-AppInstall-Package=openvas-client
X-AppInstall-Popcon=43
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Categories=Application;Security;System
Icon=OpenVAS-Client.xpm
Exec=OpenVAS-Client
Terminal=false
Name=OpenVAS-Client
Comment=GTK+-2 Client for OpenVAS and Nessus Security Scanners
X-SuSE-translate=false
X-Ubuntu-Gettext-Domain=app-install-data
