[Desktop Entry]
X-AppInstall-Package=opencubicplayer
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

Name=Open Cubic Player
Comment=Open Cubic Player 0.1.15 for UNIX
Exec=/usr/bin/ocp
Icon=_usr_share_pixmaps_mini_opencubicplayer_mini
Terminal=1
Type=Application
Categories=Audio;AudioVideo;Player;
X-Ubuntu-Gettext-Domain=app-install-data
