[Desktop Entry]
X-AppInstall-Package=openglad
X-AppInstall-Popcon=63
X-AppInstall-Section=universe

Version=0.9.2
Name=Openglad
Type=Application
Comment=A top-down guantlet-style RPG
Exec=openglad
TryExec=openglad
Path=
Icon=openglad.xpm
Categories=Game;ArcadeGame;ActionGame;
X-Ubuntu-Gettext-Domain=app-install-data
