[Desktop Entry]
X-AppInstall-Package=openmovieeditor
X-AppInstall-Popcon=858
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Open Movie Editor
Comment=Simple non-linear video edito
Exec=openmovieeditor
Icon=_usr_share_pixmaps_openmovieeditor
Terminal=false
Type=Application
Categories=Application;AudioVideo
X-Ubuntu-Gettext-Domain=app-install-data
