[Desktop Entry]
X-AppInstall-Package=openoffice.org-draw
X-AppInstall-Popcon=59337
X-AppInstall-Section=main

Version=1.0
Terminal=false
Exec=ooffice -draw %F
Icon=ooo-draw
Type=Application
Categories=Graphics;VectorGraphics;
StartupNotify=false
InitialPreference=6
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.stardivision.draw;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;
Name=OpenOffice.org Drawing
GenericName=Drawing
Comment=Create and edit drawings, flow charts, and logos.
X-Ubuntu-Gettext-Domain=app-install-data
