[Desktop Entry]
X-AppInstall-Package=openttd
X-AppInstall-Popcon=218
X-AppInstall-Section=multiverse

Version=1.0
Type=Application
Name=OpenTTD
Categories=Game;Simulation;
Comment=An open-source clone of the classic game Transport Tycoon Deluxe™
Terminal=false
TryExec=openttd
Exec=openttd
Icon=openttd.32
X-Ubuntu-Gettext-Domain=app-install-data
