[Desktop Entry]
X-AppInstall-Package=openoffice.org-calc
X-AppInstall-Popcon=69259
X-AppInstall-Section=main

Version=1.0
Terminal=false
Exec=ooffice -calc %F
Icon=ooo-calc
Type=Application
InitialPreference=6
Categories=Application;Office;Spreadsheet;
StartupNotify=false
MimeType=application/msexcel;application/vnd.lotus-1-2-3;application/vnd.ms-excel;application/vnd.oasis.opendocument.chart;application/vnd.oasis.opendocument.chart-template;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;application/vnd.stardivision.calc;application/vnd.stardivision.chart;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/x-dbase;application/x-dbf;application/x-quattropro;text/csv;text/spreadsheet;text/x-csv;application/vnd.ms-excel.sheet.binary.macroEnabled.12;application/vnd.ms-excel.sheet.macroEnabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;
Name=OpenOffice.org Spreadsheet
GenericName=Spreadsheet
Comment=Perform calculation, analyze information and manage lists in spreadsheets.
X-Ubuntu-Gettext-Domain=app-install-data
