[Desktop Entry]
X-AppInstall-Package=opencity
X-AppInstall-Popcon=189
X-AppInstall-Section=universe

Name=OpenCity
Comment=a 3D city simulator game
Exec=/usr/games/opencity
Icon=opencity
Terminal=false
Type=Application
Categories=Game;StrategyGame;
X-Ubuntu-Gettext-Domain=app-install-data
