[Desktop Entry]
X-AppInstall-Package=openoffice.org-impress
X-AppInstall-Popcon=56630
X-AppInstall-Section=main

Version=1.0
Terminal=false
Exec=ooffice -impress %F
Icon=ooo-impress
Type=Application
Categories=Application;Office;Presentation;
StartupNotify=false
MimeType=application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.stardivision.impress;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.ms-powerpoint.slideshow.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.ms-powerpoint.presentation.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;
InitialPreference=5
Name=OpenOffice.org Presentation
GenericName=Presentation
Comment=Create and edit presentations for slideshows, meeting and Web pages.
X-Ubuntu-Gettext-Domain=app-install-data
