[Desktop Entry]
X-AppInstall-Package=openoffice.org-math
X-AppInstall-Popcon=37715
X-AppInstall-Section=main

Version=1.0
Terminal=false
NoDisplay=true
Exec=ooffice -math %F
Icon=ooo-math
Type=Application
Categories=Application;Office;Math;
StartupNotify=false
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.formula-template;application/vnd.stardivision.math;application/vnd.sun.xml.math;text/mathml;
Name=OpenOffice.org Formula
GenericName=Formula
Comment=Create and edit scientific formulas and equations.
X-SuSE-Unimportant=true
X-Ubuntu-Gettext-Domain=app-install-data
