[Desktop Entry]
X-AppInstall-Package=oregano
X-AppInstall-Popcon=190
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Oregano electrical engineering tool
GenericName=Electrical engineering tool
Comment=Schematic capture and simulation of electronic circuits
TryExec=oregano
Exec=oregano
Icon=gnome-oregano.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Science;Education;Electronics;
MimeType=application/x-oregano;
X-Ubuntu-Gettext-Domain=app-install-data
