[Desktop Entry]
X-AppInstall-Package=parsec47
X-AppInstall-Popcon=23
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=PARSEC47
GenericName=
Comment=Kenta Cho's PARSEC47
Icon=parsec47.xpm
Exec=/usr/games/parsec47
Terminal=false
Categories=Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
