[Desktop Entry]
X-AppInstall-Package=passage
X-AppInstall-Popcon=13
X-AppInstall-Section=universe

Type=Application
Name=Passage
Icon=passage
Exec=passage
Terminal=false
Categories=Game;AdventureGame;
X-Ubuntu-Gettext-Domain=app-install-data
