[Desktop Entry]
X-AppInstall-Package=patchage
X-AppInstall-Popcon=398
X-AppInstall-Section=universe

Name=Patchage
Comment=Manage JACK and MIDI connections
Encoding=UTF-8
TryExec=patchage
Exec=patchage
Icon=_usr_share_pixmaps_patchage
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;AudioVideo;
X-Ubuntu-Gettext-Domain=app-install-data
