[Desktop Entry]
X-AppInstall-Package=pathological
X-AppInstall-Popcon=71
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Pathological
Icon=pathological.xpm
GenericName=A puzzle game involving paths and marbles
Exec=pathological
Categories=Game;LogicGame;
X-Ubuntu-Gettext-Domain=app-install-data
