[Desktop Entry]
X-AppInstall-Package=pavucontrol
X-AppInstall-Popcon=1727
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=PulseAudio Volume Control
GenericName=Volume Control
Comment=Adjust the volume level
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=Application;AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
