[Desktop Entry]
X-AppInstall-Package=pcsx-df
X-AppInstall-Popcon=176
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Type=Application
Name=PCSX
GenericName=Playstation Emulator
Comment=Sony Playstation emulator
Exec=pcsx
Icon=pcsx-icon.png
Categories=Application;Game;Emulator;GTK
X-Ubuntu-Gettext-Domain=app-install-data
