[Desktop Entry]
X-AppInstall-Package=pengupop
X-AppInstall-Popcon=43
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Pengupop
Comment=Networked Game in the vein of Move/Puzzle Bobble
Exec=pengupop
StartupNotify=false
Terminal=false
Type=Application
Icon=pengupop.png
Categories=Application;Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
