[Desktop Entry]
X-AppInstall-Package=performous
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Performous
Comment=A karaoke game
Exec=performous
Icon=performous.png
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
