[Desktop Entry]
X-AppInstall-Package=pgadmin3
X-AppInstall-Popcon=662
X-AppInstall-Section=universe

Name=pgAdmin III
Comment=PostgreSQL Administration Tool
Exec=pgadmin3
Terminal=false
Type=Application
Icon=pgadmin3
Categories=GNOME;Database;System;Development;
X-Ubuntu-Gettext-Domain=app-install-data
