[Desktop Entry]
X-AppInstall-Package=pidgin
X-AppInstall-Popcon=32721
X-AppInstall-Section=main

Encoding=UTF-8
Name=Pidgin Internet Messenger
GenericName=Internet Messenger
Comment=Send instant messages over multiple protocols
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;


X-Ubuntu-Gettext-Domain=app-install-data
