[Desktop Entry]
X-AppInstall-Package=pioneers
X-AppInstall-Popcon=97
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Pioneers Editor
Comment=Create your own game for Pioneers
Exec=pioneers-editor
Icon=pioneers-editor.png
Terminal=false
Type=Application
Categories=Game;BoardGame;GNOME;GTK;
X-Ubuntu-Gettext-Domain=app-install-data
