[Desktop Entry]
X-AppInstall-Package=pipewalker
X-AppInstall-Popcon=85
X-AppInstall-Section=universe

Version=1.0
Type=Application
Encoding=UTF-8
Name=Pipewalker
Comment=Connect all hosts to network!
TryExec=/usr/games/pipewalker
Exec=/usr/games/pipewalker
Categories=Game;LogicGame;
Icon=_usr_share_pixmaps_PipeWalker
MimeType=
X-Ubuntu-Gettext-Domain=app-install-data
