[Desktop Entry]
X-AppInstall-Package=pitivi
X-AppInstall-Popcon=696
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Pitivi Video Editor
Comment=Non-linear video editor
Exec=pitivi
Terminal=false
Type=Application
Icon=pitivi.png
Categories=GNOME;GTK;Application;AudioVideo;X-Ximian-Main;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=pitivi
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.11.3
X-Ubuntu-Gettext-Domain=app-install-data
