[Desktop Entry]
X-AppInstall-Package=poe.app
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=Utility;FileTools;
Name=Poe
Comment=A Pugnacious Ogg Editor
Icon=_usr_lib_GNUstep_Applications_Poe.app_Resources_Poe
Exec=Poe
X-Ubuntu-Gettext-Domain=app-install-data
