[Desktop Entry]
X-AppInstall-Package=pokerth
X-AppInstall-Popcon=512
X-AppInstall-Section=universe

Name=PokerTH
Exec=pokerth
Icon=pokerth
GenericName=Poker Card Game
Comment=Texas hold'em game
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;Game;CardGame;
X-Ubuntu-Gettext-Domain=app-install-data
