[Desktop Entry]
X-AppInstall-Package=prefixsuffix
X-AppInstall-Popcon=39
X-AppInstall-Section=universe

Encoding=UTF-8
Name=PrefixSuffix
Comment=Batch renaming of files.
Exec=prefixsuffix %U
Terminal=false
Type=Application
StartupNotify=true
Icon=prefixsuffix
Categories=Application;Utility
X-GNOME-DocPath=prefixsuffix/prefixsuffix.xml

X-Ubuntu-Gettext-Domain=app-install-data
