[Desktop Entry]
X-AppInstall-Package=preferences.app
X-AppInstall-Popcon=73
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=DesktopSettings;Settings;
Name=Preferences
Comment=GNUstep Preferences Editor
Icon=Preferences.tiff
Exec=Preferences
MimeType=application/x-gnustep-prefsmodule;
X-Ubuntu-Gettext-Domain=app-install-data
