[Desktop Entry]
X-AppInstall-Package=prism-google-groups
X-AppInstall-Popcon=109
X-AppInstall-Section=universe

Version=1.0
Name=Google Groups
GenericName=Prism for Google Groups
Exec=prism-google-groups
Terminal=false
Type=Application
Icon=prism-google-groups
Categories=GTK;Network;News;
StartupWMClass=Prism
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
