[Desktop Entry]
X-AppInstall-Package=prism-twitter
X-AppInstall-Popcon=103
X-AppInstall-Section=universe

Version=1.0
Name=twitter
GenericName=Prism for twitter
Exec=prism-twitter
Terminal=false
Type=Application
Icon=prism-twitter
Categories=GTK;Network;
StartupWMClass=Prism
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
