[Desktop Entry]
X-AppInstall-Package=prism
X-AppInstall-Popcon=1486
X-AppInstall-Section=universe

Version=1.0
Name=Prism
GenericName=Prism for Web Applications
Exec=prism %u
Terminal=false
Type=Application
Icon=prism
Categories=GTK;Network;
MimeType=application/vnd.mozilla.webapp;
StartupWMClass=Prism
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
