[Desktop Entry]
X-AppInstall-Package=prism-google-mail
X-AppInstall-Popcon=410
X-AppInstall-Section=universe

Version=1.0
Name=Google Mail (GMail)
GenericName=Prism for Google Mail (GMail)
Exec=prism-google-mail
Terminal=false
Type=Application
Icon=prism-google-mail
Categories=GTK;Network;Email;
StartupWMClass=Prism
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
