[Desktop Entry]
X-AppInstall-Package=prism-google-talk
X-AppInstall-Popcon=226
X-AppInstall-Section=universe

Version=1.0
Name=Google Talk
GenericName=Prism for Google Talk
Exec=prism-google-talk
Terminal=false
Type=Application
Icon=prism-google-talk
Categories=GTK;Network;InstantMessaging;
StartupWMClass=Prism
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
