[Desktop Entry]
X-AppInstall-Package=bouml
X-AppInstall-Popcon=252
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Project Synchro
Type=Application
Comment=Bouml project's files synchronization
Exec=/usr/lib/bouml/projectSynchro
TryExec=projectSynchro
Icon=projectSynchro
Categories=Development;
X-Ubuntu-Gettext-Domain=app-install-data
