[Desktop Entry]
X-AppInstall-Package=bouml
X-AppInstall-Popcon=252
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Project Control
Type=Application
Comment=Bouml project's files control
Exec=/usr/lib/bouml/projectControl
TryExec=projectControl
Icon=projectControl
Categories=Development;
X-Ubuntu-Gettext-Domain=app-install-data
