[Desktop Entry]
X-AppInstall-Package=puredata
X-AppInstall-Popcon=546
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=PureData
GenericName=
Comment=
Icon=puredata.xpm
Exec=/usr/bin/pd
Terminal=false
Categories=AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
