[Desktop Entry]
Encoding=UTF-8
Name=PwdHash extension for Firefox
Comment=This extension automatically generates per-site passwords if you prefix your password with @@ or press F2 beforehand.
GenericName=Firefox password hashing extension
Type=Application
Icon=
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=pwdhash
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
