[Desktop Entry]
X-AppInstall-Package=pydance
X-AppInstall-Popcon=67
X-AppInstall-Section=universe

Version=1.0
Type=Application
Encoding=UTF-8
Name=pydance
Icon=pydance.png
GenericName=Dancing Game
Exec=pydance
Categories=Application;Game;ArcadeGame;Music
X-Ubuntu-Gettext-Domain=app-install-data
