[Desktop Entry]
X-AppInstall-Package=pype
X-AppInstall-Popcon=56
X-AppInstall-Section=universe

Name=PyPE
Comment=Python Programmers Editor
Exec=/usr/bin/pype
Icon=_usr_share_pype_icons_pype
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
