[Desktop Entry]
X-AppInstall-Package=python-wxtools
X-AppInstall-Popcon=432
X-AppInstall-Section=universe

Name=PyShell
Comment=GUI Python Shell
Exec=pyshell
Icon=pyshell
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
