[Desktop Entry]
X-AppInstall-Package=pysol
X-AppInstall-Popcon=313
X-AppInstall-Section=universe

Version=1.0
Type=Application
Encoding=UTF-8
Name=PySol
GenericName=Python Solitaire Suite
Comment=Collection of Solitaire style games
Icon=pysol
TryExec=pysol
Exec=pysol
Path=/usr/games
Terminal=false
Categories=Application;Game;CardGame;
X-Ubuntu-Gettext-Domain=app-install-data
