[Desktop Entry]
X-AppInstall-Package=python3.0
X-AppInstall-Popcon=380
X-AppInstall-Section=universe

Name=Python (v3.0)
Comment=Python Interpreter (v3.0)
Exec=/usr/bin/python3.0
Icon=_usr_share_pixmaps_python3.0
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
