[Desktop Entry]
X-AppInstall-Package=qamix
X-AppInstall-Popcon=420
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=qamix
Icon=qamix
Name=QAMix
Comment=Configurable mixer for ALSA
Terminal=false
Categories=Application;AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
