[Desktop Entry]
X-AppInstall-Package=qbittorrent
X-AppInstall-Popcon=104
X-AppInstall-Section=universe

Categories=Qt;Network;P2P
Comment=V1.3.1
Exec=qbittorrent %f
GenericName=Bittorrent client
Icon=qbittorrent
MimeType=application/x-bittorrent;
Name=qBittorrent
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
