[Desktop Entry]
X-AppInstall-Package=qdacco
X-AppInstall-Popcon=10
X-AppInstall-Section=universe

Type=Application
Name=Qdacco dictionary
GenericName=Catalan - English Dictionary
Comment=Search words in an catalan - english dictionary
Icon=_usr_share_qdacco_qdacco
Exec=qdacco
Terminal=false
Categories=Utility;Dictionary;
X-Ubuntu-Gettext-Domain=app-install-data
