[Desktop Entry]
X-AppInstall-Package=qdvdauthor
X-AppInstall-Popcon=572
X-AppInstall-Section=multiverse

Name=QDVDAuthor
Comment=DVD Author GUI
Icon=qdvdauthor
Exec=qdvdauthor
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.3
Categories=Qt;AudioVideo;
X-Ubuntu-Gettext-Domain=app-install-data
