[Desktop Entry]
X-AppInstall-Package=qink
X-AppInstall-Popcon=24
X-AppInstall-Section=universe

Name=QInk
Exec=qink
Icon=qink
Type=Application
Terminal=false
Comment=QInk ink level monitor
Categories=Qt;Utility
X-Ubuntu-Gettext-Domain=app-install-data
