[Desktop Entry]
X-AppInstall-Package=qjackctl
X-AppInstall-Popcon=1446
X-AppInstall-Section=universe

Name=JACK Control
Comment=QT Jack Control Interface
Exec=/usr/bin/qjackctl
Terminal=false
Type=Application
Icon=qjackctl
Categories=AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
