[Desktop Entry]
X-AppInstall-Package=qmidiarp
X-AppInstall-Popcon=47
X-AppInstall-Section=universe

Name=QMidiArp
Comment=MIDI arpeggiator for ALSA
Exec=qmidiarp
#Icon=/usr/share/icons/qmidiarp.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio
X-Ubuntu-Gettext-Domain=app-install-data
