[Desktop Entry]
X-AppInstall-Package=qmidicontrol
X-AppInstall-Popcon=30
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Exec=qmidicontrol
#Icon=qmidicontrol
Name=QMidiControl
Comment=Virtual MIDI fader box
Terminal=false
Categories=Application;AudioVideo;Audio;
X-Ubuntu-Gettext-Domain=app-install-data
