[Desktop Entry]
X-AppInstall-Package=language-selector-qt
X-AppInstall-Popcon=2100
X-AppInstall-Section=main

Name=Language Support
Comment=Configure multiple and native language support on your system
Exec=/usr/bin/qt-language-selector
Icon=language-selector.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;
X-KDE-SubstituteUID=true

Hidden=true
OnlyShowIn=KDE
X-Ubuntu-Gettext-Domain=app-install-data
