[Desktop Entry]
X-AppInstall-Package=qt4-qtconfig
X-AppInstall-Popcon=10099
X-AppInstall-Section=main

Categories=Qt;Settings;
Encoding=UTF-8
Exec=/usr/bin/qtconfig-qt4
Name=Qt 4 Settings
X-KDE-StartupNotify=true
Icon=qtconfig
Terminal=false
Type=Application


X-Ubuntu-Gettext-Domain=app-install-data
