[Desktop Entry]
X-AppInstall-Package=qtractor
X-AppInstall-Popcon=68
X-AppInstall-Section=universe

Name=Qtractor
GenericName=Multi-track Sequencer
Comment=Qtractor is an Audio/MIDI multi-track sequencer application
Exec=/usr/bin/qtractor
Icon=_usr_share_pixmaps_qtractor
Categories=Audio;AudioVideo;JACK;ALSA;Qt;
Terminal=false
Type=Application
X-SuSE-translate=true
X-Ubuntu-Gettext-Domain=app-install-data
