[Desktop Entry]
X-AppInstall-Package=qutim
X-AppInstall-Popcon=195
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=qutIM
GenericName=Instant Massanger
Exec=qutim
TryExec=qutim
Categories=Qt;Network;InstantMessaging;
Icon=_usr_share_pixmaps_qutim_64
X-Ubuntu-Gettext-Domain=app-install-data
