[Desktop Entry]
X-AppInstall-Package=rapache
X-AppInstall-Popcon=134
X-AppInstall-Section=universe

Name=rapache
Comment=Simple tool for managing and configuring an apache2 instance
TryExec=rapache
Exec=rapache
Icon=_usr_share_rapache_Glade_icon_cadsoft_eagle
Type=Application
Categories=System;

X-Ubuntu-Gettext-Domain=app-install-data
