[Desktop Entry]
X-AppInstall-Package=rasmol
X-AppInstall-Popcon=582
X-AppInstall-Section=universe

Version=1.0
Name=RasMol (GTK version)
GenericName=Molecular Graphics Visualization
Comment=View macro-molecules and prepare publication-quality images of them
Type=Application
Exec=rasmol-gtk
Icon=_usr_share_pixmaps_rasmol_32x32
Terminal=false
MimeType=chemical/x-pdb;
Categories=Science;Education;Biology;
X-Ubuntu-Gettext-Domain=app-install-data
