
[Desktop Entry]
X-AppInstall-Package=usermode
X-AppInstall-Popcon=613
X-AppInstall-Section=universe

Encoding=UTF-8
Name=About Myself
Comment=Change personal information
Exec=userinfo
Terminal=false
Type=Application
Icon=user_icon
X-Desktop-File-Install-Version=0.15
Categories=System;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
