[Desktop Entry]
X-AppInstall-Package=remotedesk.app
X-AppInstall-Popcon=190
X-AppInstall-Section=universe

Type=Application
Version=0.94
Name=RemoteDesktop
Categories=Network;RemoteAccess;
Icon=_usr_lib_GNUstep_Applications_RemoteDesk.app_Resources_remotedesk
Exec=RemoteDesk
X-Ubuntu-Gettext-Domain=app-install-data
