[Desktop Entry]
X-AppInstall-Package=salasaga
X-AppInstall-Popcon=39
X-AppInstall-Section=universe

Name=Salasaga
GenericName=eLearning IDE
Comment=Create eLearning for desktop applications
Icon=salasaga
Exec=salasaga
Type=Application
Terminal=false
StartupNotify=true
Categories=Graphics;2DGraphics;VectorGraphics;GTK;
X-Ubuntu-Gettext-Domain=app-install-data
