[Desktop Entry]
X-AppInstall-Package=schism
X-AppInstall-Popcon=23
X-AppInstall-Section=universe

Version=1.0
Name=Schism Tracker
Comment=Impulse Tracker Clone
Terminal=false
TryExec=schism
Exec=schism %f
Type=Application
Icon=schism-icon-128.png
Categories=GNOME;AudioVideo;Audio;Video;
MimeType=audio/x-mod
X-Desktop-File-Install-Version=0.10

[Desktop Action Play]
Name=Schism Tracker (play song)
Exec=schism -p %f
X-Ubuntu-Gettext-Domain=app-install-data
