[Desktop Entry]
X-AppInstall-Package=scim
X-AppInstall-Popcon=62914
X-AppInstall-Section=main

Name=SCIM Input Method Setup
Comment=Setup utility for Smart Common Input Method platform
Exec=scim-setup
Icon=scim-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
NotShowIn=KDE;

NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=app-install-data
