[Desktop Entry]
Encoding=UTF-8
Name=Scrapbook extension for Firefox
Comment=Firefox extension to save and manage Web pages
GenericName=Firefox extension
Type=Application
Icon=scrapbook
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=scrapbook
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
