[Desktop Entry]
X-AppInstall-Package=scribus-ng
X-AppInstall-Popcon=438
X-AppInstall-Section=universe

Type=Application
Name=ScribusNG
Comment=Graphic Page Layout and Publication (Development)
GenericName=Page Layout (Development)
Exec=scribus-ng %f
Icon=scribus-ng
Terminal=false
MimeType=application/vnd.scribus-ng;
Categories=Qt;Publishing;Graphics;
StartupWMClass=scribus-ng
X-AppInstall-Package=scribus-ng
X-AppInstall-Popcon=438
X-AppInstall-Section=main
StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
[X-Property::X-KDE-NativeExtension]
Type=QString
Value=.sla
X-Ubuntu-Gettext-Domain=app-install-data
