[Desktop Entry]
X-AppInstall-Package=scribus
X-AppInstall-Popcon=2647
X-AppInstall-Section=main

Type=Application
Name=Scribus
GenericName=Page Layout
MimeType=application/vnd.scribus;
Icon=scribus
Exec=scribus %f
Categories=Graphics;
Comment=Graphic Page Layout and Publication
[X-Property::X-KDE-NativeExtension]
Type=QString
Value=.sla

X-Ubuntu-Gettext-Domain=app-install-data
