[Desktop Entry]
X-AppInstall-Package=seahorse
X-AppInstall-Popcon=52442
X-AppInstall-Section=main

Name=Passwords and Encryption Keys
Comment=Manage your passwords and encryption keys
Exec=seahorse
Terminal=false
Type=Application
Icon=seahorse
Categories=GNOME;GTK;Security;Utility;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.26.1
X-GNOME-DocPath=seahorse/seahorse.xml

X-Ubuntu-Gettext-Domain=app-install-data
