[Desktop Entry]
X-AppInstall-Package=seahorse-plugins
X-AppInstall-Popcon=25003
X-AppInstall-Section=main

Name=Decrypt File
MimeType=application/pgp-encrypted;
Exec=seahorse-tool --decrypt
Type=Application
Terminal=false
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.26.1
X-GNOME-DocPath=seahorse/seahorse.xml

X-Ubuntu-Gettext-Domain=app-install-data
