[Desktop Entry]
X-AppInstall-Package=seamonkey-mailnews
X-AppInstall-Popcon=313
X-AppInstall-Section=universe

Name=Seamonkey Address Book
Comment=Seamonkey Address Book
Exec=seamonkey -addressbook
Icon=seamonkey-addressbook
Terminal=false
Type=Application
Categories=GTK;Office;ContactManagement;
StartupNotify=true
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
