[Desktop Entry]
X-AppInstall-Package=seamonkey-mailnews
X-AppInstall-Popcon=313
X-AppInstall-Section=universe

Name=Seamonkey Mail Composer
Comment=Seamonkey Mail Composer
Exec=seamonkey -compose
Icon=seamonkey-mail-compose
Terminal=false
Type=Application
Categories=GTK;Email;Network;
StartupNotify=true
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
