[Desktop Entry]
X-AppInstall-Package=seamonkey-browser
X-AppInstall-Popcon=3301
X-AppInstall-Section=universe

Name=Seamonkey Navigator
GenericName=Web Browser
Exec=seamonkey -browser %u
Terminal=false
Type=Application
Categories=GTK;WebBrowser;Network;
Icon=seamonkey
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
