[Desktop Entry]
X-AppInstall-Package=sear
X-AppInstall-Popcon=16
X-AppInstall-Section=universe

Categories=GNOME;Application;Game;X-Red-Hat-Base;
Comment=
Encoding=UTF-8
Exec=sear
GenericName=3d client for Worldforge MMORPGs
Icon=sear_icon
MimeType=
Name=Sear
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=app-install-data
