[Desktop Entry]
X-AppInstall-Package=simple-ccsm
X-AppInstall-Popcon=1018
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Simple CompizConfig Settings Manager
Comment=Configure Compiz with CompizConfig
Icon=simple-ccsm
Exec=simple-ccsm
Terminal=false
Type=Application
Categories=Compiz;Settings;DesktopSettings;
StartupNotify=true
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=app-install-data
