[Desktop Entry]
X-AppInstall-Package=snes9express
X-AppInstall-Popcon=143
X-AppInstall-Section=multiverse

Encoding=UTF-8
Name=snes9express
Comment=A frontend to snes9x
Exec=snes9express
Icon=snes9express.xpm
Terminal=false
Type=Application
Categories=Application;Game;2DGraphics;Emulator
X-Ubuntu-Gettext-Domain=app-install-data
