[Desktop Entry]
X-AppInstall-Package=somaplayer
X-AppInstall-Popcon=27
X-AppInstall-Section=universe

Name=Soma Music Player
Comment=Free music player.
Exec=somaplayer -g
Icon=_usr_share_icons_somaplayer_256
Terminal=0
Type=Application
DocPath=

X-Ubuntu-Gettext-Domain=app-install-data
