[Desktop Entry]
X-AppInstall-Package=sopwith
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Name=Sopwith
Comment=WW1 Dogfighting Game
Exec=sopwith
Icon=sopwith.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
