[Desktop Entry]
X-AppInstall-Package=space-orbit
X-AppInstall-Popcon=97
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Space-orbit
Comment=A 3D space combat simulator

Exec=orbit
Icon=
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame

X-Ubuntu-Gettext-Domain=app-install-data
