[Desktop Entry]
Encoding=UTF-8
Name=Speed Dial extension for Firefox
Comment=Speed Dial for fast access to your most visited websites
GenericName=Firefox extension
Type=Application
Icon=speeddial
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=speeddial
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
