[Desktop Entry]
X-AppInstall-Package=speedcrunch
X-AppInstall-Popcon=3968
X-AppInstall-Section=main

Encoding=UTF-8
Name=SpeedCrunch
Comment=High precision calculator
Exec=speedcrunch
Icon=speedcrunch
GenericName=Calculator
Terminal=false
Type=Application
Categories=Qt;Utility
X-Ubuntu-Gettext-Domain=app-install-data
