[Desktop Entry]
X-AppInstall-Package=spider
X-AppInstall-Popcon=360
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Spider
GenericName=
Comment=
Icon=Spider32x32.xpm
Exec=/usr/games/spider
Terminal=false
Categories=Application;Game;CardGame;
X-Ubuntu-Gettext-Domain=app-install-data
