[Desktop Entry]
X-AppInstall-Package=ssystem
X-AppInstall-Popcon=108
X-AppInstall-Section=universe

Version=1.0
Name=SSystem Space Simulator
GenericName=Space Simulator
Comment=Explore the solar system in this accurate simulation
Type=Application
Exec=ssystem
Icon=ssystem
Categories=Application;Education;Science;Astronomy;
X-Ubuntu-Gettext-Domain=app-install-data
