[Desktop Entry]
X-AppInstall-Package=stellarium
X-AppInstall-Popcon=1053
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Stellarium
GenericName=Desktop planetarium
Exec=stellarium
Icon=stellarium
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science
Comment=Planetarium
X-Ubuntu-Gettext-Domain=app-install-data
