[Desktop Entry]
X-AppInstall-Package=stella
X-AppInstall-Popcon=65
X-AppInstall-Section=multiverse

Encoding=UTF-8
Name=Stella
Comment=A multi-platform Atari 2600 emulator
Exec=stella
Icon=stella.png
Terminal=false
Type=Application
Categories=Application;Emulator;Game;
X-Ubuntu-Gettext-Domain=app-install-data
