[Desktop Entry]
X-AppInstall-Package=stepulator.app
X-AppInstall-Popcon=10
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=Calculator;Utility;
Name=Stepulator
Comment=
Exec=Stepulator
X-Ubuntu-Gettext-Domain=app-install-data
