[Desktop Entry]
X-AppInstall-Package=sugar
X-AppInstall-Popcon=66
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Sugar Emulator
Exec=/usr/bin/sugar-emulator -x
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
