[Desktop Entry]
Name=Sun Java 6.0 Plugin
Comment=Sun Java 6.0 Browser Plugin
Terminal=false
Type=Application
Categories=Application;Network
Icon=_usr_share_icons_sun-java6.xpm
X-AppInstall-Package=sun-java6-plugin
X-AppInstall-Popcon=0
X-AppInstall-Section=multiverse
X-AppInstall-Architectures=i386
X-Ubuntu-Gettext-Domain=app-install-data
