[Desktop Entry]
X-AppInstall-Package=sunbird
X-AppInstall-Popcon=2145
X-AppInstall-Section=universe

Name=Sunbird
Comment=Stand-Alone Calendar
GenericName=Calendar
Exec=sunbird
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=sunbird
Categories=Office;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=sunbird-bin
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
