[Desktop Entry]
X-AppInstall-Package=supertuxkart
X-AppInstall-Popcon=873
X-AppInstall-Section=universe

Name=Supertuxkart
GenericName=Supertuxkart
Icon=supertuxkart.xpm
Comment=a kart racing game
Exec=/usr/games/supertuxkart
Terminal=false
StartupNotify=false
Type=Application
Categories=3DGraphics;Game;ActionGame;Simulation;SportsGame;
X-Ubuntu-Gettext-Domain=app-install-data
