[Desktop Entry]
X-AppInstall-Package=swac-explore
X-AppInstall-Popcon=6
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Swac Explore
Exec=swac-explore
StartupNotify=false
Terminal=false
Categories=Education
Comment=audio collections of words (SWAC) explorer
X-Ubuntu-Gettext-Domain=app-install-data
