[Desktop Entry]
X-AppInstall-Package=sylpheed
X-AppInstall-Popcon=124
X-AppInstall-Section=universe

Name=Sylpheed
Comment=E-Mail client
Exec=sylpheed
Icon=sylpheed
Terminal=false
Type=Application
Categories=GTK;Network;Email;News;
X-Ubuntu-Gettext-Domain=app-install-data
