[Desktop Entry]
X-AppInstall-Package=tangerine
X-AppInstall-Popcon=36
X-AppInstall-Section=universe

Name=Tangerine Music Sharing
Encoding=UTF-8
Version=1.0
Exec=tangerine-properties
Type=Application
Icon=tangerine
Categories=Application;Settings;Utility;X-SuSE-ControlCenter-System;
X-Ubuntu-Gettext-Domain=app-install-data
