[Desktop Entry]
X-AppInstall-Package=tatan
X-AppInstall-Popcon=4
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Tatan
GenericName=
Comment=HIZ's Tatan
Icon=tatan.xpm
Exec=/usr/games/tatan
Terminal=false
Categories=Game;ArcadeGame;
X-Ubuntu-Gettext-Domain=app-install-data
