[Desktop Entry]
X-AppInstall-Package=taxbird
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

X-SuSE-translate=true
Categories=Finance;Office
Name=Taxbird
GenericName=Taxbird
Comment=freier Elster-Client für Linux
Type=Application
Exec=taxbird
Icon=taxbird.xpm
Terminal=false
MimeType=application/x-taxbird
X-Ubuntu-Gettext-Domain=app-install-data
