[Desktop Entry]
X-AppInstall-Package=themonospot
X-AppInstall-Popcon=20
X-AppInstall-Section=universe

Version=1.0
Name=Themonospot
GenericName=Themonospot
Comment=Themonospot - Parser and content descriptor for .avi and .mkv files
Icon=themonospot
Exec=themonospot
Categories=AudioVideo;AudioVideoEditing;GTK;GNOME;
Terminal=false
Type=Application
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
