[Desktop Entry]
X-AppInstall-Package=thunar
X-AppInstall-Popcon=6169
X-AppInstall-Section=universe

Version=1.0
Name=File Manager
Comment=Configure the Thunar file manager
Exec=thunar-settings
Icon=file-manager
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
