[Desktop Entry]
X-AppInstall-Package=thunar
X-AppInstall-Popcon=6169
X-AppInstall-Section=universe

Name=Bulk Rename
Comment=Rename Multiple Files
GenericName=Bulk Rename
Exec=/usr/lib/thunar/ThunarBulkRename %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Core;GTK;Filesystem;

# vi:set encoding=UTF-8:
X-Ubuntu-Gettext-Domain=app-install-data
