[Desktop Entry]
X-AppInstall-Package=thunderbird
X-AppInstall-Popcon=33050
X-AppInstall-Section=main

Name=Mozilla Thunderbird Mail/News
Comment=Read/Write Mail/News with Mozilla Thunderbird
GenericName=Mail Client
Exec=thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Thunderbird-bin
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
