[Desktop Entry]
X-AppInstall-Package=tilda
X-AppInstall-Popcon=361
X-AppInstall-Section=universe

Name=Tilda
Exec=tilda
Icon=tilda.png
Terminal=false
Type=Application
Categories=GTK;Utility;TerminalEmulator
X-Ubuntu-Gettext-Domain=app-install-data
