[Desktop Entry]
X-AppInstall-Package=tilp
X-AppInstall-Popcon=34
X-AppInstall-Section=universe

Name=TiLP
Comment=Ti Linking Program
GenericName=tilp
Version=1.0
Type=Application
Exec=/usr/bin/tilp
TryExec=
Icon=_usr_share_tilp_pixmaps_logo
X-GNOME-DocPath=
Terminal=false
Categories=Math;Education;Science
X-Ubuntu-Gettext-Domain=app-install-data
