[Desktop Entry]
X-AppInstall-Package=timemachine
X-AppInstall-Popcon=376
X-AppInstall-Section=universe

Name=JACK Timemachine
Exec=/usr/bin/timemachine
Icon=timemachine
Terminal=false
Type=Application
Categories=AudioVideo;
X-Ubuntu-Gettext-Domain=app-install-data
