[Desktop Entry]
X-AppInstall-Package=tmw
X-AppInstall-Popcon=115
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=The Mana World
Comment=An online fantasy role playing game
Icon=tmw
TryExec=tmw
Exec=tmw
Categories=Application;Game;AdventureGame;
X-Ubuntu-Gettext-Domain=app-install-data
