[Desktop Entry]
X-AppInstall-Package=todiscgui
X-AppInstall-Popcon=180
X-AppInstall-Section=universe

Name=todisc GUI
Type=Application
Exec=todiscgui
Icon=tovid
Terminal=false
GenericName=frontend for todisc
Comment=Author videos to DVD or SVCD
Categories=AudioVideo;Video;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
