[Desktop Entry]
X-AppInstall-Package=trustedqsl
X-AppInstall-Popcon=19
X-AppInstall-Section=universe

Encoding=UTF-8
Name=tqslcert
Comment=Manage certificates for LoTW
Exec=tqslcert
Icon=key16.png
Terminal=false
Type=Application
Categories=Utility;HamRadio;
X-Ubuntu-Gettext-Domain=app-install-data
