[Desktop Entry]
X-AppInstall-Package=tracker-search-tool
X-AppInstall-Popcon=52498
X-AppInstall-Section=main

Encoding=UTF-8
Name=Tracker Search Tool
Comment=Locate documents and folders on this computer by name or content using Tracker
Exec=tracker-search-tool
Icon=system-search
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Tracker Search Tool
X-GNOME-Bugzilla-Version=0.6.93


X-Ubuntu-Gettext-Domain=app-install-data
