[Desktop Entry]
X-AppInstall-Package=transcriber
X-AppInstall-Popcon=87
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Transcriber
Comment=Transcribe speech data using an integrated editor
TryExec=transcriber
Exec=transcriber
Icon=transcriber
Categories=Audio;AudioVideo
MimeType=application/wav
X-Ubuntu-Gettext-Domain=app-install-data
