[Desktop Entry]
X-AppInstall-Package=transfermii-gui
X-AppInstall-Popcon=19
X-AppInstall-Section=universe

Name=Transfermii
GenericName=Transfer miis from a wiimote
Exec=transfermii_gui
Icon=transfermii_gui.xpm
Terminal=false
Type=Application
Categories=Utility;HardwareSettings
X-Ubuntu-Gettext-Domain=app-install-data
