[Desktop Entry]
X-AppInstall-Package=transmission-gtk
X-AppInstall-Popcon=28578
X-AppInstall-Section=main

Name=Transmission BitTorrent Client
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Exec=transmission %F
Icon=transmission
Terminal=false
TryExec=transmission
Type=Application
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;GTK;

X-Ubuntu-Gettext-Domain=app-install-data
