[Desktop Entry]
X-AppInstall-Package=trigger
X-AppInstall-Popcon=317
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Trigger
GenericName=Trigger
Icon=trigger.xpm
Comment=3D rally racing car game
Exec=/usr/games/trigger
Terminal=false
StartupNotify=false
Type=Application
TryExec=/usr/games/trigger
Categories=3DGraphics;Game;ActionGame;
X-Ubuntu-Gettext-Domain=app-install-data
