[Desktop Entry]
X-AppInstall-Package=tsclient
X-AppInstall-Popcon=55970
X-AppInstall-Section=main

Name=Terminal Server Client
Comment=Connect to a remote computer
TryExec=tsclient
Exec=tsclient
Icon=tsclient
Terminal=false
Type=Application
Version=1.0
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;
Encoding=UTF-8

X-Ubuntu-Gettext-Domain=app-install-data
