[Desktop Entry]
X-AppInstall-Package=ttb
X-AppInstall-Popcon=35
X-AppInstall-Section=universe

Encoding=UTF-8
Name=TTB Teletekst Browser
Comment=Teletekst Browser
TryExec=ttb
Exec=ttb
Type=Application
Terminal=false
Categories=GTK;Network;
Icon=ttb
X-Ubuntu-Gettext-Domain=app-install-data
