[Desktop Entry]
Encoding=UTF-8
Name=Ubufox extension for Firefox
Comment=Extension package for Firefox, that ships various modifications for the Ubuntu default install of Firefox.
GenericName=Firefox theme extension
Type=Application
Icon=ubufox
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox;application/x-debian-xul-extension-firefox-2
StartupNotify=true

X-AppInstall-Package=ubufox
X-AppInstall-Popcon=2
X-AppInstall-Section=main
X-Ubuntu-Gettext-Domain=app-install-data
