[Desktop Entry]
X-AppInstall-Package=ufraw
X-AppInstall-Popcon=821
X-AppInstall-Section=universe

Name=UFRaw
GenericName=Raw image converter

Comment=A utility to read and manipulate raw images from digital cameras

Encoding=UTF-8
Version=1.0

Type=Application
Categories=Graphics;Photography;GTK;

Exec=ufraw %U
TryExec=ufraw
Terminal=false
StartupNotify=true

MimeType=application/x-ufraw;image/x-dcraw

Icon=ufraw.png
X-Ubuntu-Gettext-Domain=app-install-data
