[Desktop Entry]
X-AppInstall-Package=update-manager-hildon
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Name=Update Manager
GenericName=Software Updates
Comment=Show and install available updates
Exec=gksu /usr/bin/update-manager-hildon
Icon=update-manager
Terminal=false
Type=Application
Categories=System;Settings;
OnlyShowIn=GNOME;Mobile;

X-Ubuntu-Gettext-Domain=app-install-data
