[Desktop Entry]
X-AppInstall-Package=usb-creator
X-AppInstall-Popcon=8509
X-AppInstall-Section=main

Name=USB Startup Disk Creator
GenericName=USB Startup Disk Creator
Comment=Create a USB startup disk using a CD or disc image
Exec=usb-creator
Icon=usb-creator
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;Settings;GTK;HardwareSettings;

X-Ubuntu-Gettext-Domain=app-install-data
