[Desktop Entry]
Encoding=UTF-8
Name=User Agent Switcher extension for Firefox
Comment=Adds a menu and a toolbar button to switch the user agent of the browser.
GenericName=Firefox extension
Type=Application
Icon=useragentswitcher
Categories=Application;Network;
MimeType=application/x-debian-xul-extension-firefox
StartupNotify=true

X-AppInstall-Package=useragentswitcher
X-AppInstall-Popcon=0
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
