[Desktop Entry]
X-AppInstall-Package=valknut
X-AppInstall-Popcon=67
X-AppInstall-Section=universe

Type=Application
Name=Valknut
GenericName=valknut
Comment=Connect to Directo Connect network
Icon=valknut.xpm
Exec=valknut
Terminal=false
Categories=Application;Network;

X-Ubuntu-Gettext-Domain=app-install-data
