[Desktop Entry]
X-AppInstall-Package=ggz-python-games
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8

Name=Víbora
GenericName=GGZ Gaming Zone fullscreen client
Comment=GGZ Core Client

Type=Application
Exec=/usr/games/vibora
Icon=
Terminal=false
Categories=X-GGZ;Network;
X-Ubuntu-Gettext-Domain=app-install-data
