[Desktop Entry]
X-AppInstall-Package=vidalia
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Vidalia
GenericName=GUI controller for Tor Onion Routing Network 
Comment=GUI controller for Tor Onion Routing Network
Exec=/usr/bin/vidalia
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_vidalia
Categories=Network;Qt;Security;
X-Ubuntu-Gettext-Domain=app-install-data
