[Desktop Entry]
X-AppInstall-Package=virt-manager
X-AppInstall-Popcon=462
X-AppInstall-Section=main

Name=Virtual Machine Manager
Comment=Manage virtual machines
Icon=_usr_share_virt-manager_pixmaps_virt-manager-icon
Exec=virt-manager
Type=Application
Terminal=false
Encoding=UTF-8
Categories=System;
X-Ubuntu-Gettext-Domain=app-install-data
