[Desktop Entry]
X-AppInstall-Package=viruskiller
X-AppInstall-Popcon=86
X-AppInstall-Section=universe

Encoding=UTF-8
Categories=Application;Game;ArcadeGame;
X-Desktop-File-Install-Version=1.0
Name=Virus Killer
Icon=viruskiller.png
Exec=viruskiller
Terminal=0
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
