[Desktop Entry]
X-AppInstall-Package=visualvm
X-AppInstall-Popcon=33
X-AppInstall-Section=universe

Name=VisualVM
Comment=All-in-One Java Troubleshooting Tool
Exec=/usr/bin/jvisualvm
Icon=visualvm.xpm
Categories=Development;Java;
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=app-install-data
