[Desktop Entry]
X-AppInstall-Package=open-vm-toolbox
X-AppInstall-Popcon=75
X-AppInstall-Section=multiverse

Type=Application
Encoding=UTF-8
# NB: Generation of the Open VM Tools tarball depends on this line.  If you change it
# be sure to also fix up OVT staging targets.
Exec=vmware-user-suid-wrapper
Name=VMware User Agent
NoDisplay=true
X-KDE-autostart-phase=1
X-Ubuntu-Gettext-Domain=app-install-data
