[Desktop Entry]
X-AppInstall-Package=vym
X-AppInstall-Popcon=407
X-AppInstall-Section=universe

Type=Application
Exec=vym
Name=VYM - View Your Mind
Comment=Create mind maps
GenericName=Planning Tool
Icon=vym
MimeType=application/x-vym;
Categories=Qt;KDE;Education;
X-Ubuntu-Gettext-Domain=app-install-data
