[Desktop Entry]
X-AppInstall-Package=webissues
X-AppInstall-Popcon=4
X-AppInstall-Section=universe

Type=Application
Name=WebIssues
GenericName=Issue Tracker
Comment=Client for the WebIssues system
Icon=webissues
Exec=webissues
Categories=Qt;Office;ProjectManagement;
X-Ubuntu-Gettext-Domain=app-install-data
