[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Wine Microsoft Windows Compatibility Layer 
Categories=Application;Office
MimeType=application/x-ms-dos-executable;application/x-msdos-program;application/x-msdownload;application/exe;application/x-exe;application/dos-exe;vms/exe;application/x-winexe;application/msdos-windows;application/x-msdos-program;application/x-zip-compressed
X-AppInstall-Package=wine
X-AppInstall-Popcon=36489
X-AppInstall-Section=universe
X-AppInstall-Architectures=i386,amd64
X-Ubuntu-Gettext-Domain=app-install-data
