[Desktop Entry]
X-AppInstall-Package=wormux
X-AppInstall-Popcon=642
X-AppInstall-Section=universe

Name=Wormux
GenericName=Arcade Game
Comment=A 2D game where funny characters launch funny weapons
Exec=wormux
Icon=wormux_128x128.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;ActionGame;
X-Ubuntu-Gettext-Domain=app-install-data
