[Desktop Entry]
X-AppInstall-Package=wrapperfactory.app
X-AppInstall-Popcon=82
X-AppInstall-Section=universe

Name=WrapperFactory
Comment=Graphically create Unix application wrappers for GNUstep
Type=Application
Version=0.94
Categories=System;FileTools;
Icon=_usr_lib_GNUstep_Applications_WrapperFactory.app_Resources_WrapperFactory
Exec=WrapperFactory
X-Ubuntu-Gettext-Domain=app-install-data
