[Desktop Entry]
X-AppInstall-Package=ggz-python-games
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8

Name=Xadrez Chinês
GenericName=Chinese Chess game
Comment=GGZ game

Type=Application
Exec=/usr/games/xadrez-chines
Icon=
Terminal=false
Categories=X-GGZ-Games;BoardGame;Game;
X-Ubuntu-Gettext-Domain=app-install-data
