[Desktop Entry]
X-AppInstall-Package=xaos
X-AppInstall-Popcon=567
X-AppInstall-Section=main

Name=Xaos - Fractal Zoomer
Comment=Fractal Generator
Exec=/usr/bin/xaos -driver x11
Icon=xaos.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Application;Graphics;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
