[Desktop Entry]
X-AppInstall-Package=xconq
X-AppInstall-Popcon=76
X-AppInstall-Section=universe

Encoding=UTF-8
Name=XConq
Comment=Turn based strategy game

Exec=xconq
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Game;2DGraphics;StrategyGame;
MimeType=text/plain;
X-Ubuntu-Gettext-Domain=app-install-data
