[Desktop Entry]
X-AppInstall-Package=xdigger
X-AppInstall-Popcon=35
X-AppInstall-Section=universe

Name=xdigger
Comment=Arcade diamonds digging game.
Type=Application
Exec=xdigger
Icon=xdigger
Categories=Game;
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
