[Desktop Entry]
X-AppInstall-Package=xfig
X-AppInstall-Popcon=1089
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Xfig
Comment=Diagram editor
Exec=xfig
Icon=xfig
Terminal=false
Type=Application
Categories=Application;Graphics;
MimeType=image/x-fig;
X-Ubuntu-Gettext-Domain=app-install-data
