[Desktop Entry]
X-AppInstall-Package=xfmedia
X-AppInstall-Popcon=505
X-AppInstall-Section=universe

Version=1.0
Type=Application
Encoding=UTF-8
Name=Xfmedia
Comment=Lightweight Media Player
Exec=xfmedia %F
TryExec=xfmedia
Icon=xfmedia
Terminal=false
Categories=X-XFCE;AudioVideo;Player;
StartupNotify=true
MimeType=audio/ogg;audio/x-speex;application/ogg;video/x-ms-asf;video/x-ms-wmv;audio/x-aiff;audio/vnd.rn-realaudio;audio/basic;audio/x-wav;video/x-msvideo;video/quicktime;application/x-quicktime-media-link;video/x-flic;application/vnd.rn-realmedia;image/x-ilbm;video/x-anim;video/mpeg;audio/mpeg;audio/x-mpegurl;audio/x-mp3-playlist;audio/x-flac+off;audio/x-flac;
Actions=Enqueue;Enqueue and Play;

[Desktop Action Enqueue]
Exec=xfmedia-remote -a %F
Name=Enqueue in Xfmedia

[Desktop Action Enqueue and Play]
Exec=xfmedia-remote -p -a %F
Name=Enqueue and play with Xfmedia
X-Ubuntu-Gettext-Domain=app-install-data
