[Desktop Entry]
X-AppInstall-Package=xfprint4
X-AppInstall-Popcon=3132
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Xfce 4 Print Manager
Comment=Show the printer list and allow you to manage their jobs
Exec=xfprint4-manager
Icon=printer
Terminal=false
Type=Application
Categories=X-XFCE;Utility;
OnlyShowIn=XFCE;
GenericName=Print Manager
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
