[Desktop Entry]
X-AppInstall-Package=xfprint4
X-AppInstall-Popcon=3132
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Xfce 4 Print Dialog
Comment=Print a file and allow you to set up its layout
Exec=xfprint4
Icon=printer
Terminal=false
Type=Application
Categories=X-XFCE;Utility;
OnlyShowIn=XFCE;
GenericName=Print Dialog
NoDisplay=true
X-Ubuntu-Gettext-Domain=app-install-data
