[Desktop Entry]
X-AppInstall-Package=xoo
X-AppInstall-Popcon=32
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Xoo
Comment=Handheld Device Simulator
Exec=xoo
Terminal=false
Icon=xoo.png
Type=Application
Categories=GTK;Development;
StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
