[Desktop Entry]
X-AppInstall-Package=xoscope
X-AppInstall-Popcon=61
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Xoscope
GenericName=digital oscilloscope
GenericName=digitales Osziloskop
Exec=/usr/bin/xoscope
Type=Application
Terminal=false
Categories=GNOME;Application;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
