[Desktop Entry]
X-AppInstall-Package=xournal
X-AppInstall-Popcon=203
X-AppInstall-Section=universe

Type=Application

Name=Xournal
Comment=Take handwritten notes

Exec=xournal %f
Terminal=false
StartupNotify=true
MimeType=application/x-xoj;application/pdf;
Icon=xournal
Categories=GNOME;GTK;Utility;TextEditor;
X-Ubuntu-Gettext-Domain=app-install-data
