[Desktop Entry]
X-AppInstall-Package=xpdf-reader
X-AppInstall-Popcon=4020
X-AppInstall-Section=universe

Encoding=UTF-8
Name=xpdf
GenericName=PDF viewer
Comment=View PDF files
Exec=xpdf
Icon=xpdf.xpm
Terminal=false
Type=Application
MimeType=application/pdf;
Categories=PDFViewer;Viewer;Graphics;
X-Ubuntu-Gettext-Domain=app-install-data
