[Desktop Entry]
X-AppInstall-Package=xsensors
X-AppInstall-Popcon=450
X-AppInstall-Section=universe

Type=Application
Name=X Sensors
GenericName=X Sensors
Comment=View hardware health
Icon=xsensors.xpm
Exec=/usr/bin/xsensors
Terminal=false
Categories=System;
X-Ubuntu-Gettext-Domain=app-install-data
