[Desktop Entry]
X-AppInstall-Package=xshogi
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Name=Xshogi
Comment=Play Shogi Game
Exec=xshogi
Icon=grisbi.png
Terminal=false
Categories=Application;Game;
X-Ubuntu-Gettext-Domain=app-install-data
