[Desktop Entry]
X-AppInstall-Package=xsmbrowser
X-AppInstall-Popcon=136
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=xsmbrowser
GenericName=Samba Network Browser
Comment=Samba Network Browser
Icon=_usr_share_pixmaps_gnome-term-linux2
Type=Application
Exec=xsmbrowser
Categories=Settings;
StartupNotify=true
Terminal=false
X-Ubuntu-Gettext-Domain=app-install-data
