[Desktop Entry]
X-AppInstall-Package=xvidcap
X-AppInstall-Popcon=280
X-AppInstall-Section=multiverse

Type=Application
Encoding=UTF-8
Name=XVidCap Screen Capture
GenericName=X11 Screencam
Comment=X11 Screencam
Icon=xvidcap.png
TryExec=xvidcap
Exec=xvidcap
Terminal=false
Categories=GTK;Application;AudioVideo;Video;
X-Ubuntu-Gettext-Domain=app-install-data
