[Desktop Entry]
X-AppInstall-Package=yabause-qt
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Type=Application
Name=Yabause (Qt port)
Comment=Sega Saturn emulator
TryExec=yabause-qt
Exec=yabause-qt
Icon=yabause-qt
Categories=KDE;Qt;Game;
X-Ubuntu-Gettext-Domain=app-install-data
