[Desktop Entry]
X-AppInstall-Package=yate-gtk2
X-AppInstall-Popcon=15
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Yate
GenericName=VoIP Phone
Comment=Place phone calls over the Internet
Exec=yate-gtk2
TryExec=yate-gtk2
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;GTK
X-Ubuntu-Gettext-Domain=app-install-data
