[Desktop Entry]
X-AppInstall-Package=zblast-x11
X-AppInstall-Popcon=49
X-AppInstall-Section=universe

Name=ZBlast
Categories=Game;
Comment=Play a high-speed shoot 'em up game
Exec=xzb
Icon=xzb
Terminal=false
Type=Application
Version=1.0
X-Ubuntu-Gettext-Domain=app-install-data
