[Desktop Entry]
X-AppInstall-Package=zekr
X-AppInstall-Popcon=40
X-AppInstall-Section=multiverse

Encoding=UTF-8
Name=Zekr 
Comment=Study The Quran
GenericName=Quranic Browser
Exec=zekr
Terminal=false
Type=Application
Icon=zekr-32.xpm
Categories=Utility;
MimeType=
X-Ubuntu-Gettext-Domain=app-install-data
