[Desktop Entry]
X-AppInstall-Package=zeroinstall-injector
X-AppInstall-Popcon=161
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Manage Programs
GenericName=Installer
Comment=Update or Remove Zero Install programs on your Applications menu
Exec=0desktop --manage
Icon=zeroinstall-zero2desktop
Terminal=false
Categories=PackageManager;GTK;
X-Ubuntu-Gettext-Domain=app-install-data
