style "panel"
{

xthickness = 4
ythickness = 0

  fg[NORMAL]        = "#fff"  
  text[NORMAL]             = "#ffffff"
  bg[NORMAL]               = "#0a0a0a"
  bg[SELECTED]             = "#0a0a0a"
 
}

widget "*PanelWidget*" style "panel"
widget "*PanelApplet*" style "panel"
class "*Panel*" style "panel"
#widget_class "*Mail*" style "panel"
########################################################################

style "panelbuttons"
{

 xthickness            			= 1
 ythickness            			= 2

	GtkWidget::focus_padding = 0

	engine "pixmap" {
      

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= PRELIGHT
			file            	= "Panel/panelbutton2.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow			= OUT
			state			= PRELIGHT
			file            	= "Panel/panelbutton1.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow			= IN
			state			= PRELIGHT
			file            	= "Panel/panelbutton3.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file            	= "Panel/panelbutton3.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file            	= "Panel/panelbutton2.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}  
    		image
    		{
      		function			= HANDLE
      		recolorable			= TRUE
      		overlay_file			= "Panel/handle-v.png"
      		overlay_stretch	= FALSE
      		orientation			= VERTICAL
    		}
    		image
    		{
      		function			= HANDLE
      		overlay_file			= "Panel/handle-h.png"
      		overlay_stretch 		= FALSE
     		orientation			= HORIZONTAL
   		}

	}

}

widget "*.tasklist-button" 			style "panelbuttons"
widget_class "*Xfce*Panel*.GtkToggleButton" 	style "panelbuttons"


style "titlebar"
{
  fg[NORMAL]        = "#fff"
  fg[ACTIVE]        = "#000"
}

widget "*PanelApplet*TaskTitle*" style "titlebar"



style "panelbuttons2"
{

 xthickness            			= 1
 ythickness            			= 2

	GtkWidget::focus_padding = 0

	engine "pixmap" {
      

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= PRELIGHT
			file            	= "Panel/button2.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow			= OUT
			state			= PRELIGHT
			file            	= "Panel/button2.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow			= IN
			state			= PRELIGHT
			file            	= "Panel/button2.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file            	= "Panel/button2.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file            	= "Panel/button2.png"
			border          	= { 4, 4, 4, 4 }
			stretch         	= TRUE
		}  
    		image
    		{
      		function			= HANDLE
      		recolorable			= TRUE
      		overlay_file			= "Panel/handle-v.png"
      		overlay_stretch	= FALSE
      		orientation			= VERTICAL
    		}
    		image
    		{
      		function			= HANDLE
      		overlay_file			= "Panel/handle-h.png"
      		overlay_stretch 		= FALSE
     		orientation			= HORIZONTAL
   		}

	}

}

widget "*.tasklist-button2" 			style "panelbuttons2"

