
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[ja_JP]=Twitter
Exec=firefox http://twitter.com
Comment[ja_JP]=Twitter
Name=Twitter
Comment=Twitter
Icon[ja_JP]=/usr/share/icons/araneo/user128x128.png
Icon=/usr/share/icons/araneo/twitter150x150.png
Comment[ja_JP.UTF-8]=twitter
