#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[ja_JP]=シャープユーザー登録
Exec=firefox /usr/share/sharp/MitUser/user.htm
Comment[ja_JP]=シャープユーザー登録
Name=シャープユーザー登録
Comment=シャープユーザー登録
Icon[ja_JP]=/usr/share/icons/araneo/user128x128.png
Icon=/usr/share/icons/araneo/user128x128.png
