#
#===  LONGCHEER  ===
#----- C01LC
SUBSYSTEM=="usb",SYSFS{idVendor}=="1c9e",SYSFS{idProduct}=="f000",RUN="/usr/share/usb-modeswitch/C01LC-script"
#----- D11LC
SUBSYSTEM=="usb",SYSFS{idVendor}=="1c9e",SYSFS{idProduct}=="1001",RUN="/usr/share/usb-modeswitch/D11LC-script"
#----- D12LC
SUBSYSTEM=="usb",SYSFS{idVendor}=="1c9e",SYSFS{idProduct}=="9101",RUN="/usr/share/usb-modeswitch/D12LC-script"
#----- D21LC
SUBSYSTEM=="usb",SYSFS{idVendor}=="1c9e",SYSFS{idProduct}=="9401",RUN="/usr/share/usb-modeswitch/D21LC-script"
#===  HUAWEI  ===
#----- D31HW
SUBSYSTEM=="usb",SYSFS{idVendor}=="12d1",SYSFS{idProduct}=="1446",RUN="/usr/share/usb-modeswitch/D31HW-script"
#===  ZTE  ===
#----- HX003ZT
SUBSYSTEM=="usb",SYSFS{idVendor}=="19d2",SYSFS{idProduct}=="0103",RUN="/usr/share/usb-modeswitch/HX003ZT-script"
#----- b-mobile 3G(MF626, MF636)
SUBSYSTEM=="usb",SYSFS{idVendor}=="19d2",SYSFS{idProduct}=="2000",RUN="/usr/share/usb-modeswitch/bmobileZTE-script"
#===  LG Electronics  ===
#----- L-02A
SUBSYSTEM=="usb",SYSFS{idVendor}=="1004",SYSFS{idProduct}=="610c",RUN="/usr/share/usb-modeswitch/L-02A-script"
#----- L-05A
SUBSYSTEM=="usb",SYSFS{idVendor}=="1004",SYSFS{idProduct}=="613a",RUN="/usr/share/usb-modeswitch/L-05A-script"
