[Desktop Entry]
Encoding=UTF-8
Name=Desktop Initialize
Comment=Desktop Initialize Script
Exec=/usr/share/wallpaper_select/desktopinit
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME
X-Ubuntu-Gettext-Domain=wallpaper-select
