[Desktop Entry]
Encoding=UTF-8
Name=Power Manager
Comment=Power management daemon
Icon=gnome-power-manager
Exec=gnome-power-manager
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-power-manager
X-GNOME-Bugzilla-Component=gnome-power-manager
X-GNOME-Bugzilla-Version=2.24.2
X-GNOME-Bugzilla-ExtraInfoScript=gnome-power-bugreport.sh
X-Ubuntu-Gettext-Domain=gnome-power-manager
