[Desktop Entry]
Name=Visual Assistance
Comment=Start the preferred visual assistive technology
Exec=gnome-at-visual -s
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=other capplets
X-GNOME-Bugzilla-Version=2.26.0
X-GNOME-Autostart-enabled=true
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
