[Desktop Entry]
Type=Application
Name=GNOME Settings Daemon Helper
Exec=/usr/lib/gnome-session/helpers/gnome-settings-daemon-helper
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-session
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.26.1
X-Ubuntu-Gettext-Domain=gnome-session-2.0
