[Desktop Entry]
Type=Application
Name=Indicator applet
Exec=sh -c "sleep 60 && python /usr/share/gnome-panel/add-indicator-applet.py"
OnlyShowIn=GNOME;
AutostartCondition=GNOME /apps/panel/need_add_indicator_applet
X-Ubuntu-Gettext-Domain=gnome-panel-2.0
