[Desktop Entry]
Encoding=UTF-8
Name=Update Notifier
Comment=Update notification daemon
Icon=update-notifier
Exec=update-notifier --startup-delay=60
Terminal=false
Type=Application
Categories=
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=update-notifier
