[Desktop Entry]
Version=1.0
Terminal=false
Icon=openofficeorg3-printeradmin
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=ooffice-printeradmin
Name=OpenOffice.org 3.0 Printer Administration
Name[en]=OpenOffice.org 3.0 Printer Administration
Name[af]=OpenOffice.org 3.0-drukkeradministrasie
Name[ar]=إدارة طابعات OpenOffice.org 3.0
Name[as_IN]=OpenOffice.org 3.0 মুদ্ৰক প্ৰশাসন
Name[be_BY]=Кіраванне прынтэрам OpenOffice.org 3.0
Name[bg]=Администриране на принтера за OpenOffice.org 3.0
Name[br]=Ardoadur moullerezed OpenOffice.org 3.0
Name[bs]=OpenOffice.org 3.0 administracija štampača
Name[ca]=Administració d'impressió de l'OpenOffice.org 3.0
Name[cs]=Administrace tiskáren OpenOffice.org 3.0
Name[cy]=Gweinyddu Argraffu OpenOffice.org 3.0
Name[da]=OpenOffice.org 3.0-printeradministration
Name[de]=OpenOffice.org 3.0 Druckerverwaltung
Name[dz]=OpenOffice.org 3.0 དཔར་འཕྲུལ་ བདག་སྐྱོང་།
Name[el]=Διαχείριση εκτυπωτή OpenOffice.org 3.0
Name[en_GB]=OpenOffice.org 3.0 Printer Administration
Name[en_ZA]=OpenOffice.org 3.0 Printer Administration
Name[eo]=OpenOffice.org 3.0 presila administrado
Name[es]=Administración de la impresora de OpenOffice.org 3.0 
Name[et]=OpenOffice.org 3.0-i printerite haldamine
Name[fa]=مدیریت چاپگر OpenOffice.org 3.0
Name[fi]=OpenOffice.org 3.0 - Tulostimen hallinta
Name[fr]=Gestion des imprimantes de OpenOffice.org 3.0
Name[ga]=Riarachán na bPrintéirí OpenOffice.org 3.0
Name[gl]=Administración da impresora de OpenOffice.org 3.0
Name[gu]=OpenOffice.org 3.0  પ્રિન્ટર સંચાલન
Name[gu_IN]=OpenOffice.org 3.0  પ્રિન્ટરનો વહીહટકર્તા
Name[he]=ניהול מדפסות ‏‪OpenOffice.org 3.0‬‏‏
Name[hi_IN]=OpenOffice.org 3.0 मुद्रक प्रशासन
Name[hr]=OpenOffice.org 3.0 aAdministracija pisača
Name[hu]=OpenOffice.org 3.0 Nyomtatókezelés
Name[it]=OpenOffice.org 3.0 Gestione stampanti
Name[ja]=OpenOffice.org 3.0 プリンタの管理
Name[ka]=OpenOffice.org 3.0 პრინტერის ადმინისტრაცია
Name[kk]=OpenOffice.org 3.0 Баспаны басқару
Name[km]=ការ​គ្រប់គ្រង​ម៉ាស៊ីន​បោះពុម្ព​ OpenOffice.org 3.0
Name[ko]=OpenOffice.org 3.0 프린터 관리
Name[ku]=OpenOffice.org 3.0 Rêvebiriya Çapgerê
Name[lt]=„OpenOffice.org 3.0“ spausdintuvo tvarkymas
Name[mk]=Администрирање на печатачи во OpenOffice.org 3.0
Name[ml_IN]=OpenOffice.org 3.0 Printer Administration
Name[mn]=OpenOffice.org 3.0 Хэвлэгчийн удирдлага
Name[mr_IN]=OpenOffice.org 3.0 मुद्रक व्यवस्थापन
Name[my]=OpenOffice.org 3.0 ပရင်တာ စီမံခန့်ခွဲခြင်း
Name[nb]=OpenOffice.org 3.0-skriveradministrasjon
Name[ne]=OpenOffice.org 3.0 मुद्रक प्रशासन
Name[nl]=OpenOffice.org 3.0-printerbeheer
Name[nn]=OpenOffice.org 3.0-skrivaradministrasjon
Name[nr]=OpenOffice.org 3.0 Ukuphathwa Kwesigadangisi
Name[ns]=OpenOffice.org 3.0 Taolo ya Segatiši
Name[or_IN]=OpenOffice.org 3.0 ପ୍ରିଣ୍ଟର ପ୍ରଶାସନ
Name[pa_IN]=OpenOffice.org 3.0 ਪਰਿੰਟਰ ਪਰਸ਼ਾਸ਼ਨ
Name[pl]=OpenOffice.org 3.0 - Zarządzanie drukarką
Name[pt]=OpenOffice.org 3.0 - Administração de impressoras
Name[pt_BR]=Administrador de impressoras do OpenOffice.org 3.0
Name[ru]=OpenOffice.org 3.0 Управление принтером
Name[rw]=Ubugenzuzi bwa Mucapyi OpenOffice.org 3.0
Name[sh]=OpenOffice.org 3.0 podešavanje štampača
Name[sk]=Správa tlačiarní OpenOffice.org 3.0
Name[sl]=Nastavitve tiskalnika OpenOffice.org 3.0
Name[sr]=OpenOffice.org 3.0 подешавање штампача
Name[ss]=OpenOffice.org 3.0 kuphatfwa kwephrinta
Name[st]=Taolo ya Sehatisi ya OpenOffice.org 3.0
Name[sv]=OpenOffice.org 3.0 skrivaradministration
Name[sw_TZ]=OpenOffice.org 3.0 Utawala wa Printa
Name[ta]=OpenOffice.org 3.0 அச்சடிப்பி நிர்வாகம்
Name[ta_IN]=OpenOffice.org 3.0 அச்சடிப்பி நிர்வாகம்
Name[te_IN]=ముద్రణా యంత్రం యోక్క OpenOffice.org 3.0 నిర్వహించు.
Name[tg]=Идоракунии чопкунаки OpenOffice.org 3.0
Name[th]=ตัวบริหารจัดการเครื่องพิมพ์ OpenOffice.org 3.0 
Name[ti_ER]=OpenOffice.org 3.0 ሓታሚት ኣማሓዳሪ
Name[tn]=OpenOffice.org 3.0 Printer Administration
Name[tr]=OpenOffice.org 3.0 Yazıcı Yönetimi
Name[ts]=Vukongomisi bya Printa OpenOffice.org 3.0
Name[uk]=Налаштування принтера OpenOffice.org 3.0
Name[ur_IN]=OpenOffice.org 3.0 ناشرانتظام
Name[uz]=OpenOffice.org 3.0 printerni boshqarish
Name[ve]=Mulanguli wa Phirinthara wa OpenOffice.org 3.0
Name[vi]=Quản trị máy in OpenOffice.org 3.0
Name[xh]=Ulawulo Lwesishicileli lwe-OpenOffice.org 3.0
Name[zh_CN]=OpenOffice.org 3.0 打印机管理
Name[zh_TW]=OpenOffice.org 3.0 印表機管理
Name[zu]=OpenOffice.org 3.0 Ukuphathwa komshicileli
